{"openapi":"3.1.0","info":{"title":"FillMap API","description":"FillMap API 문서","version":"v1"},"servers":[{"url":"https://api.fillmap.kr","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"격자 상세 (Grid Videos)","description":"격자를 탭했을 때 그 격자의 영상 조회 API — 내 영상 리스트·전역 대표 영상·전역 인기 목록."},{"name":"구역 (Zone)","description":"구역(\"서면\" 등)의 이름과 격자 사각형 범위. 검색바에서 구역으로 지도를 옮기거나 구역 범위를 오버레이로 그릴 때 쓴다 — 격자 표시명(\"서면 A-14\")은 서버가 계산해 격자 응답에 함께 싣는다."},{"name":"영상 (Video)","description":"영상 업로드·교체·삭제 API. 업로드는 presigned URL 발급 → S3 직접 업로드 → 메타데이터 저장 순서다."},{"name":"인증 (Auth)","description":"회원가입·로그인·소셜 로그인·토큰 재발급 API. 이 그룹의 엔드포인트는 인증 없이 호출한다."},{"name":"알림 (Notification)","description":"카테고리별 알림 수신 설정 조회/토글 API."},{"name":"행정동 (Region)","description":"좌표를 포함하는 행정동을 우리 region_code 체계로 판정하는 역지오코딩 API."},{"name":"알림 (Notification)","description":"FCM 푸시 토큰 등록/갱신·해제 API."},{"name":"장소 검색 (Search)","description":"장소명 자유 텍스트 검색 — 카카오 로컬 키워드 검색 실시간 프록시 + 격자 ID 합성."},{"name":"인기 검색어 (Trending)","description":"사용자 검색어 일별 집계 기반 인기 검색어 순위 — 오늘+어제 합산 TOP 10."},{"name":"전역 탐색 (Region Explore)","description":"행정동 축으로 전역 공개 콘텐츠를 탐색하는 API — 지도 홈 패널·전체 보기 격자 썸네일 뷰·검색 무입력 전체 지역 리스트."},{"name":"관리자 신고 처리 (Admin Report)","description":"접수된 영상 신고의 열람·승인·기각과 블라인드 해제·단건 확인 API (MSG-195). ADMIN 권한 필수."},{"name":"사용자 (User)","description":"계정 관리 API. 인증 필수 — 본인 계정만 대상이다."},{"name":"격자 (Grid)","description":"개인 도감 색칠 격자 조회 API — 로그인 사용자가 점령한 격자만 반환한다.\n\n격자는 EPSG:5179 미터 평면에서 100m 로 나눈 셀이다(2026-08-08 MSG-347 전까지는 위경도 등간격 근사였다). gridId 포맷 `\"{grid_y}_{grid_x}\"` 와 이 API 들의 요청·응답 구조는 그대로지만 **값은 전면 교체됐다** (같은 장소가 `41642_110458` 에서 `19422_9582` 로 바뀌었다). 예전 gridId 를 저장해 둔 클라이언트는 빈 결과를 받으므로 캐시를 비워야 한다.\n\n셀은 위경도 축과 평행하지 않다(자오선 수렴 최대 약 1.6도). 지도에 그릴 때 남서·북동 2점으로 만든 직사각형을 쓰면 어긋나므로 **꼭짓점 4점 폴리곤**으로 그린다. 화면에 보이는 격자 범위를 구할 때도 2점이 아니라 꼭짓점 4점의 min/max 를 써야 가장자리 셀이 빠지지 않는다.\n\n클라이언트가 같은 격자를 계산하려면 서버와 **글자 단위로 같은 proj4 정의**를 써야 한다: `+proj=tmerc +lat_0=38 +lon_0=127.5 +k=0.9996 +x_0=1000000 +y_0=2000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs`. 대조용 전국 샘플 200건은 서버 레포 `src/test/resources/fixtures/grid-epsg5179-samples.json` 에 있다."},{"name":"뱃지 (Badge)","description":"뱃지 API — 내 뱃지 목록 조회 · 대표 뱃지 집합 교체."},{"name":"친구 (Friend)","description":"고정 친구 코드 기반 친구 관계 API — 코드·요청·수락·거절·삭제 (MSG-185), 친구 목록·친구 프로필 조회 (MSG-186), 친구 도감 레이어(격자 뷰포트·격자 영상 목록, MSG-187, 축소 시야의 행정 단위 집계는 MSG-356). 인증 필수."},{"name":"미션 (Missions)","description":"지도 오버레이용 활성 미션 목록 조회 API."},{"name":"인증-개발용 (Auth Dev)","description":"로컬/dev 전용 — 소셜 로그인을 실제 소셜 토큰 없이 백엔드에서 테스트. 운영(prod) 미노출."},{"name":"신고 (Report)","description":"영상 신고 접수 API (MSG-192). 인증 필수."},{"name":"도감 (Collection)","description":"개인 도감 요약 조회 API — 로그인 사용자의 점령·영상·방문 행정동 집계."},{"name":"핫구역 (HotZone)","description":"최근 48시간 방문(업로드) 신호 상위 격자 조회 API — 개인화 없는 공용 목록."}],"paths":{"/api/videos/{videoId}":{"get":{"tags":["영상 (Video)"],"summary":"단건 영상 재생 조회","description":"영상 하나의 표시용 메타와 재생본 presigned GET URL을 발급한다. 소유자·타인 모두 조회할 수 있으나 삭제·블라인드(타인)는 404, 비공개(타인)·친구만 공개(비친구)는 403이다. READY가 아니면 playbackUrl은 null이다.","operationId":"getPlayback","parameters":[{"name":"videoId","in":"path","description":"재생할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoPlaybackResponseDto"}}}}}},"put":{"tags":["영상 (Video)"],"summary":"영상 교체","description":"기존 영상을 새 파일로 교체한다. 좌표를 생략하면 격자를 유지하고 파일만 교체하며, 좌표를 보내면 기존과 같은 격자여야 한다(다르면 거부). 교체 직후 상태는 UPLOADED다.","operationId":"replace","parameters":[{"name":"videoId","in":"path","description":"교체할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1001}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoReplaceRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoReplaceResponseDto"}}}}}},"delete":{"tags":["영상 (Video)"],"summary":"영상 삭제","description":"영상을 삭제한다. 해당 격자의 내 영상이 모두 사라지면 점령이 롤백(색칠 해제)된다.","operationId":"delete","parameters":[{"name":"videoId","in":"path","description":"삭제할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1001}],"responses":{"200":{"description":"OK"}}}},"/api/users/me/profile-image":{"put":{"tags":["사용자 (User)"],"summary":"프로필 이미지 변경 확정","description":"presign 으로 올린 pending 키를 확정해 프로필 이미지를 교체하고 갱신된 프로필을 반환한다. 내 pending 경로가 아니거나 확장자 없는 키는 1401, S3 에 실제로 없는 키는 1402, 실측 크기가 5MB 를 넘으면 1413. 교체된 이전 이미지는 응답 후 정리된다.","operationId":"updateProfileImage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileImageUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}},"delete":{"tags":["사용자 (User)"],"summary":"프로필 이미지 제거","description":"프로필 이미지를 기본 상태(null)로 되돌린다. 이미 기본 상태여도 성공한다(멱등). 응답은 변경 확정과 같은 프로필 형태다.","operationId":"removeProfileImage","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}}},"/api/users/me/nickname":{"put":{"tags":["사용자 (User)"],"summary":"닉네임 수정","description":"닉네임(2~20자)을 교체하고 변경 후 프로필을 반환한다. 중복 닉네임은 허용된다.","operationId":"updateNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NicknameUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}}},"/api/badges/featured":{"put":{"tags":["뱃지 (Badge)"],"summary":"대표 뱃지 집합 교체","description":"획득한 뱃지 중 최대 2개를 대표로 교체 지정한다(멱등). 배열 순서 = 표시 순서(rank 1·2), 빈 배열은 전부 해제. 미획득·미존재 뱃지는 7403, 중복 id 는 7400, 3개 이상은 400 이다.","operationId":"replaceFeatured","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturedBadgeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFeaturedBadgeResponseDto"}}}}}}},"/api/videos":{"post":{"tags":["영상 (Video)"],"summary":"영상 메타데이터 저장 (업로드 확정)","description":"S3 업로드 완료 후 영상 메타데이터를 저장하고 좌표로 격자를 매핑한다. 해당 격자에 내 첫 영상이면 점령(occupied=true)된다.","operationId":"upload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoUploadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoUploadResponseDto"}}}}}}},"/api/videos/{videoId}/reports":{"post":{"tags":["신고 (Report)"],"summary":"영상 신고 접수","description":"다른 사람의 영상을 사유 5종(INAPPROPRIATE, PRIVACY, SPAM, COPYRIGHT, OTHER) 중 하나와 함께 신고한다. 접수된 신고는 PENDING 으로 쌓여 관리자 처리의 입력이 되며, 접수 자체는 영상 상태를 바꾸지 않는다. 같은 영상 재신고는 409, 자기 영상 신고는 400, 없는 영상·삭제·블라인드 영상은 재생 조회와 같은 404 다.","operationId":"report","parameters":[{"name":"videoId","in":"path","description":"신고할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoReportCreateResponseDto"}}}}}}},"/api/videos/presigned-url":{"post":{"tags":["영상 (Video)"],"summary":"업로드용 presigned URL 발급","description":"영상 파일을 S3에 직접 올릴 presigned URL을 발급한다. 이 URL로 PUT 업로드한 뒤 메타데이터 저장을 호출한다.","operationId":"issuePresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUrlRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPresignedUrlResponseDto"}}}}}}},"/api/videos/highlight-preview":{"post":{"tags":["영상 (Video)"],"summary":"하이라이트 선분석","description":"업로드 확정 전 원본(presign purpose=HIGHLIGHT_PREVIEW 로 올린 pending 키)의 AI 하이라이트 구간을 동기로 계산해 돌려준다. 원본 길이에 따라 응답까지 수 초에서 수십 초 걸린다(30초 1080p 기준 5초 내외). highlights 가 빈 배열이면 추천 없음이니 FE 는 추천 단계를 스킵한다. 실패 시 FE 는 직접 구간 지정으로 폴백한다 — 3502(분석 서버 문제, 재시도 가능)·3426(원본 파일 불량, 재시도 무의미)·3425(3분 초과)·3413(400, 허용 크기 초과). 결과는 저장되지 않는 임시 값이며, 같은 키로 이후 업로드 확정(POST /api/videos)이 가능하다.","operationId":"highlightPreview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighlightPreviewRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoHighlightPreviewResponseDto"}}}}}}},"/api/users/me/profile-image/presigned-url":{"post":{"tags":["사용자 (User)"],"summary":"프로필 이미지 업로드용 presigned URL 발급","description":"프로필 이미지를 S3 에 직접 올릴 presigned URL 을 발급한다. 이 URL 로 PUT 업로드한 뒤 받은 s3Key 로 변경 확정(PUT /api/users/me/profile-image)을 호출한다. 허용 형식은 jpg·jpeg·png·webp 이고 크기 상한은 5MB 다 — 확장자와 Content-Type 이 어긋나거나 허용 밖이면 1415, 선언 크기가 상한을 넘으면 1413.\n\n아이폰 사진(heic·heif)은 받지 않는다 — 저장해도 대부분의 브라우저가 표시하지 못하기 때문이다. 파일 선택 accept 목록에서 heic 를 빼면 iOS 가 플랫폼 수준에서 JPEG 로 변환해 주므로 정상 경로에서는 거부가 나오지 않고, 그래도 새어 들어온 원본 heic 는 1415 응답을 안내 문구로 처리한다.","operationId":"issueProfileImagePresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileImagePresignRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoProfileImagePresignResponseDto"}}}}}}},"/api/notifications/tokens":{"post":{"tags":["알림 (Notification)"],"summary":"FCM 토큰 등록/갱신","description":"디바이스의 FCM 토큰을 현재 계정으로 등록한다(UPSERT). 같은 토큰 재등록은 충돌 없이 user_id·platform·appVersion·last_used_at 이 갱신된다 — 재로그인·계정 전환 포함. platform 이 IOS/ANDROID/WEB(대소문자 무시) 외면 10400 이다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushTokenRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["알림 (Notification)"],"summary":"FCM 토큰 해제","description":"본인 소유(user_id 일치) 토큰 행을 삭제한다 — 멱등, 없는 토큰·소유 불일치 해제도 200. 로그아웃은 /api/auth/logout body 의 fcmToken 으로 한 번에 처리하고, 이 API 는 토큰 로테이션 등 로그아웃 외 정리 용도다.","operationId":"unregister","parameters":[{"name":"fcmToken","in":"query","description":"해제할 FCM 토큰","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/friends/requests":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청","description":"상대의 친구 코드로 요청을 보낸다. 응답 status 가 PENDING 이면 상대 수락 대기, ACCEPTED 면 상대가 먼저 보낸 요청이 있어 즉시 친구 성립(자동 수락)이다.","operationId":"request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendRequestCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendRequestCreateResponseDto"}}}}}}},"/api/friends/requests/{requesterId}/reject":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청 거절","description":"받은 요청을 거절한다. 보낸 쪽에 통지는 없고, 상대는 다시 요청할 수 있다.","operationId":"reject","parameters":[{"name":"requesterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/friends/requests/{requesterId}/accept":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청 수락","description":"받은 요청을 수락해 친구 관계를 성립시킨다. 요청의 수신자 본인만 가능하다.","operationId":"accept","parameters":[{"name":"requesterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/auth/signup":{"post":{"tags":["인증 (Auth)"],"summary":"이메일 회원가입","description":"이메일/비밀번호/닉네임으로 신규 회원을 생성한다.","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoSignupResponseDto"}}}}}}},"/api/auth/reissue":{"post":{"tags":["인증 (Auth)"],"summary":"토큰 재발급","description":"리프레시 토큰(웹=쿠키, 앱=body)으로 새 액세스 토큰과 회전된 새 리프레시 토큰을 발급받는다. 직전 리프레시 토큰은 즉시 무효화되며, 회전된 옛 토큰 재사용 시 세션 체인이 폐기된다.","operationId":"reissue","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReissueRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoReissueResponseDto"}}}}}}},"/api/auth/oauth/{provider}":{"post":{"tags":["인증 (Auth)"],"summary":"소셜 로그인 (OIDC)","description":"소셜 제공자의 ID Token으로 로그인/가입하고 JWT 액세스 토큰과 리프레시 토큰을 발급받는다. 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키(Set-Cookie)로 내려가 body 의 refreshToken 이 null 이고, 앱(app)은 body 로 내려간다.","operationId":"oauthLogin","parameters":[{"name":"provider","in":"path","description":"소셜 제공자","required":true,"schema":{"type":"string"},"example":"KAKAO"},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/oauth/kakao/code":{"post":{"tags":["인증 (Auth)"],"summary":"소셜 로그인 (카카오 인가 코드)","description":"웹에서 카카오 콜백으로 받은 인가 코드로 로그인/가입한다. 서버가 REST API 키로 카카오 토큰 엔드포인트를 호출해 ID Token 을 받은 뒤, 소셜 로그인(OIDC)과 완전히 같은 검증·발급 경로를 태운다. 인가 진입점이 심은 OAUTH_NONCE 쿠키가 함께 와야 한다(없으면 401). 응답 형태는 기존 소셜 로그인과 동일하다 — 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키(Set-Cookie)로 내려가 body 의 refreshToken 이 null 이고, 앱(app)은 body 로 내려간다. 네이티브 SDK 가 교환까지 해주는 앱은 이 API 가 아니라 POST /api/auth/oauth/{provider} 를 쓴다.","operationId":"oauthCodeLogin","parameters":[{"name":"OAUTH_NONCE","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KakaoCodeLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/logout":{"post":{"tags":["인증 (Auth)"],"summary":"로그아웃","description":"Authorization 헤더의 액세스 토큰을 무효화하고 해당 디바이스(X-Device-Id)의 리프레시 세션을 삭제한다. X-Device-Id 가 없으면 해당 유저의 모든 디바이스 세션을 삭제한다. 선택 body 의 fcmToken 이 있으면 해당 FCM 푸시 토큰도 함께 정리된다 (MSG-178 logout 통합).","operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 모든 디바이스 세션 삭제(로그아웃-올).","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequestDto"}}}},"responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["인증 (Auth)"],"summary":"이메일 로그인","description":"이메일/비밀번호로 로그인하고 JWT 액세스 토큰과 리프레시 토큰을 발급받는다. 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키로, 앱(app)은 body 로 내려간다.","operationId":"login","parameters":[{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/dev/social-login":{"post":{"tags":["인증-개발용 (Auth Dev)"],"summary":"[개발용] 소셜 로그인 모의","description":"실제 OIDC ID Token 검증 없이 (provider, oid)로 사용자를 find-or-create 하고 액세스+리프레시 토큰을 발급한다. 리프레시는 body 로 내려간다(앱 모드). 로컬/dev 프로파일에서만 노출.","operationId":"socialLogin","parameters":[{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevSocialLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/admin/videos/{videoId}/unblind":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"블라인드 해제","description":"BLINDED 영상을 ACTIVE 로 복구한다. 오판 복구용이며 그 신고의 RESOLVED 는 되돌리지 않는다. 없는 영상과 삭제된 영상은 404(3404), 이미 ACTIVE 면 409(3409) 다.","operationId":"unblindVideo","parameters":[{"name":"videoId","in":"path","description":"해제할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminVideoUnblindResponseDto"}}}}}}},"/api/admin/reports/{reportId}/reject":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 기각","description":"신고를 REJECTED 로 종결한다. 영상에는 아무 영향이 없고 응답의 videoStatus 는 현재 상태 그대로다. 없는 신고는 404(11404), 이미 처리된 신고는 409(11410) 다.","operationId":"reject_1","parameters":[{"name":"reportId","in":"path","description":"기각할 신고 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportProcessResponseDto"}}}}}}},"/api/admin/reports/{reportId}/approve":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 승인","description":"신고를 RESOLVED 로 종결하고 대상 영상을 블라인드한다 — 한 트랜잭션이다. 영상이 이미 BLINDED 거나 DELETED 면 영상 전이 없이 신고만 종결하며, 응답의 videoStatus 로 구분할 수 있다. 없는 신고는 404(11404), 이미 처리된 신고와 동시 처리의 늦은 쪽은 409(11410) 다.","operationId":"approve","parameters":[{"name":"reportId","in":"path","description":"승인할 신고 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportProcessResponseDto"}}}}}}},"/api/videos/{videoId}/visibility":{"patch":{"tags":["영상 (Video)"],"summary":"영상 공개 범위 전환","description":"본인 영상의 공개 범위를 PUBLIC·PRIVATE·FRIENDS 간 전환한다. 전환된 상태를 반환하며, 같은 값 재전환은 멱등하게 성공한다.","operationId":"setVisibility","parameters":[{"name":"videoId","in":"path","description":"공개 범위를 전환할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoVisibilityRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoVisibilityResponseDto"}}}}}}},"/api/notifications/preferences/{category}":{"patch":{"tags":["알림 (Notification)"],"summary":"카테고리 수신 토글","description":"카테고리 하나의 수신 여부를 바꾸고 변경 후 전체 상태를 반환한다 — 같은 값 재전환은 멱등. category 가 5종(BADGE·HOTZONE·REMIND·VIDEO·WEEKLY, 대소문자 무시) 외면 10420 이다. off 는 발송만 막고 off 중 쌓인 알림이 on 복귀 후 재발송되는 일은 없다.","operationId":"update","parameters":[{"name":"category","in":"path","description":"알림 카테고리 — BADGE·HOTZONE·REMIND·VIDEO·WEEKLY (대소문자 무시)","required":true,"schema":{"type":"string"},"example":"HOTZONE"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreferenceUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationPreferenceResponseDto"}}}}}}},"/api/zones":{"get":{"tags":["구역 (Zone)"],"summary":"구역 목록 조회","description":"전체 구역(zone) 목록을 반환한다. 검색바에서 구역을 골라 지도를 옮기거나 구역 범위를 오버레이로 그릴 때 쓴다 — 표시명은 격자 응답의 zoneName·zoneCell 을 그대로 조립하면 되므로 이 목록으로 이름을 계산할 필요가 없다. 시딩 전이면 빈 배열(전 시스템이 행정동 폴백으로 동작).","operationId":"getZones","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListZoneResponseDto"}}}}}}},"/api/users/me":{"get":{"tags":["사용자 (User)"],"summary":"내 프로필 조회","description":"소셜 로그인이 자동 저장한 이메일·닉네임을 반환한다. 항상 본인 계정만 — 경로에 대상 식별자가 없다.","operationId":"getMe","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}},"delete":{"tags":["사용자 (User)"],"summary":"계정 삭제","description":"내 계정을 즉시·비가역 삭제한다. 연쇄 개인 데이터·영상 S3 객체가 제거되고 전 디바이스 세션이 무효화된다. 같은 이메일·카카오 계정으로 다시 로그인하면 신규 가입이다.","operationId":"deleteMe","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/search/trending":{"get":{"tags":["인기 검색어 (Trending)"],"summary":"인기 검색어 TOP 10","description":"오늘+어제(KST) 검색어 집계를 합산해 상위 10개를 순위·검색어로 반환한다. 동률은 검색어 사전순. 검색 횟수와 장소 정보는 포함하지 않으며(클릭 후 장소 검색 API 재호출), 집계가 없으면 200 + 빈 배열이다.","operationId":"getTrendingKeywords","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTrendingKeywordResponseDto"}}}}}}},"/api/search/places":{"get":{"tags":["장소 검색 (Search)"],"summary":"장소 검색 (장소명 → 좌표·격자)","description":"카카오 로컬 키워드 검색 결과(정확도순 ≤15건)에 각 좌표의 격자 ID 를 얹어 반환한다. 선택 즉시 lat/lng 지도 이동 + gridId 격자 하이라이트. q 누락 400 / trim 후 빈 q·무매치 200 [] / 카카오 장애·타임아웃 502(developCode 5502).","operationId":"searchPlaces","parameters":[{"name":"q","in":"query","description":"검색어 (자유 텍스트 장소명)","required":true,"schema":{"type":"string"},"example":"부산대"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListPlaceSearchResponseDto"}}}}}}},"/api/regions/{regionCode}/grids":{"get":{"tags":["전역 탐색 (Region Explore)"],"summary":"행정동 격자 카드 리스트 + 헤더 카운트 조회","description":"그 행정동 격자들 중 전역 공개 콘텐츠(공개·인코딩 완료·타인 영상 포함)가 있는 격자를 카드로 반환한다. 헤더 카운트(gridCount·videoCount)는 limit 무관 전체 기준이라 지도 홈 패널(limit=3)과 전체 보기(limit 생략)가 같은 숫자를 본다. 카드 커버는 격자 대표(cover)와 같은 영상이고 썸네일은 presigned GET URL 이다. 미존재·무콘텐츠 regionCode 는 404 가 아니라 200 + 카운트 0·빈 배열이다.","operationId":"getRegionGrids","parameters":[{"name":"regionCode","in":"path","description":"행정동 코드 — reverse-geocode·전체 지역 리스트의 regionCode 를 그대로 전달","required":true,"schema":{"type":"string"},"example":2644056000},{"name":"sort","in":"query","description":"정렬 — POPULAR(조회수 합)·LATEST(최신 공개 영상). 대문자 전용이며 소문자 포함 무효 값은 400 이다","required":false,"schema":{"type":"string","default":"POPULAR","enum":["POPULAR","LATEST"]},"example":"POPULAR"},{"name":"limit","in":"query","description":"카드 수 상한 — 지도 홈 패널은 3. 생략하면 전부, 1 미만은 1 로 보정한다","required":false,"schema":{"type":"integer","format":"int32"},"example":3}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionExploreResponseDto"}}}}}}},"/api/regions/stats":{"get":{"tags":["행정동 (Region)"],"summary":"내 행정동별 수집률 조회","description":"로그인 사용자가 점령(수집)한 격자를 행정동별로 집계한 수집률 리스트를 반환한다. parentCode 로 시군구를 좁힐 수 있고(실존하지 않는 코드면 404/6404), collectedOnly=false 면 롤백으로 0이 된 행정동도 포함한다. 수집이 없으면 404 가 아니라 200 + 빈 배열.","operationId":"getStats","parameters":[{"name":"parentCode","in":"query","description":"상위 시군구 코드. 생략하면 전국. 실존하지 않으면 6404","required":false,"schema":{"type":"string"},"example":11680},{"name":"collectedOnly","in":"query","description":"true=수집한 행정동만, false=손댄 행정동 전부(롤백 0-row 포함)","required":false,"schema":{"type":"boolean","default":true},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionStatResponseDto"}}}}}}},"/api/regions/stats/by-point":{"get":{"tags":["행정동 (Region)"],"summary":"현재 위치 행정동 탐험률 (좌표 → 수집률)","description":"도감 갤러리 진입 초기값. 현재 위치 좌표가 속한 행정동 1건의 내 수집률을 반환한다. 그 행정동에 수집이 없어도 0% 로 합성해 반환하고, 어떤 행정동에도 안 속하면(바다·국외) 404 가 아니라 200 + data null. 서비스 범위 밖 좌표는 400(6400).","operationId":"getStatByPoint","parameters":[{"name":"lat","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"},"example":37.4979},{"name":"lng","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0276}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionStatResponseDto"}}}}}}},"/api/regions/stats/by-grid":{"get":{"tags":["행정동 (Region)"],"summary":"격자 중심 행정동 탐험률 (격자 클릭 → 수집률)","description":"클릭한 격자의 중심점이 속한 행정동 1건의 내 수집률을 반환한다. 귀속 축이 수집률 집계(MSG-155)와 같아 탐험률·라벨이 일치한다. 중심점이 어떤 행정동에도 안 속하거나 gridId 형식이 이상하면 200 + data null(별도 에러 코드 없음).","operationId":"getStatByGrid","parameters":[{"name":"gridId","in":"query","description":"격자 ID \"{grid_y}_{grid_x}\"","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionStatResponseDto"}}}}}}},"/api/regions/reverse-geocode":{"get":{"tags":["행정동 (Region)"],"summary":"역지오코딩 (좌표 → 행정동)","description":"좌표를 포함하는 행정동 1건을 반환한다. 포함 행정동이 없으면(바다·국외) 404가 아니라 200 + data null. 서비스 좌표 범위(한국) 밖이면 400(6400).","operationId":"reverseGeocode","parameters":[{"name":"lat","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"},"example":37.4979},{"name":"lng","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0276}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionResponseDto"}}}}}}},"/api/regions/explore":{"get":{"tags":["전역 탐색 (Region Explore)"],"summary":"전체 지역 리스트 조회","description":"전역 공개 콘텐츠가 있는 행정동만 격자 수 내림차순으로 반환한다(검색 무입력 드롭다운). 각 항목의 gridCount 는 그 행정동 격자 카드 조회의 gridCount 와 같은 정의다. 전역 공개 콘텐츠가 하나도 없으면 빈 배열이다.","operationId":"getExploreRegions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionGridCountResponseDto"}}}}}}},"/api/notifications/preferences":{"get":{"tags":["알림 (Notification)"],"summary":"알림 설정 조회","description":"카테고리 5종(BADGE·HOTZONE·REMIND·VIDEO·WEEKLY) 전부의 수신 상태를 반환한다. 설정을 만진 적 없는 사용자는 전부 true 다 — opt-out 기본 전부 on.","operationId":"getPreferences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationPreferenceResponseDto"}}}}}}},"/api/missions/active":{"get":{"tags":["미션 (Missions)"],"summary":"활성 미션 목록 조회","description":"지금 활성인 미션 전부를 유형별 렌더 shape(코스=PATH·구역=REGION·축제=BOX·테마/지속=CELLS)로 반환한다. bbox 없이 전역 목록이며 1h 전역 캐시로 재계산을 흡수한다. 시드 전이거나 활성 미션이 없으면 빈 배열이다(404 아님).","operationId":"getActiveMissions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMissionResponseDto"}}}}}}},"/api/hotzones":{"get":{"tags":["핫구역 (HotZone)"],"summary":"뷰포트 내 핫구역 조회","description":"지도 화면 bbox(남서~북동 좌표) 안의 핫구역을 핫스코어 내림차순으로 반환한다. 전국 상위 K(50)·최소 임계(3) 판정 후 뷰포트 필터 — 없으면 빈 목록이다.\n\n항목마다 표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). 이름 때문에 마커마다 단건 조회를 돌릴 필요가 없다.","operationId":"getHotZones","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoHotZoneListResponseDto"}}}}}}},"/api/grids":{"get":{"tags":["격자 (Grid)"],"summary":"뷰포트 내 색칠 격자 조회 (커서 페이지네이션)","description":"지도 화면 bbox(남서~북동 좌표) 안에서 내가 점령한 격자를 (grid_y, grid_x) 오름차순으로 반환한다. 응답의 nextCursor를 다음 요청 cursor에 넣어 이어서 조회한다. bbox span 상한은 0.5도로 위도·경도 각 변에 따로 적용된다(정확히 0.5도는 허용). 초과 시 잘라서 응답하지 않고 400 + developCode 4402(VIEWPORT_TOO_LARGE)로 거절한다.\n\n항목마다 표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). 이름 때문에 다른 API를 더 호출할 필요가 없다.","operationId":"getOccupiedInViewport","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05},{"name":"cursor","in":"query","description":"다음 페이지 커서 (직전 응답의 nextCursor). 첫 페이지는 생략","required":false,"schema":{"type":"string"},"example":"MTk0MjJfOTU4Mg=="},{"name":"size","in":"query","description":"페이지 크기 (기본 1000, 최대 5000)","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":1000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOccupiedGridPageResponseDto"}}}}}}},"/api/grids/{gridId}":{"get":{"tags":["격자 (Grid)"],"summary":"단일 격자 색칠 상태 조회","description":"특정 격자를 내가 점령(색칠)했는지와 내 영상 수를 반환한다. 미점령 격자도 404가 아니라 occupied=false로 응답한다.\n\n표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). regionName은 아직 아무도 영상을 올리지 않은 격자에도 실리고, 어느 행정동에도 속하지 않거나 서비스 범위(한국) 밖인 격자면 null이다(에러가 아니다).","operationId":"getCell","parameters":[{"name":"gridId","in":"path","description":"격자 ID (\"{grid_y}_{grid_x}\" 포맷)","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridCellResponseDto"}}}}}}},"/api/grids/{gridId}/videos":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 영상 목록 조회","description":"그 격자에 쌓인 공개(PUBLIC)·READY 영상을 전역(본인·타인 포함)에서 조회수(viewCount) → 최신(createdAt) 순으로 페이지 조회한다. 비공개·삭제·인코딩 미완 영상은 본인 것이라도 제외한다. 첫 요청은 cursor 없이 부르고, hasNext 가 true 면 응답의 nextCursor 를 다음 요청 cursor 로 넘기면 이어진다. 무효 커서는 400(INVALID_CURSOR)이고, size 는 1~50 밖이면 클램프된다. 후보가 없거나 존재하지 않는 gridId 는 빈 페이지다. 썸네일은 presigned GET URL 로 내려준다.","operationId":"getGridGlobalVideos","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"},{"name":"cursor","in":"query","description":"직전 응답의 nextCursor (opaque). 생략하면 첫 페이지","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기 (1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridVideoPageResponseDto"}}}}}}},"/api/grids/{gridId}/my-videos":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자별 내 영상 리스트 조회","description":"로그인 사용자가 해당 격자에 올린 본인 영상을 최근 업로드 순(createdAt DESC)으로 반환한다. 미점령·타인만 점령한 격자·존재하지 않는 gridId 는 빈 배열이다. 썸네일은 presigned GET URL 로 내려주며 READY 이전이면 null 이다.","operationId":"getGridVideos","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListGridVideoResponseDto"}}}}}}},"/api/grids/{gridId}/hourly-uploads":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 시간대 분포 조회","description":"그 격자의 공개(PUBLIC)·READY 영상이 업로드된 시간대 분포를 KST 0시부터 23시까지 24구간 개수로 반환한다. 세는 대상은 전역 영상 목록(/videos)과 같아 카드에 보이는 영상만 세어진다 — 비공개·삭제·인코딩 미완 영상은 본인 것이라도 빠진다. 집계 구간은 전체 누적이며, 응답의 hours 는 항상 24개·hour 오름차순이라 빈 시간대도 count 0 으로 실린다. 공개 영상이 없는 격자·존재하지 않는 gridId 도 전 구간 0 인 정상 응답이다.","operationId":"getGridHourlyUploads","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridHourlyUploadResponseDto"}}}}}}},"/api/grids/{gridId}/cover":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 대표 영상 조회","description":"그 격자를 전역에서 대표하는 영상 1건을 반환한다. 공개(PUBLIC)·READY 영상 중 조회수(view_count) → 최신(createdAt) 순으로 뽑으며, 본인·타인 영상 모두 후보다. 비공개·삭제·인코딩 미완 영상은 제외한다. 후보가 없으면(미점령·비공개만·존재하지 않는 gridId) data 는 null 이다. 썸네일은 presigned GET URL 로 내려준다.","operationId":"getGridCover","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridCoverVideoResponseDto"}}}}}}},"/api/grids/aggregation":{"get":{"tags":["격자 (Grid)"],"summary":"뷰포트 내 색칠 격자 행정 단위 집계 조회 (줌아웃)","description":"응답 data는 {currentRegion, items} 객체다. currentRegion은 뷰포트 중심이 속한 행정동의 이름과 그 동 전체에서 내가 점령한 격자 수·영상 수를 담는다. 화면 범위나 unit과 무관하며, 중심이 해상 또는 서비스 범위 밖일 때만 null이다.\n\nitems는 bbox 안에서 내가 점령한 격자를 행정 단위로 묶어 센 목록이다. 단위 전환 시점은 서버가 정하지 않으며 클라이언트가 화면 축척에 맞춰 unit만 바꿔 부른다. items가 비어 있어도 한국 내 중심점의 currentRegion은 이름과 0 집계를 독립적으로 담는다.\n\n항목마다 마커 식별 키(regionCode), 표시 이름, 대표 좌표, 격자 수가 온다. 대표 좌표는 그 묶음에 속한 점령 격자 중심의 평균이라 마커가 실제 데이터 위에 선다. 어느 단위로 묶어도, 항목을 더 묶어 합산해도 같은 bbox 개별 격자 조회의 총 개수와 일치한다.\n\n행정동이 판정되지 않은 격자(해상 등)는 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 온다. 점령 격자가 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용). 초과 시 400 + developCode 4402, 좌표가 WGS84 범위를 벗어나거나 bbox 가 뒤집히면 4401, unit 이 없거나 미지원 값이면 4405 다.","operationId":"getOccupiedAggregatesInViewport","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2},{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"DONG"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridAggregationResponseDto"}}}}}}},"/api/friends":{"get":{"tags":["친구 (Friend)"],"summary":"친구 목록 조회","description":"수락된 친구 전체를 반환한다 — 누가 먼저 요청했는지와 무관하다. 기본 정렬은 친구가 된 시각 내림차순이고 sort=nickname 이면 닉네임순이다. 친구가 없으면 빈 배열.","operationId":"getFriends","parameters":[{"name":"sort","in":"query","description":"정렬 기준 — recent(기본, 친구가 된 시각 내림차순) 또는 nickname","required":false,"schema":{"type":"string"},"example":"nickname"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFriendListItemResponseDto"}}}}}}},"/api/friends/{userId}/profile":{"get":{"tags":["친구 (Friend)"],"summary":"친구 프로필·도감 요약 조회","description":"친구의 프로필(닉네임·프로필 이미지·도감 색상)과 도감 요약(수집 격자 수·영상 총합·방문 동 수), 최근 수집 격자 최대 30개를 한 번에 반환한다. 도감 요약 수치는 그 친구가 자기 도감에서 보는 값과 같다. 썸네일은 그 격자에 재생 가능한 공개 영상이 있을 때만 붙는다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendProfileResponseDto"}}}}}}},"/api/friends/{userId}/grids":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 뷰포트 조회","description":"지도 화면 bbox(남서~북동 좌표) 안에서 그 친구가 점령한 격자를 (grid_y, grid_x) 오름차순으로 반환한다. 응답 형상·검증 규칙·에러는 내 격자 조회(GET /api/grids)와 같다 — 응답의 nextCursor 를 다음 요청 cursor 에 넣어 이어 조회하고, bbox span 상한 0.5도는 위도·경도 각 변에 따로 적용되며 초과 시 400 + 4402(VIEWPORT_TOO_LARGE)로 거절된다. 격자 색상은 내려주지 않는다(FE 단일색 렌더). 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGrids","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05},{"name":"cursor","in":"query","description":"다음 페이지 커서 (직전 응답의 nextCursor). 첫 페이지는 생략","required":false,"schema":{"type":"string"},"example":"MTk0MjJfOTU4Mg=="},{"name":"size","in":"query","description":"페이지 크기 (기본 1000, 최대 5000)","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":1000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOccupiedGridPageResponseDto"}}}}}}},"/api/friends/{userId}/grids/{gridId}/videos":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 영상 목록 조회","description":"그 친구가 해당 격자에 올린 영상을 최근 업로드 순으로 반환한다. 친구에게 공개된 영상(전체 공개·친구만 보기)만 담기고 비공개 영상은 포함되지 않으며, 삭제·인코딩 미완 영상도 제외된다 — 목록의 영상은 모두 재생 조회로 바로 진입할 수 있다. 친구가 점령하지 않은 격자·존재하지 않는 gridId 는 빈 배열이다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGridVideos","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFriendGridVideoResponseDto"}}}}}}},"/api/friends/{userId}/grids/aggregation":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 행정 단위 집계 조회 (줌아웃)","description":"지도를 축소한 시야에서 그 친구가 점령한 격자를 행정 단위로 묶어 센 목록을 페이지 없이 한 번에 반환한다. 파라미터·에러는 내 집계 조회(GET /api/grids/aggregation)와 같고, 묶음 항목의 공통 필드는 내 집계 조회와 같다. 다만 친구 응답은 currentRegion/items 겉면 없이 기존 배열로 반환한다. 단위 전환 시점은 서버가 정하지 않고 클라이언트가 화면 축척에 맞춰 unit 만 바꿔 부른다.\n\n항목마다 마커 식별 키(regionCode), 표시 이름, 대표 좌표, 격자 수가 온다. 행정동이 판정되지 않은 격자(해상 등)는 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 오고, 그 친구가 점령한 격자가 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용). 초과 시 400 + developCode 4402, bbox 가 뒤집히거나 파라미터가 빠지면 4401, unit 이 없거나 미지원 값이면 4405 다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGridAggregates","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2},{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"DONG"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionAggregateResponseDto"}}}}}}},"/api/friends/requests/received":{"get":{"tags":["친구 (Friend)"],"summary":"받은 친구 요청 목록","description":"내가 수신자인 대기 중 요청을 최신순으로 반환한다. 항목의 requesterId 를 수락/거절 경로 변수로 그대로 쓴다.","operationId":"getReceivedRequests","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListReceivedFriendRequestResponseDto"}}}}}}},"/api/friends/preview":{"get":{"tags":["친구 (Friend)"],"summary":"친구 코드 미리보기","description":"요청을 보내기 전 확인 화면용 — 코드 소유자의 닉네임만 반환한다. 요청 가능 여부 검증(자기 자신·중복 등)은 요청 API 가 수행한다.","operationId":"preview","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendPreviewResponseDto"}}}}}}},"/api/friends/code":{"get":{"tags":["친구 (Friend)"],"summary":"내 친구 코드 조회","description":"가입 시 자동 부여된 고정 8자 코드를 반환한다. 상대에게 임의 채널(카톡 등)로 공유하면 상대가 이 코드로 친구 요청을 보낼 수 있다. 재발급 없음.","operationId":"getMyFriendCode","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendCodeResponseDto"}}}}}}},"/api/collections/videos":{"get":{"tags":["도감 (Collection)"],"summary":"동 단위 내 영상 조회","description":"행정동(regionCode) 격자들에 올린 로그인 사용자의 영상을 created_at 내림차순으로 반환한다(무커서). regionCode 는 by-grid 응답의 regionCode 를 그대로 넘긴다. 귀속은 격자 축이라 영상 좌표가 옆 동이어도 격자 소속 행정동 기준으로 포함된다. 내 도감이라 PRIVATE·인코딩 중 영상도 포함하며(status ACTIVE 만), 그 행정동에 내 영상이 없거나 미존재 regionCode 면 에러 없이 빈 배열을 받는다.","operationId":"getRegionVideos","parameters":[{"name":"regionCode","in":"query","description":"행정동 코드 — by-grid 응답의 regionCode 를 그대로 전달","required":true,"schema":{"type":"string"},"example":1168051500}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionVideoResponseDto"}}}}}}},"/api/collections/upload-history":{"get":{"tags":["도감 (Collection)"],"summary":"날짜별 업로드 기록 조회","description":"로그인 사용자 본인의 업로드를 KST 날짜로 접어, 업로드가 있었던 날과 그날의 건수를 날짜 오름차순으로 반환한다(잔디 재료 — 빈 날은 항목 없음, 빈 칸 채우기는 FE 몫). 삭제·블라인드된 영상의 업로드도 센다. 업로드 0건 사용자는 에러 없이 빈 배열을 받는다.","operationId":"getUploadHistory","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListUploadHistoryResponseDto"}}}}}}},"/api/collections/summary":{"get":{"tags":["도감 (Collection)"],"summary":"개인 도감 요약 조회","description":"로그인 사용자의 점령한 격자 수·올린 영상 총합·방문한 행정동 수에 더해 현재 스트릭·최장 스트릭·획득 뱃지 수를 한 번에 반환한다. 현재 스트릭은 마지막 기록이 KST 그제 이전이면 0이다. 업로드 경험 0 사용자도 에러 없이 여섯 값이 모두 0으로 응답한다.","operationId":"getSummary","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoCollectionSummaryResponseDto"}}}}}}},"/api/collections/grids":{"get":{"tags":["도감 (Collection)"],"summary":"갤러리 격자 목록 조회","description":"로그인 사용자가 최근 수집한 격자를 first_collected_at 내림차순 최대 30개로 반환한다(무커서). 각 항목은 gridId·gridY/gridX·수집/방문 시각·영상 수·cover 영상 ID·cover 썸네일 URL 을 담는다. 점령 0건 사용자는 에러 없이 빈 배열을 받는다.","operationId":"getCollectionGrids","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListCollectionGridResponseDto"}}}}}}},"/api/badges":{"get":{"tags":["뱃지 (Badge)"],"summary":"내 뱃지 전체 목록","description":"시딩된 뱃지를 내 획득 상태와 함께 시딩 순(badges.id 오름차순)으로 반환한다. 은퇴 뱃지(retired_at 있음)는 획득자에게만 보이고 미획득자 목록에서는 빠진다 — 그래서 사용자마다 행 수가 다를 수 있다. 미획득 행은 earned false·earnedAt null·isNew false·featuredRank null. 이번 응답에 노출된 미확인(새 뱃지) 행은 자동으로 확인 처리되어 다음 조회부터 isNew false 가 된다.","operationId":"findMyBadges","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMyBadgeResponseDto"}}}}}}},"/api/auth/oauth/kakao/authorize":{"get":{"tags":["인증 (Auth)"],"summary":"카카오 로그인 시작 (인가 진입점)","description":"웹 로그인의 시작점이다. 클라이언트는 이 URL 로 이동하기만 하면 된다(location.href). 서버가 카카오 인가 URL(client_id·response_type=code·scope=openid·nonce 포함)을 조립해 302 로 보내면서 같은 응답에 OAUTH_NONCE 쿠키(HttpOnly, 10분)를 심는다. 그래서 scope=openid 누락이나 nonce 누락이 구조적으로 불가능하고, REST API 키가 클라이언트 코드로 나갈 일도 없다. 응답은 리다이렉트라 공통 응답 포맷을 쓰지 않는다.","operationId":"redirectToKakaoAuthorize","parameters":[{"name":"redirectUri","in":"query","description":"카카오 콜백 URI. 콘솔 등록값과 정확히 일치해야 한다(검증 주체는 카카오).","required":true,"schema":{"type":"string"},"example":"http://localhost:5173/oauth/kakao/callback"},{"name":"state","in":"query","description":"콜백 위조 검증용 난수. 서버는 손대지 않고 인가 URL 에 그대로 전달한다.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/admin/videos/{videoId}":{"get":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"관리자 단건 영상 확인","description":"신고 판단용으로 영상 하나를 확인한다 — 공개범위와 상태(BLINDED 포함)를 무시하고 요청 시점에 재생·썸네일 presigned URL 을 발급하며, 조회수를 올리지 않는다. 처리 상태가 READY 가 아니면 playbackUrl 과 expiresInSec 은 null 이다. 없는 영상과 삭제된 영상은 404(3404) 다.","operationId":"getVideoForReview","parameters":[{"name":"videoId","in":"path","description":"확인할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminVideoReviewResponseDto"}}}}}}},"/api/admin/reports":{"get":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 목록 조회","description":"상태 필터 기준으로 신고를 접수 최신순 페이지 단위로 조회한다. 기본은 미처리(PENDING) 신고다. 항목에 신고자·영상 소유자 닉네임과 영상 현재 상태가 함께 담겨 목록만으로 판단할 수 있다. 지원하지 않는 status 는 400(11420), page 음수나 size 범위(1~100) 밖은 400(11421) 이다. REVIEWING 은 유효한 값이지만 만드는 경로가 없어 항상 빈 목록이다.","operationId":"getReports","parameters":[{"name":"status","in":"query","description":"신고 상태 필터 (PENDING, REVIEWING, RESOLVED, REJECTED — 대소문자 무관)","required":false,"schema":{"type":"string","default":"PENDING"},"example":"PENDING"},{"name":"page","in":"query","description":"페이지 번호 (0부터)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"페이지 크기 (1~100)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportListResponseDto"}}}}}}},"/api/friends/{userId}":{"delete":{"tags":["친구 (Friend)"],"summary":"친구 삭제","description":"친구 관계를 해소한다. 어느 쪽이든 삭제할 수 있고 즉시 양쪽 모두에서 사라진다. 대기 중 요청은 대상이 아니다.","operationId":"deleteFriend","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"VideoReplaceRequestDto":{"type":"object","description":"영상 교체 요청. 파일만 바꾸려면 좌표를 생략한다. 좌표를 보내면 기존과 같은 격자여야 하며 다르면 GRID_MISMATCH로 거부된다.","properties":{"s3Key":{"type":"string","description":"새로 업로드한 영상의 S3 객체 키","example":"videos/2026/07/new-uuid.mp4","minLength":1},"lat":{"type":["number","null"],"format":"double","description":"위도 (선택). lng와 함께 보내거나 둘 다 생략","example":37.5665},"lng":{"type":["number","null"],"format":"double","description":"경도 (선택). lat과 함께 보내거나 둘 다 생략","example":126.978},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초). 1~30초","example":15,"maximum":30,"minimum":1},"recordedAt":{"type":"string","format":"date-time","description":"촬영 시각","example":"2026-07-17T14:30:00Z"}},"required":["durationSec","recordedAt","s3Key"]},"ApiResponseDtoVideoReplaceResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VideoReplaceResponseDto"}},"required":["data","developCode","message"]},"VideoReplaceResponseDto":{"type":"object","description":"영상 교체 응답. 교체 직후는 항상 재인코딩 대기(UPLOADED) 상태다.","properties":{"videoId":{"type":"integer","format":"int64","description":"교체된 영상 ID","example":1001},"processingStatus":{"type":"string","description":"영상 처리 상태 (교체 직후 UPLOADED)","example":"UPLOADED"}},"required":["processingStatus","videoId"]},"ProfileImageUpdateRequestDto":{"type":"object","description":"프로필 이미지 변경 확정 요청 (MSG-373)","properties":{"s3Key":{"type":"string","description":"presign 발급으로 받은 pending 키. 그 URL 로 업로드를 마친 뒤 그대로 전달한다.","example":"profiles/pending/42/3f0c1f2e-....jpg","minLength":1}},"required":["s3Key"]},"ApiResponseDtoUserProfileResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserProfileResponseDto"}},"required":["data","developCode","message"]},"UserProfileResponseDto":{"type":"object","description":"내 프로필 응답. 조회·닉네임 수정·프로필 이미지 변경이 같은 형태를 반환한다.","properties":{"email":{"type":["string","null"],"description":"가입 이메일 — 이메일 가입 시 저장된 값. 카카오 가입은 이메일을 수집하지 않아 null (MSG-310)","example":"user@fillmap.dev"},"nickname":{"type":"string","description":"닉네임 — 카카오 로그인 시 카카오 닉네임이 자동 저장되며, 이후 수정 가능","example":"채우미"},"profileImageUrl":{"type":["string","null"],"description":"프로필 이미지 공개 URL — 미설정이면 null 이고 기본 프로필 표시는 FE 몫이다 (MSG-373)","example":"https://fillmap-video-dev.s3.ap-northeast-2.amazonaws.com/profiles/original/42/uuid.jpg"},"createdAt":{"type":"string","format":"date-time","description":"가입 시각 — DB 저장값(UTC) 그대로다. \"2026.01.12\" 같은 표기는 FE 몫 (MSG-373)","example":"2026-01-12T03:24:11Z"}},"required":["createdAt","email","nickname","profileImageUrl"]},"NicknameUpdateRequestDto":{"type":"object","description":"닉네임 수정 요청","properties":{"nickname":{"type":"string","description":"새 닉네임 (2~20자)","example":"채우미","maxLength":20,"minLength":2}},"required":["nickname"]},"FeaturedBadgeRequestDto":{"type":"object","description":"대표 뱃지 집합 교체 요청 — 배열 순서가 표시 순서, 빈 배열은 전부 해제","properties":{"badgeIds":{"type":"array","description":"대표로 지정할 뱃지 id 목록 (최대 2개, 순서 = 표시 순서)","example":[3,7],"items":{"type":"integer","format":"int64"},"maxItems":2,"minItems":0}},"required":["badgeIds"]},"ApiResponseDtoListFeaturedBadgeResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FeaturedBadgeResponseDto"}}},"required":["data","developCode","message"]},"FeaturedBadgeResponseDto":{"type":"object","description":"적용된 대표 뱃지","properties":{"badgeId":{"type":"integer","format":"int64","description":"뱃지 ID","example":3},"code":{"type":"string","description":"뱃지 code","example":"EXPLORER_50"},"name":{"type":"string","description":"표시명","example":"탐험가 II"},"iconUrl":{"type":["string","null"],"description":"아이콘 URL (에셋 확정 전 null)","example":null},"rank":{"type":"integer","format":"int32","description":"표시 순서 (1·2)","example":1}},"required":["badgeId","code","iconUrl","name","rank"]},"VideoUploadRequestDto":{"type":"object","description":"S3 업로드 완료 후 영상 메타데이터 저장 요청","properties":{"s3Key":{"type":"string","description":"presigned 발급 때 받은 S3 객체 키","example":"videos/2026/07/uuid.mp4","minLength":1},"lat":{"type":"number","format":"double","description":"촬영 위치 위도 (격자 매핑에 사용)","example":37.5665},"lng":{"type":"number","format":"double","description":"촬영 위치 경도 (격자 매핑에 사용)","example":126.978},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초). 1~30초","example":15,"maximum":30,"minimum":1},"recordedAt":{"type":"string","format":"date-time","description":"촬영 시각","example":"2026-07-17T14:30:00Z"},"visibility":{"type":"string","description":"공개범위. PUBLIC, PRIVATE, FRIENDS 중 하나. 생략 시 PUBLIC","example":"PUBLIC"}},"required":["durationSec","lat","lng","recordedAt","s3Key"]},"ApiResponseDtoVideoUploadResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VideoUploadResponseDto"}},"required":["data","developCode","message"]},"CompletedMissionResponseDto":{"type":"object","description":"이번 업로드로 완료된 미션 스탬프","properties":{"missionId":{"type":"integer","format":"int64","description":"미션 ID","example":3},"title":{"type":"string","description":"미션 제목","example":"성수 골목 코스"},"type":{"type":"string","description":"미션 유형 (COURSE/AREA/EVENT/THEME/CONTINUOUS)","example":"COURSE"}},"required":["missionId","title","type"]},"EarnedBadgeResponseDto":{"type":"object","description":"이번 행동으로 새로 획득한 뱃지","properties":{"badgeId":{"type":"integer","format":"int64","description":"뱃지 ID","example":1},"code":{"type":"string","description":"뱃지 code","example":"EXPLORER_1"},"name":{"type":"string","description":"표시명","example":"첫 발자국"},"description":{"type":["string","null"],"description":"설명 — badges.description 은 NULL 허용 컬럼이다","example":"첫 격자를 수집했어요"},"iconUrl":{"type":["string","null"],"description":"아이콘 URL (에셋 확정 전 null)","example":null}},"required":["badgeId","code","description","iconUrl","name"]},"VideoUploadResponseDto":{"type":"object","description":"영상 메타데이터 저장 응답","properties":{"videoId":{"type":"integer","format":"int64","description":"생성된 영상 ID","example":1001},"gridId":{"type":"string","description":"매핑된 격자 ID","example":"19422_9582"},"processingStatus":{"type":"string","description":"영상 처리 상태 (UPLOADED/ENCODING/BLURRING/READY/FAILED)","example":"UPLOADED"},"occupied":{"type":"boolean","description":"이 업로드로 격자를 처음 점령(첫 방문)했는지 여부","example":true},"newBadges":{"type":"array","description":"이 업로드로 새로 획득한 뱃지 목록 — 없으면 빈 배열","items":{"$ref":"#/components/schemas/EarnedBadgeResponseDto"}},"completedMissions":{"type":"array","description":"이 업로드로 완료된 미션 스탬프 목록 — 없으면 빈 배열","items":{"$ref":"#/components/schemas/CompletedMissionResponseDto"}},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름 (예 \"서면\"). 구역 밖 격자면 null — 이때 라벨은 regionName 이다","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A 는 구역 북단, 열 1 은 서단). zoneName 과 항상 쌍이라 구역 밖이면 함께 null","example":"I-6"},"regionName":{"type":["string","null"],"description":"격자 중심점 행정동 이름 — 구역 밖 격자의 폴백 라벨. 무귀속(해상 등)이거나 미판정이면 null","example":"서울특별시 강남구 역삼1동"}},"required":["completedMissions","gridId","newBadges","occupied","processingStatus","regionName","videoId","zoneCell","zoneName"]},"ReportCreateRequestDto":{"type":"object","description":"영상 신고 접수 요청. 사유 5종 중 하나와 선택적 상세 설명.","properties":{"reason":{"type":"string","description":"신고 사유. INAPPROPRIATE, PRIVACY, SPAM, COPYRIGHT, OTHER 중 하나 (대소문자 무관)","example":"INAPPROPRIATE","minLength":1},"detail":{"type":"string","description":"상세 설명. OTHER 사유는 필수, 나머지 사유는 선택. 최대 500자","example":"타인의 얼굴이 그대로 찍혀 있습니다","maxLength":500,"minLength":0}},"required":["reason"]},"ApiResponseDtoReportCreateResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReportCreateResponseDto"}},"required":["data","developCode","message"]},"ReportCreateResponseDto":{"type":"object","description":"영상 신고 접수 응답.","properties":{"reportId":{"type":"integer","format":"int64","description":"접수된 신고 ID","example":17},"status":{"type":"string","description":"신고 처리 상태. 접수 직후라 항상 PENDING","example":"PENDING"}},"required":["reportId","status"]},"PresignedUrlRequestDto":{"type":"object","description":"S3 업로드용 presigned URL 발급 요청","properties":{"extension":{"type":"string","description":"영상 파일 확장자 (점 없이)","example":"mp4","minLength":1},"contentType":{"type":"string","description":"영상 MIME 타입","example":"video/mp4","minLength":1},"contentLength":{"type":"integer","format":"int64","description":"업로드할 파일 크기(바이트). 서버 상한 초과 시 거부","example":10485760},"purpose":{"type":"string","description":"발급 용도. 미지정(null)은 UPLOAD 와 동일. 하이라이트 선분석 원본은 HIGHLIGHT_PREVIEW 로 발급받아 전용 크기 상한(기본 2GiB)을 적용받는다","example":"HIGHLIGHT_PREVIEW","pattern":"UPLOAD|HIGHLIGHT_PREVIEW"}},"required":["contentLength","contentType","extension"]},"ApiResponseDtoPresignedUrlResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PresignedUrlResponseDto"}},"required":["data","developCode","message"]},"PresignedUrlResponseDto":{"type":"object","description":"presigned URL 발급 응답. uploadUrl로 S3에 직접 PUT 업로드 후, s3Key로 메타데이터 저장(POST /api/videos)을 호출한다.","properties":{"uploadUrl":{"type":"string","description":"S3에 직접 PUT 업로드할 presigned URL","example":"https://bucket.s3.amazonaws.com/videos/..."},"s3Key":{"type":"string","description":"업로드 대상 S3 객체 키. 이후 메타데이터 저장 요청에 그대로 전달한다.","example":"videos/2026/07/uuid.mp4"},"expiresInSec":{"type":"integer","format":"int64","description":"presigned URL 유효 시간(초)","example":300}},"required":["expiresInSec","s3Key","uploadUrl"]},"HighlightPreviewRequestDto":{"type":"object","description":"하이라이트 선분석 요청 (MSG-351). 원본은 presign(purpose=HIGHLIGHT_PREVIEW)으로 먼저 올린다.","properties":{"s3Key":{"type":"string","description":"presign 으로 올린 원본의 pending 키. videos/pending/{내 userId}/ prefix 여야 한다","example":"videos/pending/42/550e8400-e29b-41d4-a716-446655440000.mp4","minLength":1}},"required":["s3Key"]},"ApiResponseDtoHighlightPreviewResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/HighlightPreviewResponseDto"}},"required":["data","developCode","message"]},"HighlightPreviewResponseDto":{"type":"object","description":"하이라이트 선분석 응답 (MSG-351). 결과는 저장되지 않는 임시 값이다 — 확정본의 하이라이트는 업로드 확정 후 블러 파이프라인이 따로 계산한다.","properties":{"highlights":{"type":"array","description":"[[시작초, 끝초], ...] 최대 3구간, 초는 소수점 둘째 자리. 배열 순서가 추천 우선순위(첫 요소가 최우선)다. 각 구간은 5초 이상이고 시작점끼리 5초 이상 벌어진다. 5초 미만 원본이거나 조건을 채우는 구간이 없으면 빈 배열 [] — 추천 없음이니 FE 는 추천 단계를 스킵한다","example":[[0.0,5.12],[10.0,16.4]],"items":{"type":"array","items":{"type":"number","format":"double"}}}},"required":["highlights"]},"ProfileImagePresignRequestDto":{"type":"object","description":"프로필 이미지 업로드용 presigned URL 발급 요청 (MSG-373)","properties":{"extension":{"type":"string","description":"이미지 파일 확장자 (점 없이). jpg, jpeg, png, webp — heic·heif 는 받지 않는다","example":"jpg","minLength":1},"contentType":{"type":"string","description":"이미지 MIME 타입. 확장자와 쌍이 맞아야 한다","example":"image/jpeg","minLength":1},"contentLength":{"type":"integer","format":"int64","description":"업로드할 파일 크기(바이트). 5MB 초과 시 거부","example":1048576}},"required":["contentLength","contentType","extension"]},"ApiResponseDtoProfileImagePresignResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProfileImagePresignResponseDto"}},"required":["data","developCode","message"]},"ProfileImagePresignResponseDto":{"type":"object","description":"프로필 이미지 presigned URL 발급 응답. uploadUrl 로 S3 에 직접 PUT 업로드한 뒤 s3Key 로 변경 확정(PUT /api/users/me/profile-image)을 호출한다.","properties":{"uploadUrl":{"type":"string","description":"S3 에 직접 PUT 업로드할 presigned URL","example":"https://bucket.s3.amazonaws.com/profiles/..."},"s3Key":{"type":"string","description":"업로드 대상 S3 객체 키. 변경 확정 요청에 그대로 전달한다.","example":"profiles/pending/42/3f0c1f2e-....jpg"},"expiresInSec":{"type":"integer","format":"int64","description":"presigned URL 유효 시간(초)","example":600}},"required":["expiresInSec","s3Key","uploadUrl"]},"PushTokenRequestDto":{"type":"object","description":"FCM 푸시 토큰 등록/갱신 요청 — 같은 토큰 재등록은 충돌 없이 현재 계정으로 갱신된다","properties":{"fcmToken":{"type":"string","description":"FCM 디바이스 토큰 (push_tokens PK, 최대 512자)","example":"fcm-token-abc123","maxLength":512,"minLength":0},"platform":{"type":"string","description":"플랫폼 — IOS·ANDROID·WEB (대소문자 무시)","example":"WEB","minLength":1},"appVersion":{"type":"string","description":"앱 버전 (선택, 최대 20자)","example":"1.0.0","maxLength":20,"minLength":0}},"required":["fcmToken","platform"]},"FriendRequestCreateRequestDto":{"type":"object","description":"친구 요청 생성 요청","properties":{"friendCode":{"type":"string","description":"상대의 고정 친구 코드","example":"AB3DE7GH","minLength":1}},"required":["friendCode"]},"ApiResponseDtoFriendRequestCreateResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FriendRequestCreateResponseDto"}},"required":["data","developCode","message"]},"FriendRequestCreateResponseDto":{"type":"object","description":"친구 요청 생성 응답","properties":{"status":{"type":"string","description":"PENDING = 요청이 등록돼 상대 수락 대기, ACCEPTED = 상대가 먼저 보낸 요청이 있어 즉시 친구 성립(자동 수락 — FR-8). FE 는 이 값으로 \"요청 보냄\"과 \"친구가 됐어요\" 화면을 구분한다.","enum":["PENDING","ACCEPTED"]}},"required":["status"]},"SignupRequestDto":{"type":"object","description":"이메일 회원가입 요청","properties":{"email":{"type":"string","format":"email","description":"이메일 (최대 255자, 중복 불가)","example":"user@fillmap.dev","maxLength":255,"minLength":0},"password":{"type":"string","description":"비밀번호. 영문과 숫자를 각각 하나 이상 포함한 8~64자","example":"Fillmap1234","maxLength":64,"minLength":8,"pattern":"^(?=.*[A-Za-z])(?=.*\\d).+$"},"nickname":{"type":"string","description":"닉네임 (2~20자)","example":"채우미","maxLength":20,"minLength":2}},"required":["email","nickname","password"]},"ApiResponseDtoSignupResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SignupResponseDto"}},"required":["data","developCode","message"]},"SignupResponseDto":{"type":"object","description":"회원가입 성공 응답 — 생성된 사용자 정보","properties":{"id":{"type":"integer","format":"int64","description":"생성된 사용자 ID","example":1},"email":{"type":"string","description":"가입 이메일","example":"user@fillmap.dev"},"nickname":{"type":"string","description":"닉네임","example":"채우미"},"createdAt":{"type":"string","format":"date-time","description":"가입 시각","example":"2026-07-17T20:11:03Z"}},"required":["createdAt","email","id","nickname"]},"ReissueRequestDto":{"type":"object","description":"토큰 재발급 요청. 웹은 리프레시 토큰이 쿠키(refreshToken)로 전송되므로 body 를 생략할 수 있다.","properties":{"refreshToken":{"type":"string","description":"앱(X-Client-Type: app) 클라이언트의 리프레시 토큰. 웹은 쿠키를 사용하므로 생략.","example":"eyJhbGciOiJIUzI1NiJ9..."}}},"ApiResponseDtoReissueResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReissueResponseDto"}},"required":["data","developCode","message"]},"ReissueResponseDto":{"type":"object","description":"토큰 재발급 성공 응답","properties":{"accessToken":{"type":"string","description":"새로 발급된 JWT 액세스 토큰.","example":"eyJhbGciOiJIUzI1NiJ9..."},"refreshToken":{"type":["string","null"],"description":"회전된 새 리프레시 토큰. 앱(X-Client-Type: app)만 값이 채워지고, 웹은 HttpOnly 쿠키(Set-Cookie)로 재설정되므로 null 이다.","example":"eyJhbGciOiJIUzI1NiJ9..."}},"required":["accessToken","refreshToken"]},"OidcLoginRequestDto":{"type":"object","description":"소셜(OIDC) 로그인 요청","properties":{"idToken":{"type":"string","description":"소셜 제공자(카카오 등)에서 발급받은 OIDC ID Token","example":"eyJraWQiOiI...","minLength":1}},"required":["idToken"]},"ApiResponseDtoLoginResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponseDto"}},"required":["data","developCode","message"]},"LoginResponseDto":{"type":"object","description":"로그인 성공 응답","properties":{"accessToken":{"type":"string","description":"발급된 JWT 액세스 토큰. 이후 요청 Authorization 헤더에 'Bearer {토큰}'으로 넣는다.","example":"eyJhbGciOiJIUzI1NiJ9..."},"refreshToken":{"type":["string","null"],"description":"발급된 리프레시 토큰. 앱(X-Client-Type: app)만 값이 채워지고, 웹은 HttpOnly 쿠키(Set-Cookie)로 내려가므로 null 이다.","example":"eyJhbGciOiJIUzI1NiJ9..."}},"required":["accessToken","refreshToken"]},"KakaoCodeLoginRequestDto":{"type":"object","description":"카카오 인가 코드 로그인 요청 (웹). 카카오 콜백으로 받은 코드를 서버가 ID Token 으로 교환한다.","properties":{"code":{"type":"string","description":"카카오 콜백 쿼리로 받은 1회용 인가 코드","example":"vBv8oXbeLnDF2mkw...","minLength":1},"redirectUri":{"type":"string","description":"인가 요청에 사용한 redirect URI 그대로. 카카오 콘솔 등록값과 정확히 일치해야 한다.","example":"http://localhost:5173/oauth/kakao/callback","minLength":1}},"required":["code","redirectUri"]},"LogoutRequestDto":{"type":"object","description":"로그아웃 요청 (선택 body) — fcmToken 이 있으면 세션 삭제와 함께 해당 FCM 푸시 토큰도 정리된다","properties":{"fcmToken":{"type":"string","description":"정리할 FCM 토큰 (선택)","example":"fcm-token-abc123"}}},"LoginRequestDto":{"type":"object","description":"이메일/비밀번호 로그인 요청","properties":{"email":{"type":"string","format":"email","description":"가입한 이메일","example":"user@fillmap.dev","minLength":1},"password":{"type":"string","description":"비밀번호 (영문+숫자 포함 8~64자)","example":"Fillmap1234","minLength":1}},"required":["email","password"]},"DevSocialLoginRequestDto":{"type":"object","description":"[로컬/dev 전용] 소셜 로그인 모의 요청 — 실제 소셜 ID Token 없이 (provider, oid)로 로그인/가입한다.","properties":{"provider":{"type":"string","description":"소셜 제공자 (기본 KAKAO)","example":"KAKAO"},"oid":{"type":"string","description":"소셜 고유 식별자(oid). 같은 값이면 같은 사용자로 재로그인된다.","example":"dev-kakao-1","minLength":1},"email":{"type":"string","description":"이메일 (선택). 없으면 {oid}@dev.local","example":"kakaouser@dev.local"},"nickname":{"type":"string","description":"닉네임 (선택). 없으면 dev-{oid}","example":"카카오테스터"}},"required":["oid"]},"AdminVideoUnblindResponseDto":{"type":"object","description":"블라인드 해제 결과 — 복구된 영상 상태.","properties":{"videoId":{"type":"integer","format":"int64","description":"해제된 영상 ID","example":1042},"status":{"type":"string","description":"해제 후 영상 상태 — 성공이면 항상 ACTIVE","enum":["ACTIVE","BLINDED","DELETED"],"example":"ACTIVE"}},"required":["status","videoId"]},"ApiResponseDtoAdminVideoUnblindResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminVideoUnblindResponseDto"}},"required":["data","developCode","message"]},"AdminReportProcessResponseDto":{"type":"object","description":"신고 승인·기각 처리 결과 — 종결된 신고 상태와 처리 후 영상 상태.","properties":{"reportId":{"type":"integer","format":"int64","description":"처리된 신고 ID","example":7},"status":{"type":"string","description":"처리 후 신고 상태 — 승인이면 RESOLVED, 기각이면 REJECTED","enum":["PENDING","REVIEWING","RESOLVED","REJECTED"],"example":"RESOLVED"},"videoId":{"type":"integer","format":"int64","description":"신고 대상 영상 ID","example":1042},"videoStatus":{"type":"string","description":"처리 후 영상 상태 — 승인의 전이 생략 케이스(FR-5)를 이 값으로 구분한다","enum":["ACTIVE","BLINDED","DELETED"],"example":"BLINDED"},"reviewedAt":{"type":"string","format":"date-time","description":"처리 시각","example":"2026-08-06T11:00:00Z"}},"required":["reportId","reviewedAt","status","videoId","videoStatus"]},"ApiResponseDtoAdminReportProcessResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/AdminReportProcessResponseDto"}},"required":["data","developCode","message"]},"VideoVisibilityRequestDto":{"type":"object","description":"영상 공개 범위 전환 요청. PUBLIC · PRIVATE · FRIENDS.","properties":{"visibility":{"type":"string","description":"공개 범위. PUBLIC, PRIVATE, FRIENDS 중 하나 (대소문자 무관)","example":"PUBLIC","minLength":1}},"required":["visibility"]},"ApiResponseDtoVideoVisibilityResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VideoVisibilityResponseDto"}},"required":["data","developCode","message"]},"VideoVisibilityResponseDto":{"type":"object","description":"영상 공개 범위 전환 응답. 전환 후 공개 범위를 담는다.","properties":{"videoId":{"type":"integer","format":"int64","description":"전환된 영상 ID","example":1042},"visibility":{"type":"string","description":"전환 후 공개 범위 (PUBLIC, PRIVATE, FRIENDS 중 하나)","example":"PUBLIC"}},"required":["videoId","visibility"]},"NotificationPreferenceUpdateRequestDto":{"type":"object","description":"카테고리 수신 토글 요청 — 같은 값 재전환은 멱등하게 성공한다","properties":{"enabled":{"type":"boolean","description":"수신 여부 — false 면 off(거부 행 저장), true 면 on(행 삭제)","example":false}},"required":["enabled"]},"ApiResponseDtoNotificationPreferenceResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/NotificationPreferenceResponseDto"}},"required":["data","developCode","message"]},"CategoryPreferenceDto":{"type":"object","description":"카테고리 하나의 수신 상태","properties":{"category":{"type":"string","description":"알림 카테고리","enum":["BADGE","HOTZONE","REMIND","VIDEO","WEEKLY"],"example":"HOTZONE"},"enabled":{"type":"boolean","description":"수신 여부 — off 행 부재면 true (opt-out 기본 전부 on)","example":true}},"required":["category","enabled"]},"NotificationPreferenceResponseDto":{"type":"object","description":"알림 설정 — 전 카테고리(5종)의 수신 상태 (저장 행 없는 카테고리는 true)","properties":{"preferences":{"type":"array","description":"카테고리별 수신 상태 (BADGE·HOTZONE·REMIND·VIDEO·WEEKLY 고정 5종)","items":{"$ref":"#/components/schemas/CategoryPreferenceDto"}}},"required":["preferences"]},"ApiResponseDtoListZoneResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ZoneResponseDto"}}},"required":["data","developCode","message"]},"ZoneResponseDto":{"type":"object","description":"구역(zone)의 이름과 격자 사각형 범위 — 검색바 구역 이동·범위 오버레이용. 격자 표시명은 서버가 계산해 격자 응답에 함께 싣는다.","properties":{"zoneKey":{"type":"string","description":"안정 식별자 slug (zones.zone_key) — 클라이언트 참조·타이브레이크 기준","example":"seomyeon"},"name":{"type":"string","description":"구역명 (zones.name)","example":"서면"},"regionCode":{"type":["string","null"],"description":"소속 행정동 코드 (zones.region_code, nullable)","example":"2623051000"},"minGridY":{"type":"integer","format":"int32","description":"사각형 남단 행 (zones.min_grid_y)","example":16850},"maxGridY":{"type":"integer","format":"int32","description":"사각형 북단 행 = A행 (zones.max_grid_y)","example":16866},"minGridX":{"type":"integer","format":"int32","description":"사각형 서단 열 = 1열 (zones.min_grid_x)","example":11414},"maxGridX":{"type":"integer","format":"int32","description":"사각형 동단 열 (zones.max_grid_x)","example":11424},"priority":{"type":"integer","format":"int32","description":"겹침 결정성 우선순위 (zones.priority)","example":0}},"required":["maxGridX","maxGridY","minGridX","minGridY","name","priority","regionCode","zoneKey"]},"ApiResponseDtoVideoPlaybackResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VideoPlaybackResponseDto"}},"required":["data","developCode","message"]},"VideoPlaybackResponseDto":{"type":"object","description":"단건 영상 재생 조회 응답","properties":{"videoId":{"type":"integer","format":"int64","description":"영상(방문 이벤트) ID","example":1042},"playbackUrl":{"type":["string","null"],"description":"재생본 presigned GET URL. READY 아님·BLINDED(소유자)면 null"},"thumbnailUrl":{"type":["string","null"],"description":"썸네일 presigned GET URL. 썸네일 key 없음(READY 이전)이면 null"},"gridId":{"type":"string","description":"이 영상이 속한 격자 ID","example":"19422_9582"},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초, 최대 30)","example":12},"processingStatus":{"type":"string","description":"영상 처리 상태 (UPLOADED/ENCODING/BLURRING/READY/FAILED)","example":"READY"},"visibility":{"type":"string","description":"공개 범위 (PUBLIC, PRIVATE, FRIENDS 중 하나)","example":"PUBLIC"},"status":{"type":"string","description":"영상 상태 (ACTIVE/BLINDED). 소유자가 블라인드 사유를 구분하는 축","example":"ACTIVE"},"viewCount":{"type":"integer","format":"int64","description":"조회수 (이번 조회 증가 전 스냅샷)","example":37},"recordedAt":{"type":"string","format":"date-time","description":"촬영 시각 (표시용)","example":"2026-07-20T18:03:11Z"},"expiresInSec":{"type":["integer","null"],"format":"int64","description":"playbackUrl presign TTL(초). playbackUrl=null 이면 null"},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름 (예 \"서면\"). 구역 밖 격자면 null — 이때 라벨은 regionName 이다","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A 는 구역 북단, 열 1 은 서단). zoneName 과 항상 쌍이라 구역 밖이면 함께 null","example":"I-6"},"regionName":{"type":["string","null"],"description":"격자 중심점 행정동 이름 — 구역 밖 격자의 폴백 라벨. 무귀속(해상 등)이거나 미판정이면 null","example":"서울특별시 강남구 역삼1동"},"highlights":{"type":["array","null"],"description":"AI 추천 하이라이트 구간 [[시작초, 끝초], ...]. 최대 3구간, 초는 소수점 둘째 자리. 배열 순서가 추천 우선순위(첫 요소가 최우선 추천). 없으면 null (READY 이전·FAILED·0구간 포함, 빈 배열은 내려가지 않는다) 예시: [[0.0, 4.25], [12.0, 18.5], [20.0, 27.5]]","items":{"type":"array","items":{"type":"number","format":"double"}}},"nickname":{"type":"string","description":"작성자 닉네임 원문. @ 등 화면 표기는 FE 가 붙인다","example":"busan.vlog"}},"required":["durationSec","expiresInSec","gridId","highlights","nickname","playbackUrl","processingStatus","recordedAt","regionName","status","thumbnailUrl","videoId","viewCount","visibility","zoneCell","zoneName"]},"ApiResponseDtoListTrendingKeywordResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TrendingKeywordResponseDto"}}},"required":["data","developCode","message"]},"TrendingKeywordResponseDto":{"type":"object","description":"인기 검색어 1건. 클릭 시 keyword 로 기존 장소 검색 API 를 다시 호출한다.","properties":{"rank":{"type":"integer","format":"int32","description":"순위 (1부터)","example":1},"keyword":{"type":"string","description":"정규화된 검색어","example":"홍대 카페"}},"required":["keyword","rank"]},"ApiResponseDtoListPlaceSearchResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PlaceSearchResponseDto"}}},"required":["data","developCode","message"]},"PlaceSearchResponseDto":{"type":"object","description":"장소 검색 결과 1건. 선택 시 lat/lng 로 지도 이동 + gridId 로 격자 하이라이트를 한 번에 처리한다.","properties":{"name":{"type":"string","description":"장소명 (카카오 place_name)","example":"부산대학교"},"address":{"type":"string","description":"표시용 주소 — 도로명 우선, 없으면 지번 (§D2)","example":"부산 금정구 부산대학로63번길 2"},"lat":{"type":"number","format":"double","description":"위도 (WGS84, 카카오 y 직결 — 변환 없음)","example":35.23272},"lng":{"type":"number","format":"double","description":"경도 (WGS84, 카카오 x)","example":129.08246},"gridId":{"type":"string","description":"그 좌표의 격자 ID — FE 격자 하이라이트 키 (즉석 계산, 저장 아님)","example":"16941_11439"},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름. 구역 밖이면 null — 표시 라벨은 address 가 맡으므로 행정동 폴백 재료를 싣지 않는다(§D2 유지).","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A는 구역 북단, 열 1은 서단). zoneName 과 항상 쌍이라 구역 밖이면 함께 null 이다.","example":"I-6"}},"required":["address","gridId","lat","lng","name","zoneCell","zoneName"]},"ApiResponseDtoRegionExploreResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RegionExploreResponseDto"}},"required":["data","developCode","message"]},"ExploreGridResponseDto":{"type":"object","description":"전역 탐색 격자 카드","properties":{"gridId":{"type":"string","description":"격자 ID — 카드 탭 시 격자 전역 영상 목록(MSG-237) 진입 키","example":"16676_11596"},"gridY":{"type":"integer","format":"int64","description":"격자 세로 인덱스 (EPSG:5179 평면 y / 100 — 위도가 아니다). FE 지도 이동·라벨 조합","example":16676},"gridX":{"type":"integer","format":"int64","description":"격자 가로 인덱스 (EPSG:5179 평면 x / 100 — 경도가 아니다)","example":11596},"videoCount":{"type":"integer","format":"int32","description":"그 격자의 게이트 통과 영상 수 — \"N개 영상\"","example":138},"coverThumbnailUrl":{"type":["string","null"],"description":"커버 썸네일 presigned GET URL. READY 게이트라 non-null 기대(null 이면 null 통과)"},"coverDurationSec":{"type":"integer","format":"int32","description":"커버 영상 길이(초) — duration 뱃지","example":12},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름 (예 \"서면\"). 구역 밖 격자면 null — 이때 FE 는 래퍼의 regionName 을 라벨로 쓴다","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A 는 구역 북단, 열 1 은 서단). zoneName 과 항상 쌍이라 구역 밖이면 함께 null","example":"I-6"}},"required":["coverDurationSec","coverThumbnailUrl","gridId","gridX","gridY","videoCount","zoneCell","zoneName"]},"RegionExploreResponseDto":{"type":"object","description":"행정동 격자 카드 리스트 + 헤더 카운트","properties":{"regionCode":{"type":"string","description":"행정동 코드 (요청 에코)","example":"2644056000"},"regionName":{"type":["string","null"],"description":"행정동 이름 — 미존재 코드면 null","example":"부산광역시 부산진구 부전2동"},"gridCount":{"type":"integer","format":"int32","description":"게이트 통과 영상 ≥1 격자 수 — \"이 지역 격자 N개\"","example":5},"videoCount":{"type":"integer","format":"int64","description":"게이트 통과 영상 총수 — \"영상 M개\"","example":355},"grids":{"type":"array","description":"격자 카드 (정렬·limit 적용 후). 없으면 빈 배열","items":{"$ref":"#/components/schemas/ExploreGridResponseDto"}}},"required":["gridCount","grids","regionCode","regionName","videoCount"]},"ApiResponseDtoListRegionStatResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RegionStatResponseDto"}}},"required":["data","developCode","message"]},"RegionStatResponseDto":{"type":"object","description":"한 행정동의 수집률. 사용자가 그 행정동에서 점령(수집)한 격자 수와 진행률.","properties":{"regionCode":{"type":"string","description":"행정동 코드 (region_stats.region_code)","example":"1168051500"},"regionName":{"type":"string","description":"행정동 이름 (regions.region_name)","example":"서울특별시 강남구 역삼1동"},"parentCode":{"type":["string","null"],"description":"상위 시군구 코드 (regions.parent_code) — NULL 허용 컬럼이라 최상위 행은 null","example":"11680"},"collectedCount":{"type":"integer","format":"int32","description":"점령(수집)한 격자 수","example":5},"totalCount":{"type":"integer","format":"int32","description":"그 행정동 전체 격자 수(분모)","example":20},"progressRate":{"type":"number","description":"수집률(%) — 100 상한 clamp","example":25.0},"updatedAt":{"type":"string","format":"date-time","description":"수집률 캐시 기준 시각","example":"2026-07-20T10:00:00Z"}},"required":["collectedCount","parentCode","progressRate","regionCode","regionName","totalCount","updatedAt"]},"ApiResponseDtoRegionStatResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"anyOf":[{"$ref":"#/components/schemas/RegionStatResponseDto"},{"type":"null"}]}},"required":["data","developCode","message"]},"ApiResponseDtoRegionResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"anyOf":[{"$ref":"#/components/schemas/RegionResponseDto"},{"type":"null"}]}},"required":["data","developCode","message"]},"RegionResponseDto":{"type":"object","description":"좌표를 포함하는 행정동. 포함 행정동이 없으면(바다·국외) data 가 null 이다.","properties":{"regionCode":{"type":"string","description":"행정동 코드 (regions.region_code = adm_cd2)","example":"1168051500"},"regionName":{"type":"string","description":"행정동 이름 (regions.region_name = adm_nm)","example":"서울특별시 강남구 역삼1동"},"parentCode":{"type":["string","null"],"description":"상위 시군구 코드 (regions.parent_code) — NULL 허용 컬럼이라 최상위 행은 null","example":"11680"}},"required":["parentCode","regionCode","regionName"]},"ApiResponseDtoListRegionGridCountResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RegionGridCountResponseDto"}}},"required":["data","developCode","message"]},"RegionGridCountResponseDto":{"type":"object","description":"전체 지역 리스트 항목 (행정동별 격자 수)","properties":{"regionCode":{"type":"string","description":"행정동 코드 — 선택 시 격자 카드 조회에 전달","example":"2644056000"},"regionName":{"type":"string","description":"행정동 이름","example":"부산광역시 부산진구 부전2동"},"gridCount":{"type":"integer","format":"int32","description":"그 행정동의 게이트 통과 격자 수","example":5}},"required":["gridCount","regionCode","regionName"]},"ApiResponseDtoListMissionResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MissionResponseDto"}}},"required":["data","developCode","message"]},"BoxShape":{"allOf":[{"$ref":"#/components/schemas/MissionShape"},{"type":"object","properties":{"polygon":{"type":"array","items":{"$ref":"#/components/schemas/LatLng"}}}}],"description":"이벤트(EVENT) — 격자 집합을 감싸는 경계 사각형","required":["polygon"]},"Cell":{"type":"object","description":"격자 중심점","properties":{"gridId":{"type":"string"},"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"}},"required":["gridId","lat","lng"]},"CellsShape":{"allOf":[{"$ref":"#/components/schemas/MissionShape"},{"type":"object","properties":{"cells":{"type":"array","items":{"$ref":"#/components/schemas/Cell"}}}}],"description":"테마·지속(THEME·CONTINUOUS) — 각 격자 중심점","required":["cells"]},"LatLng":{"type":"object","description":"좌표 한 점","properties":{"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"}},"required":["lat","lng"]},"MissionResponseDto":{"type":"object","description":"활성 미션 하나 — 공통 필드 + 유형별 렌더 shape","properties":{"missionId":{"type":"integer","format":"int64","description":"미션 id (missions.id)","example":12},"type":{"type":"string","description":"미션 유형 — FE 렌더러 판별자","enum":["COURSE","AREA","EVENT","THEME","CONTINUOUS","POPUP"],"example":"COURSE"},"title":{"type":"string","description":"미션 제목","example":"남파랑길 3코스"},"targetCount":{"type":"integer","format":"int32","description":"완료에 필요한 distinct 방문 격자 수(표시·판정 힌트, 판정은 MSG-223)","example":3},"startAt":{"type":["string","null"],"format":"date-time","description":"시작 시각. NULL = 무기간(상시)","example":"2026-11-01T00:00:00Z"},"endAt":{"type":["string","null"],"format":"date-time","description":"종료 시각. NULL = 무기간(상시)","example":"2026-11-01T23:59:59Z"},"shape":{"description":"유형별 렌더 shape 하나(type 에 대응하는 PATH/BOX/CELLS/REGION)","oneOf":[{"$ref":"#/components/schemas/BoxShape"},{"$ref":"#/components/schemas/CellsShape"},{"$ref":"#/components/schemas/PathShape"},{"$ref":"#/components/schemas/RegionShape"}]},"description":{"type":["string","null"],"description":"소개문 원문. 출처 표기 없이 그대로 노출한다","example":"부산 앞바다를 따라 걷는 해안 산책로"},"placeName":{"type":["string","null"],"description":"사람이 읽는 위치 한 줄 — 축제는 행사장, 팝업은 주소, 코스는 시군","example":"부산 영도구"},"sourceUrl":{"type":["string","null"],"description":"원문 링크 — 축제 홈페이지·팝업 상세 페이지. 코스는 없다","example":"https://festival.example.kr"},"operationTime":{"type":["string","null"],"description":"운영시간 안내 문구. 여러 줄이면 개행으로 이어 붙인다(팝업 전용)","example":"매일 11:00 ~ 20:00"},"imageUrl":{"type":["string","null"],"description":"대표 이미지 주소 — 우리 스토리지 URL 만 들어간다(MSG-383 §D7)","example":"https://cdn.fillmap.kr/mission/12.webp"},"distanceMeters":{"type":["integer","null"],"format":"int32","description":"코스 총 거리(미터). 코스가 아니면 없다","example":14000},"durationMinutes":{"type":["integer","null"],"format":"int32","description":"코스 소요시간(분). 코스가 아니면 없다","example":330},"difficulty":{"type":["integer","null"],"format":"int32","description":"코스 난이도 — 두루누비 등급 1(쉬움)·2(보통)·3(어려움). 코스가 아니면 없다","example":2}},"required":["description","difficulty","distanceMeters","durationMinutes","endAt","imageUrl","missionId","operationTime","placeName","shape","sourceUrl","startAt","targetCount","title","type"]},"MissionShape":{"description":"미션 유형별 렌더 shape (상위 type 으로 판별). PATH·BOX·CELLS·REGION 중 하나."},"PathShape":{"allOf":[{"$ref":"#/components/schemas/MissionShape"},{"type":"object","properties":{"line":{"type":["string","null"],"description":"코스 라인 GeoJSON LineString 원문 — missions.path 는 NULL 허용 컬럼이라 없을 수 있다"},"spots":{"type":"array","items":{"$ref":"#/components/schemas/Spot"}}}}],"description":"코스(COURSE) — GeoJSON LineString + seq순 포토스팟 마커","required":["line","spots"]},"RegionShape":{"allOf":[{"$ref":"#/components/schemas/MissionShape"},{"type":"object","properties":{"regionCode":{"type":["string","null"],"description":"행정동 코드 — missions.region_code 는 NULL 허용 컬럼이라 없을 수 있다"}}}],"description":"구역(AREA) — region_code 만(경계는 region API 로 별도 조회)","required":["regionCode"]},"Spot":{"type":"object","description":"코스 포토스팟 마커","properties":{"gridId":{"type":"string"},"lat":{"type":"number","format":"double"},"lng":{"type":"number","format":"double"},"seq":{"type":["integer","null"],"format":"int32","description":"코스 내 순번 — mission_grids.seq 는 NULL 허용 컬럼이라 없을 수 있다"}},"required":["gridId","lat","lng","seq"]},"ApiResponseDtoHotZoneListResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/HotZoneListResponseDto"}},"required":["data","developCode","message"]},"HotZoneListResponseDto":{"type":"object","description":"뷰포트 내 핫구역 목록 응답 (핫스코어 내림차순)","properties":{"hotZones":{"type":"array","description":"핫구역 목록 — 핫스코어 내림차순. 없으면 빈 배열","items":{"$ref":"#/components/schemas/HotZoneResponseDto"}}},"required":["hotZones"]},"HotZoneResponseDto":{"type":"object","description":"핫구역 한 칸 — 최근 48시간 방문(업로드) 신호가 상위인 격자","properties":{"gridId":{"type":"string","description":"격자 ID (\"{grid_y}_{grid_x}\" 포맷)","example":"19422_9582"},"gridY":{"type":"integer","format":"int32","description":"격자 세로 인덱스 (EPSG:5179 평면 y / 100 — 위도가 아니다)","example":19422},"gridX":{"type":"integer","format":"int32","description":"격자 가로 인덱스 (EPSG:5179 평면 x / 100 — 경도가 아니다)","example":9582},"score":{"type":"integer","format":"int64","description":"핫스코어 — 최근 48시간(8버킷) 방문 신호 합산","example":12},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름. 구역 밖 격자면 null — 이때 마커 라벨은 같은 항목의 regionName(행정동)이다(추가 호출 없음).","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A는 구역 북단, 열 1은 서단) — 마커 배지용. zoneName 과 항상 쌍이라 구역 밖 격자면 함께 null 이다.","example":"I-6"},"regionName":{"type":["string","null"],"description":"격자 중심점이 속한 행정동 전체 이름. 어느 행정동에도 속하지 않으면(해상 등) null. zoneName 이 null 이면 이 값이 표시 이름 폴백이다(폴백에는 칸 번호를 붙이지 않는다).","example":"부산광역시 부산진구 부전1동"}},"required":["gridId","gridX","gridY","regionName","score","zoneCell","zoneName"]},"ApiResponseDtoOccupiedGridPageResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/OccupiedGridPageResponseDto"}},"required":["data","developCode","message"]},"OccupiedGridPageResponseDto":{"type":"object","description":"뷰포트 색칠 격자 페이지 응답 (커서 페이지네이션)","properties":{"grids":{"type":"array","description":"이 페이지의 색칠 격자 목록 ((grid_y, grid_x) 오름차순)","items":{"$ref":"#/components/schemas/OccupiedGridResponseDto"}},"nextCursor":{"type":["string","null"],"description":"다음 페이지 조회용 커서. 다음 요청 cursor 파라미터에 넣는다. 마지막 페이지면 null.","example":"MTk0MjJfOTU4Mg=="}},"required":["grids","nextCursor"]},"OccupiedGridResponseDto":{"type":"object","description":"뷰포트 색칠 격자 한 칸 — 지도 렌더링용 위치 정보","properties":{"gridId":{"type":"string","description":"격자 ID (\"{grid_y}_{grid_x}\" 포맷)","example":"19422_9582"},"gridY":{"type":"integer","format":"int32","description":"격자 세로 인덱스 (EPSG:5179 평면 y / 100 — 위도가 아니다)","example":19422},"gridX":{"type":"integer","format":"int32","description":"격자 가로 인덱스 (EPSG:5179 평면 x / 100 — 경도가 아니다)","example":9582},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름. 구역 밖 격자면 null — 이때 표시 이름은 같은 항목의 regionName(행정동)이다(추가 호출 없음).","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A는 구역 북단, 열 1은 서단) — 셀 배지용. zoneName 과 항상 쌍이라 구역 밖 격자면 함께 null 이다.","example":"I-6"},"regionName":{"type":["string","null"],"description":"격자 중심점이 속한 행정동 전체 이름. 어느 행정동에도 속하지 않으면(해상 등) null. zoneName 이 null 이면 이 값이 표시 이름 폴백이다(폴백에는 칸 번호를 붙이지 않는다).","example":"부산광역시 부산진구 부전1동"}},"required":["gridId","gridX","gridY","regionName","zoneCell","zoneName"]},"ApiResponseDtoGridCellResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GridCellResponseDto"}},"required":["data","developCode","message"]},"GridCellResponseDto":{"type":"object","description":"단일 격자의 내 색칠(점령) 상태. 미점령이어도 404가 아니라 occupied=false로 응답한다.","properties":{"gridId":{"type":"string","description":"격자 ID (\"{grid_y}_{grid_x}\" 포맷)","example":"19422_9582"},"occupied":{"type":"boolean","description":"내가 이 격자를 점령(색칠)했는지 여부","example":true},"videoCount":{"type":"integer","format":"int32","description":"이 격자에 올린 내 영상 수 (미점령이면 0)","example":3},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름. 구역 밖 격자면 null — 이때 표시 이름은 같은 응답의 regionName(행정동)이다(추가 호출 없음).","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A는 구역 북단, 열 1은 서단). zoneName 과 항상 쌍이라 구역 밖 격자면 함께 null 이다.","example":"I-6"},"regionName":{"type":["string","null"],"description":"격자 중심점이 속한 행정동 전체 이름. 아직 아무도 영상을 올리지 않은 격자에도 실린다. 어느 행정동에도 속하지 않으면(해상 등) null. zoneName 이 null 이면 이 값이 표시 이름 폴백이다(폴백에는 칸 번호를 붙이지 않는다).","example":"부산광역시 영도구 영선1동"}},"required":["gridId","occupied","regionName","videoCount","zoneCell","zoneName"]},"ApiResponseDtoGridVideoPageResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GridVideoPageResponseDto"}},"required":["data","developCode","message"]},"GridGlobalVideoResponseDto":{"type":"object","description":"격자 전역 영상 목록 항목","properties":{"videoId":{"type":"integer","format":"int64","description":"영상 ID. 항목 탭 → 단건 재생(GET /api/videos/{videoId}) 진입 키","example":1042},"thumbnailUrl":{"type":"string","description":"썸네일 presigned GET URL. 목록은 READY 만 담겨 null 아님이 기대값이다"},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초, 최대 30)","example":12},"viewCount":{"type":"integer","format":"int64","description":"조회수 — 인기순 정렬 근거","example":37},"recordedAt":{"type":"string","format":"date-time","description":"촬영 시각 (표시용). 정렬 tie-break 키는 createdAt 이다","example":"2026-07-20T18:03:11Z"},"nickname":{"type":"string","description":"작성자 닉네임 원문. @ 등 화면 표기는 FE 가 붙인다","example":"busan.vlog"}},"required":["durationSec","nickname","recordedAt","thumbnailUrl","videoId","viewCount"]},"GridVideoPageResponseDto":{"type":"object","description":"격자 전역 영상 목록 페이지 응답 (keyset 커서 페이지네이션)","properties":{"videos":{"type":"array","description":"이 페이지의 전역 공개·READY 영상 (인기순). 없으면 빈 배열","items":{"$ref":"#/components/schemas/GridGlobalVideoResponseDto"}},"hasNext":{"type":"boolean","description":"다음 페이지 존재 여부 (lookahead 판정)"},"nextCursor":{"type":["string","null"],"description":"다음 페이지 조회용 opaque 커서. 다음 요청 cursor 파라미터에 넣는다. 마지막 페이지면 null.","example":"MTk0MjJfOTU4Mjo1OjE3ODQ0NTU4MDAwMDAwMDA6MTAzOQ=="}},"required":["hasNext","nextCursor","videos"]},"ApiResponseDtoListGridVideoResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GridVideoResponseDto"}}},"required":["data","developCode","message"]},"GridVideoResponseDto":{"type":"object","description":"격자별 내 영상 리스트 항목","properties":{"videoId":{"type":"integer","format":"int64","description":"영상(방문 이벤트) ID. 개별 재생·교체·삭제 진입 키","example":1042},"thumbnailUrl":{"type":["string","null"],"description":"썸네일 presigned GET URL. READY 아니면(썸네일 key 없음) null"},"processingStatus":{"type":"string","description":"영상 처리 상태 (UPLOADED/ENCODING/BLURRING/READY/FAILED)","example":"READY"},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초, 최대 30)","example":12},"createdAt":{"type":"string","format":"date-time","description":"업로드(방문) 시각 — 정렬 키","example":"2026-07-20T18:03:11Z"}},"required":["createdAt","durationSec","processingStatus","thumbnailUrl","videoId"]},"ApiResponseDtoGridHourlyUploadResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GridHourlyUploadResponseDto"}},"required":["data","developCode","message"]},"GridHourlyUploadResponseDto":{"type":"object","description":"격자 전역 시간대 분포 응답 (KST 24구간)","properties":{"gridId":{"type":"string","description":"격자 ID","example":"19422_9582"},"hours":{"type":"array","description":"KST 0시부터 23시까지 24개 구간. 업로드가 없는 구간은 count 0","items":{"$ref":"#/components/schemas/HourlyUploadCountResponseDto"}}},"required":["gridId","hours"]},"HourlyUploadCountResponseDto":{"type":"object","description":"시간대 구간 하나의 업로드 수","properties":{"hour":{"type":"integer","format":"int32","description":"KST 기준 시 (0~23)","example":18},"count":{"type":"integer","format":"int64","description":"그 시간대의 전역 공개 영상 수. 업로드가 없으면 0","example":3}},"required":["count","hour"]},"ApiResponseDtoGridCoverVideoResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"anyOf":[{"$ref":"#/components/schemas/GridCoverVideoResponseDto"},{"type":"null"}]}},"required":["data","developCode","message"]},"GridCoverVideoResponseDto":{"type":"object","description":"격자 전역 대표 영상","properties":{"videoId":{"type":"integer","format":"int64","description":"대표 영상 ID. 개별 재생 진입 키","example":1042},"thumbnailUrl":{"type":"string","description":"썸네일 presigned GET URL. 대표는 항상 READY 라 null 이 아니다"},"durationSec":{"type":"integer","format":"int32","description":"영상 길이(초, 최대 30)","example":12},"viewCount":{"type":"integer","format":"int64","description":"조회수 — 대표 선정 정렬 키","example":37},"recordedAt":{"type":"string","format":"date-time","description":"촬영 시각 (표시용). 정렬 tie-break 키는 createdAt 이다","example":"2026-07-20T18:03:11Z"},"nickname":{"type":"string","description":"작성자 닉네임 원문. @ 등 화면 표기는 FE 가 붙인다","example":"busan.vlog"}},"required":["durationSec","nickname","recordedAt","thumbnailUrl","videoId","viewCount"]},"ApiResponseDtoGridAggregationResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GridAggregationResponseDto"}},"required":["data","developCode","message"]},"CurrentRegionResponseDto":{"type":"object","description":"뷰포트 중심이 속한 현재 행정동과 개인 점령 요약","properties":{"regionCode":{"type":"string","description":"행정동 코드 10자리","example":"2623058000"},"name":{"type":"string","description":"동 이름 한 토큰","example":"부전2동"},"gridCount":{"type":"integer","format":"int32","description":"이 행정동 전체에서 내가 점령한 격자 수(뷰포트 무관)","example":5},"videoCount":{"type":"integer","format":"int64","description":"이 행정동 전체에서 내 격자에 올린 영상 수(뷰포트 무관)","example":355}},"required":["gridCount","name","regionCode","videoCount"]},"GridAggregationResponseDto":{"type":"object","description":"뷰포트 점령 격자 묶음과 현재 동네 집계","properties":{"currentRegion":{"type":"null","$ref":"#/components/schemas/CurrentRegionResponseDto","description":"뷰포트 중심이 속한 행정동. 해상이나 서비스 범위 밖이면 null"},"items":{"type":"array","description":"뷰포트 안에서 행정 단위로 묶은 내 점령 격자 목록","items":{"$ref":"#/components/schemas/RegionAggregateResponseDto"}}},"required":["currentRegion","items"]},"RegionAggregateResponseDto":{"type":"object","description":"행정 단위로 묶어 센 점령 격자 집계 한 항목","properties":{"regionCode":{"type":["string","null"],"description":"묶음 키 — 행정동 코드를 단위 길이로 자른 접두(동 10자리, 구 5자리, 시 2자리). 행정동이 판정되지 않은 격자 묶음만 null 이다.","example":"2623058000"},"name":{"type":["string","null"],"description":"단위 표시 이름(동 \"부전2동\", 구 \"부산진구\", 시 \"부산광역시\"). \"부산광역시 214\" 를 \"부산 214\" 로 줄이는 표기 축약은 클라이언트 몫이다. 행정동이 판정되지 않은 격자 묶음만 null 이다.","example":"부전2동"},"lat":{"type":"number","format":"double","description":"마커 대표 좌표 위도 — 그 묶음에 속한 점령 격자 중심의 평균이다(행정 경계 무게중심이 아니다)","example":35.162},"lng":{"type":"number","format":"double","description":"마커 대표 좌표 경도","example":129.065},"count":{"type":"integer","format":"int32","description":"그 단위 안 점령 격자 수. 항목을 더 묶어 합산해도 같은 뷰포트 개별 조회 총수와 일치한다","example":31}},"required":["count","lat","lng","name","regionCode"]},"ApiResponseDtoListFriendListItemResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FriendListItemResponseDto"}}},"required":["data","developCode","message"]},"FriendListItemResponseDto":{"type":"object","description":"친구 목록 항목 — 수락된 친구 한 명.","properties":{"userId":{"type":"integer","format":"int64","description":"친구의 사용자 id — 프로필 조회·친구 삭제 경로 변수로 그대로 쓴다","example":7},"nickname":{"type":"string","description":"친구의 닉네임","example":"채우미"},"profileImageUrl":{"type":["string","null"],"description":"친구의 프로필 이미지 URL — 미설정이면 null"},"gridColor":{"type":"string","description":"친구의 도감 색상 — 지도에서 친구가 수집한 격자를 칠하는 색","enum":["BLUE","GREEN","PURPLE","ORANGE","PINK","YELLOW","RED","TEAL"],"example":"PINK"}},"required":["gridColor","nickname","profileImageUrl","userId"]},"ApiResponseDtoFriendProfileResponseDto":{"type":"object","properties":{"developCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FriendProfileResponseDto"}},"required":["data","developCode","message"]},"CollectionSummaryResponseDto":{"type":"object","description":"개인 도감 요약 — 점령한 격자 수·올린 영상 총합·방문한 행정동 수·현재/최장 스트릭·획득 뱃지 수.","properties":{"totalGridCount":{"type":"integer","format":"int32","description":"내가 점령한 격자 수 (도감 크기)","example":15},"totalVideoCount":{"type":"integer","format":"int64","description":"내가 올린 영상 총합 (활성 영상만)","example":42},"visitedRegionCount":{"type":"integer","format":"int32","description":"내가 방문한 서로 다른 행정동 수","example":6},"currentStreak":{"type":"integer","format":"int32","description":"현재 스트릭 (연속 업로드 일수). 마지막 기록이 KST 그제 이전이면 끊긴 것으로 보고 0","example":12},"maxStreak":{"type":"integer","format":"int32","description":"최장 스트릭. 끊겨도 유지되는 역대 최고 기록","example":21},"badgeCount":{"type":"integer","format":"int32","description":"획득한 뱃지 수","example":7}},"required":["badgeCount","currentStreak","maxStreak","totalGridCount","totalVideoCount","visitedRegionCount"]},"FriendCollectionGridResponseDto":{"type":"object","description":"친구가 수집한 격자 하나 — 썸네일은 재생 허용 영상이 있을 때만 붙는다.","properties":{"gridId":{"type":"string","description":"격자 ID \"{grid_y}_{grid_x}\"","example":"19422_9582"},"gridY":{"type":"integer","format":"int32","description":"격자 Y 인덱스(지도 이동용, gridId 디코드값)","example":19422},"gridX":{"type":"integer","format":"int32","description":"격자 X 인덱스(지도 이동용, gridId 디코드값)","example":9582},"firstCollectedAt":{"type":"string","format":"date-time","description":"친구가 이 격자를 처음 수집한 시각 — 정렬 키","example":"2026-07-20T18:03:11Z"},"lastUploadedAt":{"type":"string","format":"date-time","description":"친구의 마지막 업로드 시각","example":"2026-07-21T09:12:00Z"},"videoCount":{"type":"integer","format":"int32","description":"그 격자에 친구가 올린 영상 수","example":3},"thumbnailUrl":{"type":["string","null"],"description":"썸네일 presigned GET URL — 재생 허용 영상이 없으면 null"},"regionName":{"type":["string","null"],"description":"격자 중심점 행정동 이름(무귀속/미판정이면 null)","example":"서울특별시 강남구 역삼1동"},"zoneName":{"type":["string","null"],"description":"격자가 속한 구역 이름 (예 \"서면\"). 구역 밖 격자면 null — 이때 라벨은 regionName 이다","example":"서면"},"zoneCell":{"type":["string","null"],"description":"구역 내 위치 코드 \"{행}-{열}\" (행 A 는 구역 북단, 열 1 은 서단). zoneName 과 항상 쌍이라 구역 밖이면 함께 null","example":"I-6"}},"required":["firstCollectedAt","gridId","gridX","gridY","lastUploadedAt","regionName","thumbnailUrl","videoCount","zoneCell","zoneName"]},"FriendProfileResponseDto":{"type":"object","description":"친구 
[...]
