{"openapi":"3.1.0","info":{"title":"FillMap API","description":"FillMap API 문서","version":"v1"},"servers":[{"url":"https://api.fillmap.kr","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"비밀번호 (Password)","description":"비밀번호 상태·변경·재설정 API. 상태·변경은 로그인 필수, 재설정 2종은 비로그인이다."},{"name":"행사 운영자 계정 (Org Account)","description":"담당자 정보 조회·수정과 아이디 변경 요청. 행사 운영자 전용이다."},{"name":"행사 (Events)","description":"지도에서 누른 격자를 행사 위치로 해석하는 역조회 API."},{"name":"미션 영상 (Mission Videos)","description":"미션 상세 하단 \"이 미션의 영상\" 목록 API — 그 미션의 대상 격자에서 미션 기간에 촬영된 공개 영상."},{"name":"이벤트 (Event)","description":"이벤트 열람 인원 heartbeat·조회 API."},{"name":"영상 (Video)","description":"영상 업로드·교체·삭제 API. 업로드는 presigned URL 발급 → S3 직접 업로드 → 메타데이터 저장 순서다."},{"name":"인증 (Auth)","description":"회원가입·로그인·소셜 로그인·토큰 재발급 API. 이 그룹의 엔드포인트는 인증 없이 호출한다."},{"name":"행사 운영자 콘솔 (Org)","description":"행사 운영자 전용 조회 API — 승인 이벤트 목록."},{"name":"알림 (Notification)","description":"FCM 푸시 토큰 등록/갱신·해제 API."},{"name":"장소 검색 (Search)","description":"장소명 자유 텍스트 검색 — 카카오 로컬 키워드 검색 실시간 프록시 + 격자 ID 합성."},{"name":"행사 운영자 계정 발급 요청 (Org Account Request)","description":"계정이 없는 행사 운영자가 발급을 신청하는 공개 폼. 비로그인 호출이다."},{"name":"격자 (Grid)","description":"개인 도감 색칠 격자 조회 API — 로그인 사용자가 점령한 격자만 반환한다.\n\n격자는 EPSG:5179 미터 평면에서 100m 로 나눈 셀이다(2026-08-08 MSG-347 전까지는 위경도 등간격 근사였다). gridId 포맷 `\"{grid_y}_{grid_x}\"` 와 이 API 들의 요청·응답 구조는 그대로지만 **값은 전면 교체됐다** (같은 장소가 `41642_110458` 에서 `19422_9582` 로 바뀌었다). 예전 gridId 를 저장해 둔 클라이언트는 빈 결과를 받으므로 캐시를 비워야 한다.\n\n셀은 위경도 축과 평행하지 않다(자오선 수렴 최대 약 1.6도). 지도에 그릴 때 남서·북동 2점으로 만든 직사각형을 쓰면 어긋나므로 **꼭짓점 4점 폴리곤**으로 그린다. 화면에 보이는 격자 범위를 구할 때도 2점이 아니라 꼭짓점 4점의 min/max 를 써야 가장자리 셀이 빠지지 않는다.\n\n클라이언트가 같은 격자를 계산하려면 서버와 **글자 단위로 같은 proj4 정의**를 써야 한다: `+proj=tmerc +lat_0=38 +lon_0=127.5 +k=0.9996 +x_0=1000000 +y_0=2000000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs`. 대조용 전국 샘플 200건은 서버 레포 `src/test/resources/fixtures/grid-epsg5179-samples.json` 에 있다."},{"name":"알림 (Notification)","description":"받은 알림 목록 조회와 읽음 처리 API."},{"name":"인증-개발용 (Auth Dev)","description":"로컬/dev 전용 — 소셜 로그인을 실제 소셜 토큰 없이 백엔드에서 테스트. 운영(prod) 미노출."},{"name":"도감 (Collection)","description":"개인 도감 요약 조회 API — 로그인 사용자의 점령·영상·방문 행정동 집계."},{"name":"관리자 행사 등재 심사 (Admin Event Submission)","description":"행사 등재 신청을 검토하고 승인·반려하는 API (MSG-500). ADMIN 권한 필수."},{"name":"관리자 승인 행사 (Admin Approved Event)","description":"승인된 행사의 상태별 조회와 노출 중지 API (MSG-500). ADMIN 권한 필수."},{"name":"격자 상세 (Grid Videos)","description":"격자를 탭했을 때 그 격자의 영상 조회 API — 내 영상 리스트·전역 대표 영상·전역 인기 목록."},{"name":"AI 경로 추천 (Routes)","description":"자연어 한 문장과 뷰포트로 활성 미션·행사·장소 검색 실조회 후보에 방문 순서와 이유를 붙여 돌려준다."},{"name":"구역 (Zone)","description":"구역(\"서면\" 등)의 이름과 격자 사각형 범위. 검색바에서 구역으로 지도를 옮기거나 구역 범위를 오버레이로 그릴 때 쓴다 — 격자 표시명(\"서면 A-14\")은 서버가 계산해 격자 응답에 함께 싣는다."},{"name":"행사 (Events)","description":"행사 위치의 영상 업로드·피드·상세 API."},{"name":"미션 (Missions)","description":"지도 오버레이용 활성 미션 목록·내 진행도·미션 상세 조회 API."},{"name":"알림 (Notification)","description":"카테고리별 알림 수신 설정 조회/토글 API."},{"name":"행정동 (Region)","description":"좌표를 포함하는 행정동을 우리 region_code 체계로 판정하는 역지오코딩 API."},{"name":"인기 검색어 (Trending)","description":"사용자 검색어 일별 집계 기반 인기 검색어 순위 — 오늘+어제 합산 TOP 10."},{"name":"전역 탐색 (Region Explore)","description":"행정동 축으로 전역 공개 콘텐츠를 탐색하는 API — 지도 홈 패널·전체 보기 격자 썸네일 뷰·검색 무입력 전체 지역 리스트."},{"name":"관리자 신고 처리 (Admin Report)","description":"접수된 영상 신고의 열람·승인·기각과 블라인드 해제·단건 확인 API (MSG-195). ADMIN 권한 필수."},{"name":"사용자 (User)","description":"계정 관리 API. 인증 필수 — 본인 계정만 대상이다."},{"name":"뱃지 (Badge)","description":"뱃지 API — 내 뱃지 목록 조회 · 대표 뱃지 집합 교체."},{"name":"친구 (Friend)","description":"고정 친구 코드 기반 친구 관계 API — 코드·요청·수락·거절·삭제 (MSG-185), 친구 목록·친구 프로필 조회 (MSG-186), 친구 도감 레이어(격자 뷰포트·격자 영상 목록, MSG-187, 축소 시야의 행정 단위 집계는 MSG-356). 인증 필수."},{"name":"행사 (Events)","description":"지도 홈 행사 칩·이벤트 헤더·행사 위치 목록 조회 API."},{"name":"관리자 행사 운영자 계정 (Admin Org Account)","description":"계정 발급 요청 검토와 계정 발급·초기 비밀번호 재발송 API (MSG-499), 아이디 변경 요청 심사 (MSG-500). ADMIN 권한 필수."},{"name":"행사 등재 신청 (Org Submission)","description":"행사 운영자가 행사를 신청하고 반려본을 고쳐 다시 낸다."},{"name":"신고 (Report)","description":"영상 신고 접수 API (MSG-192). 인증 필수."},{"name":"행사 (Events)","description":"행사 영상의 댓글·도움돼요 API."},{"name":"핫구역 (HotZone)","description":"최근 48시간 방문(업로드) 신호 상위 격자 조회 API — 개인화 없는 공용 목록."}],"paths":{"/api/videos/{videoId}":{"get":{"tags":["영상 (Video)"],"summary":"단건 영상 재생 조회","description":"영상 하나의 표시용 메타와 재생본 presigned GET URL을 발급한다. 소유자·타인 모두 조회할 수 있으나 삭제·블라인드(타인)는 404, 비공개(타인)·친구만 공개(비친구)는 403이다. READY가 아니면 playbackUrl은 null이다. 비로그인도 조회할 수 있으며 전체 공개 영상만 통과한다 — 나머지는 타인이 요청할 때와 같은 응답으로 거절된다.","operationId":"getPlayback","parameters":[{"name":"videoId","in":"path","description":"재생할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoPlaybackResponseDto"}}}}}},"put":{"tags":["영상 (Video)"],"summary":"영상 교체","description":"기존 영상을 새 파일로 교체한다. 좌표를 생략하면 격자를 유지하고 파일만 교체하며, 좌표를 보내면 기존과 같은 격자여야 한다(다르면 거부). 교체 직후 상태는 UPLOADED다.","operationId":"replace","parameters":[{"name":"videoId","in":"path","description":"교체할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1001}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoReplaceRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoReplaceResponseDto"}}}}}},"delete":{"tags":["영상 (Video)"],"summary":"영상 삭제","description":"영상을 삭제한다. 해당 격자의 내 영상이 모두 사라지면 점령이 롤백(색칠 해제)된다.","operationId":"delete","parameters":[{"name":"videoId","in":"path","description":"삭제할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1001}],"responses":{"200":{"description":"OK"}}}},"/api/users/me/profile-image":{"put":{"tags":["사용자 (User)"],"summary":"프로필 이미지 변경 확정","description":"presign 으로 올린 pending 키를 확정해 프로필 이미지를 교체하고 갱신된 프로필을 반환한다. 내 pending 경로가 아니거나 확장자 없는 키는 1401, S3 에 실제로 없는 키는 1402, 실측 크기가 5MB 를 넘으면 1413. 교체된 이전 이미지는 응답 후 정리된다.","operationId":"updateProfileImage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileImageUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}},"delete":{"tags":["사용자 (User)"],"summary":"프로필 이미지 제거","description":"프로필 이미지를 기본 상태(null)로 되돌린다. 이미 기본 상태여도 성공한다(멱등). 응답은 변경 확정과 같은 프로필 형태다.","operationId":"removeProfileImage","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}}},"/api/users/me/nickname":{"put":{"tags":["사용자 (User)"],"summary":"닉네임 수정","description":"닉네임(2~20자)을 교체하고 변경 후 프로필을 반환한다. 중복 닉네임은 허용된다.","operationId":"updateNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NicknameUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}}},"/api/users/me/marketing-consent":{"put":{"tags":["사용자 (User)"],"summary":"마케팅 정보 수신 동의 변경","description":"가입 후 설정 화면에서 마케팅 수신 동의를 켜거나 끈다. 이미 저장된 값과 같은 값을 다시 보내도 성공하며, 이때 서버가 보관하는 마지막 변경 시각은 갱신되지 않는다(멱등). 응답은 변경 후 동의 상태다 — 위치정보 사용 동의 변경과 같은 구조다.","operationId":"updateMarketingConsent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingConsentUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoConsentStatusResponseDto"}}}}}}},"/api/users/me/location-consent":{"put":{"tags":["사용자 (User)"],"summary":"위치정보 사용 동의 켜기","description":"위치기반서비스 이용 동의를 켜고 변경 후 프로필을 반환한다. 첫 로그인 온보딩의 동의 제출과 프로필 화면이 이 엔드포인트 하나를 공용으로 쓴다.\n\n이 동의는 철회할 수 없다 — consented=false 요청은 1400 으로 거절된다. 되돌리려면 계정을 삭제해야 하며, 이는 다른 필수 약관 동의와 같은 규칙이다. 이미 켜진 상태에서 다시 켜는 요청은 성공하고, 이때 서버가 보관하는 동의 시각은 갱신되지 않는다(멱등).","operationId":"updateLocationConsent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationConsentUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}}},"/api/users/me/consents":{"get":{"tags":["사용자 (User)"],"summary":"가입 약관 동의 상태 조회","description":"로그인 직후 동의 게이트를 띄울지 판별하는 재료다. 항목별 동의 여부 5종과 필수 4항목 완료 여부(requiredCompleted)를 함께 반환한다 — 필수 항목 목록이 늘어도 클라이언트가 조립을 고치지 않도록 서버가 계산한다.\n\n위치기반서비스 항목(locationTerms)은 프로필 화면의 위치정보 사용 동의와 같은 한 값이다. 이 동의는 철회할 수 없으므로 한 번 true 가 되면 되돌아가지 않고, 필수 동의를 마친 사용자에게 게이트가 다시 뜨는 일도 없다. 동의 시각은 서버에만 보관하고 응답에 싣지 않는다.","operationId":"getConsentStatus","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoConsentStatusResponseDto"}}}}}},"put":{"tags":["사용자 (User)"],"summary":"가입 약관 동의 제출","description":"가입 게이트의 \"동의하고 시작하기\" 제출이다. 필수 4항목(만 14세 이상·서비스 이용약관·개인정보 수집·이용·위치기반서비스 이용약관)은 true 여야 하고 마케팅만 선택이다 — 하나라도 false 거나 누락이면 400 이며 이때 아무 항목도 저장되지 않는다.\n\n같은 내용을 다시 보내도 성공한다(멱등). 재제출이 필수 4항목의 최초 동의 시각을 덮지 않고, 마케팅만 값이 실제로 달라질 때 변경 시각이 갱신된다. 제출은 위치정보 사용 동의도 함께 켜므로 프로필 화면의 위치 동의와 값이 하나다. 응답은 제출 후 동의 상태다.","operationId":"submitConsents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentSubmitRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoConsentStatusResponseDto"}}}}}}},"/api/event-videos/{videoId}/helpful":{"put":{"tags":["행사 (Events)"],"summary":"행사 영상 도움돼요 추가","description":"이 영상에 도움돼요를 누른다. 사용자당 한 번이고 이미 누른 상태에서 다시 불러도 성공하며 수가 늘지 않는다 — 네트워크 재시도가 수를 흔들지 않도록 PUT 으로 둔 이유다.\n\n응답의 helpfulCount 는 처리 후 다시 센 값이라 그 사이 다른 사람이 누른 것도 반영된다.\n\n아카이브된 행사(종료 30일 후)에서는 409 + developCode 13422 다 — 유예 기간까지는 계속 누를 수 있다. 상세에 보이지 않는 영상은 404 + 13406 이다.","operationId":"addHelpful","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoHelpfulResponseDto"}}}}}},"delete":{"tags":["행사 (Events)"],"summary":"행사 영상 도움돼요 취소","description":"누른 도움돼요를 되돌린다. 누른 적이 없어도 실패하지 않는다(멱등).\n\n아카이브된 행사(종료 30일 후)에서는 409 + developCode 13422 다 — 유예 기간까지는 취소할 수 있다. 상세에 보이지 않는 영상은 404 + 13406 이다.","operationId":"removeHelpful","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoHelpfulResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}/notification":{"put":{"tags":["행사 (Events)"],"summary":"행사 알림 구독 토글","description":"행사 회차 단위로 알림을 켜고 끈다. 이벤트에는 참여 절차가 없어 구독이 사용자와 행사가 맺는 관계의 전부다. 같은 값을 반복 요청해도 같은 결과로 성공한다.\n\n응답의 enabled 는 저장된 구독 행의 존재가 아니라 **노출 상태**다 — 구독 행이 있으면서 회차가 예정이거나 진행 중일 때만 true 이고, 종료된 회차는 행이 남아 있어도 false 다(종료 시점부터 즉시 OFF, 정리 배치를 기다리지 않는다).\n\n종료된 행사(업로드 유예·아카이브)에 켜기를 요청하면 409 + developCode 13422 다 — 시작 알림이 이미 지나 받을 것이 없기 때문이다. 끄기는 상태와 무관하게 언제나 성공한다. 없는 회차이거나 아직 노출 기간 전인 예정 회차면 404 + developCode 13404 다.\n\n실제 발송은 이 구독 위에 알림 설정의 EVENT 카테고리 스위치가 겹쳐 결정된다 — 카테고리를 끈 사용자에게는 구독이 켜져 있어도 발송되지 않는다.","operationId":"updateSubscription","parameters":[{"name":"occurrenceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventNotificationUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventNotificationResponseDto"}}}}}}},"/api/badges/featured":{"put":{"tags":["뱃지 (Badge)"],"summary":"대표 뱃지 집합 교체","description":"획득한 뱃지 중 최대 2개를 대표로 교체 지정한다(멱등). 배열 순서 = 표시 순서(rank 1·2), 빈 배열은 전부 해제. 미획득·미존재 뱃지는 7403, 중복 id 는 7400, 3개 이상은 400 이다.","operationId":"replaceFeatured","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturedBadgeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFeaturedBadgeResponseDto"}}}}}}},"/api/videos":{"post":{"tags":["영상 (Video)"],"summary":"영상 메타데이터 저장 (업로드 확정)","description":"S3 업로드 완료 후 영상 메타데이터를 저장하고 좌표로 격자를 매핑한다. 해당 격자에 내 첫 영상이면 점령(occupied=true)된다.","operationId":"upload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoUploadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoUploadResponseDto"}}}}}}},"/api/videos/{videoId}/reports":{"post":{"tags":["신고 (Report)"],"summary":"영상 신고 접수","description":"다른 사람의 영상을 사유 5종(INAPPROPRIATE, PRIVACY, SPAM, COPYRIGHT, OTHER) 중 하나와 함께 신고한다. 접수된 신고는 PENDING 으로 쌓여 관리자 처리의 입력이 되며, 접수 자체는 영상 상태를 바꾸지 않는다. 같은 영상 재신고는 409, 자기 영상 신고는 400, 없는 영상·삭제·블라인드 영상은 재생 조회와 같은 404 다.","operationId":"report","parameters":[{"name":"videoId","in":"path","description":"신고할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoReportCreateResponseDto"}}}}}}},"/api/videos/presigned-url":{"post":{"tags":["영상 (Video)"],"summary":"업로드용 presigned URL 발급","description":"영상 파일을 S3에 직접 올릴 presigned URL을 발급한다. 이 URL로 PUT 업로드한 뒤 메타데이터 저장을 호출한다.","operationId":"issuePresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUrlRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPresignedUrlResponseDto"}}}}}}},"/api/videos/highlight-preview":{"post":{"tags":["영상 (Video)"],"summary":"하이라이트 선분석","description":"업로드 확정 전 원본(presign purpose=HIGHLIGHT_PREVIEW 로 올린 pending 키)의 AI 하이라이트 구간을 동기로 계산해 돌려준다. 원본 길이에 따라 응답까지 수 초에서 수십 초 걸린다(30초 1080p 기준 5초 내외). highlights 가 빈 배열이면 추천 없음이니 FE 는 추천 단계를 스킵한다. 실패 시 FE 는 직접 구간 지정으로 폴백한다 — 3502(분석 서버 문제, 재시도 가능)·3426(원본 파일 불량, 재시도 무의미)·3425(3분 초과)·3413(400, 허용 크기 초과). 결과는 저장되지 않는 임시 값이며, 같은 키로 이후 업로드 확정(POST /api/videos)이 가능하다.","operationId":"highlightPreview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HighlightPreviewRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoHighlightPreviewResponseDto"}}}}}}},"/api/users/me/profile-image/presigned-url":{"post":{"tags":["사용자 (User)"],"summary":"프로필 이미지 업로드용 presigned URL 발급","description":"프로필 이미지를 S3 에 직접 올릴 presigned URL 을 발급한다. 이 URL 로 PUT 업로드한 뒤 받은 s3Key 로 변경 확정(PUT /api/users/me/profile-image)을 호출한다. 허용 형식은 jpg·jpeg·png·webp 이고 크기 상한은 5MB 다 — 확장자와 Content-Type 이 어긋나거나 허용 밖이면 1415, 선언 크기가 상한을 넘으면 1413.\n\n아이폰 사진(heic·heif)은 받지 않는다 — 저장해도 대부분의 브라우저가 표시하지 못하기 때문이다. 파일 선택 accept 목록에서 heic 를 빼면 iOS 가 플랫폼 수준에서 JPEG 로 변환해 주므로 정상 경로에서는 거부가 나오지 않고, 그래도 새어 들어온 원본 heic 는 1415 응답을 안내 문구로 처리한다.","operationId":"issueProfileImagePresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileImagePresignRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoProfileImagePresignResponseDto"}}}}}}},"/api/routes/walk-paths":{"post":{"tags":["AI 경로 추천 (Routes)"],"summary":"세그먼트 보행 경로 조회","description":"추천 응답의 이웃 좌표쌍(출발지 구간 포함 1~8개)을 보내면 서버가 TMap 보행자 경로안내를 대신 호출해 세그먼트별 보행 좌표열과 실거리(미터)를 요청과 같은 개수, 같은 순서로 돌려준다.\n\nTMap 호출 실패·형태 위반·일 한도 소진은 에러가 아니라 200 에 해당 세그먼트 resolved: false 다 — 그 세그먼트는 직선과 직선거리 안내를 유지하면 된다 (부분 실패 허용).\n\n목록이 없거나 비었거나 9개 이상, 원소가 null, 좌표가 한국 서비스 범위(위도 33~39·경도 124~132) 밖이면 400 + developCode 14402 이고, 기능이 꺼진 환경(route.walk.enabled=false)에서는 503 + 14504 다.","operationId":"walkPaths","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteWalkPathRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRouteWalkPathResponseDto"}}}}}}},"/api/routes/recommend":{"post":{"tags":["AI 경로 추천 (Routes)"],"summary":"AI 경로 추천","description":"자연어 한 문장과 지금 보는 지도 범위를 보내면 서버 보유 후보(활성 미션·행사·장소 검색)에서 골라 방문 순서를 붙인 지점 목록(최대 8개)을 돌려준다. 지점마다 추천 이유 한 줄이 실린다.\n\n후보가 0~2개면 실패가 아니라 찾은 만큼과 notice 안내가 함께 오는 성공이다.\n\nviewport 가 뒤집혔거나 넓이 0 이거나 범위 밖이면 400 + developCode 14400, 한 변이 0.5도를 넘으면 400 + 14401 이다. 같은 사용자의 직전 시도 후 10초 안 재요청은 429 + 14429. AI 해석 실패는 502 + 14502 이고, 기능이 꺼진 환경(route.ai.enabled=false)에서는 503 + 14503 이다.","operationId":"recommend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteRecommendRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRouteRecommendResponseDto"}}}}}}},"/api/org/event-submissions":{"post":{"tags":["행사 등재 신청 (Org Submission)"],"summary":"행사 등재 신청 제출","description":"심사 중 상태로 접수하고 신청 번호(FM-2026-XXXX 꼴)를 부여한다. 위치마다 대표 격자를 서버가 계산해 저장하며, 위치 하나의 영역은 겹침을 한 번만 세는 합집합 기준 최대 81칸이다.\n\n유형별 필수 항목이 다르다 — FESTIVAL 은 주요 프로그램, POPUP 은 운영 시간, EVENT 는 참여 방식과 참여할 승인 이벤트 회차(parentOccurrenceId)이고 자기 유형이 아닌 항목이 실려 오면 거부한다. EVENT 의 위치는 대표 위치 정확히 1곳이고, 참여할 회차가 이미 끝났으면 접수하지 않는다.\n\n위치에는 이름 필드가 없고 배열 순서가 곧 순번이다.","operationId":"submit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSubmissionCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionSubmitResponseDto"}}}}}}},"/api/org/event-submissions/image/presigned-url":{"post":{"tags":["행사 등재 신청 (Org Submission)"],"summary":"대표 이미지 presigned URL 발급","description":"받은 uploadUrl 로 S3 에 직접 PUT 업로드한 뒤, 응답의 s3Key 를 신청 제출·재제출 요청의 imageS3Key 로 넘긴다. jpg·jpeg·png 만 받고 상한은 10MB 다.","operationId":"issueImagePresignedUrl","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSubmissionImagePresignRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionImagePresignResponseDto"}}}}}}},"/api/org/email-change-request":{"post":{"tags":["행사 운영자 계정 (Org Account)"],"summary":"아이디 변경 요청","description":"아이디(공식 이메일)는 기관 인증의 근거라 자체 변경이 불가하다. 이 API 는 변경 요청을 접수만 하고, 관리자가 승인해야 실제로 바뀐다.\n\n대기 중인 요청이 있으면 그 요청이 새 값으로 갱신된다 — 마지막 요청이 유효하다.","operationId":"requestEmailChange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgEmailChangeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/org-account-requests":{"post":{"tags":["행사 운영자 계정 발급 요청 (Org Account Request)"],"summary":"계정 발급 요청 접수","description":"계정 발급 신청을 대기 상태로 접수한다. 관리자가 큐에서 검토해 승인하면 계정이 만들어지고 초기 비밀번호가 공식 이메일로 발송된다.\n\n같은 공식 이메일의 대기 요청이 이미 있으면 그 요청이 새 내용으로 갱신된다 — 마지막 접수가 유효하므로 더블클릭 재제출과 오타 정정 재접수가 한 건으로 수렴한다. 신청 번호는 부여하지 않는다.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAccountRequestCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/notifications/tokens":{"post":{"tags":["알림 (Notification)"],"summary":"FCM 토큰 등록/갱신","description":"디바이스의 FCM 토큰을 현재 계정으로 등록한다(UPSERT). 같은 토큰 재등록은 충돌 없이 user_id·platform·appVersion·last_used_at 이 갱신된다 — 재로그인·계정 전환 포함. platform 이 IOS/ANDROID/WEB(대소문자 무시) 외면 10400 이다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushTokenRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["알림 (Notification)"],"summary":"FCM 토큰 해제","description":"본인 소유(user_id 일치) 토큰 행을 삭제한다 — 멱등, 없는 토큰·소유 불일치 해제도 200. 로그아웃은 /api/auth/logout body 의 fcmToken 으로 한 번에 처리하고, 이 API 는 토큰 로테이션 등 로그아웃 외 정리 용도다.","operationId":"unregister","parameters":[{"name":"fcmToken","in":"query","description":"해제할 FCM 토큰","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/missions/{missionId}/videos":{"get":{"tags":["미션 영상 (Mission Videos)"],"summary":"미션 영상 목록 조회","description":"그 미션의 대상 격자에서 미션 기간에 촬영된 공개(PUBLIC)·READY 영상을 촬영 시각(recordedAt) 최신순으로 페이지 조회한다 — 촬영 시각이 같으면 videoId 내림차순으로 갈린다. 기간이 없는 미션(코스·지속형)은 기간 조건 없이 과거 영상까지 담고, 기간이 끝난 미션도 목록은 그대로 조회된다. 비공개·친구 공개·삭제·블라인드·인코딩 미완 영상은 본인 것이라도 제외되며, 응답은 누가 부르든 같다. 첫 요청은 cursor 없이 부르고, hasNext 가 true 면 응답의 nextCursor 를 다음 요청 cursor 로 넘기면 이어진다. 커서는 발급된 그 미션 전용이라 다른 미션 커서는 400(INVALID_CURSOR)이고, 형식이 깨진 커서도 같다. size 는 1~50 밖이면 클램프된다. 조건에 맞는 영상이 없거나 존재하지 않는 missionId 는 빈 페이지다. 썸네일은 presigned GET URL 로 내려준다.","operationId":"getMissionVideos","parameters":[{"name":"missionId","in":"path","description":"미션 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12},{"name":"cursor","in":"query","description":"직전 응답의 nextCursor (opaque). 생략하면 첫 페이지","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기 (1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridVideoPageResponseDto"}}}}}},"post":{"tags":["미션 영상 (Mission Videos)"],"summary":"미션 경유 영상 업로드 확정","description":"축제·팝업 미션에 영상을 올린다. 파일은 기존 presigned 발급(POST /api/videos/presigned-url)으로 S3 에 먼저 올리고 이 API 가 확정한다.\n\n좌표도 격자도 받지 않는다. 저장 위치는 서버가 그 미션의 대표 격자로 정하므로 같은 미션의 영상이 지도에서 한 칸에 모인다. 공개 범위는 PUBLIC 으로 고정되고, 업로드는 일반 업로드와 똑같이 그 격자의 점령을 만들며 뱃지·스트릭·미션 스탬프도 그대로 반영된다.\n\n같은 s3Key 로 다시 보내면 영상이 하나 더 생기지 않고 저장된 행 기준의 성공이 돌아온다. 이때 occupied 는 false, newBadges 와 completedMissions 는 빈 배열이다(첫 응답 전용 필드).\n\n촬영 시각이 미래면 400 + developCode 3424, 키 형식이 아니거나 남의 pending 키면 400 + 3401 이다. 그 밖의 모든 실패는 409 + 12409 하나로 돌아온다 — 없는 미션, 코스처럼 대상이 아닌 유형, 기간 밖, 촬영 시각이 미션 기간 밖, 대표 격자가 없는 미션, 이미 다른 자리에 쓴 키, S3 에 없는 키가 전부 여기 해당하며 사유는 갈라 주지 않는다. 이 응답을 받으면 그대로 재시도하지 말고 미션 상세를 다시 불러 업로드 가능 여부를 확인하고, 미션이 여전히 열려 있으면 presigned URL 을 새로 발급받아 파일부터 다시 올린다.\n\n인코딩이 끝나기 전에는 목록에 잡히지 않는다 — 업로드 직후 화면에 카드를 보여주려면 이 응답으로 낙관적으로 그린다(기존 업로드와 같은 성질).","operationId":"uploadMissionVideo","parameters":[{"name":"missionId","in":"path","description":"미션 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissionVideoUploadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMissionVideoUploadResponseDto"}}}}}}},"/api/friends/requests":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청","description":"상대의 친구 코드로 요청을 보낸다. 응답 status 가 PENDING 이면 상대 수락 대기, ACCEPTED 면 상대가 먼저 보낸 요청이 있어 즉시 친구 성립(자동 수락)이다.","operationId":"request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendRequestCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendRequestCreateResponseDto"}}}}}}},"/api/friends/requests/{requesterId}/reject":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청 거절","description":"받은 요청을 거절한다. 보낸 쪽에 통지는 없고, 상대는 다시 요청할 수 있다.","operationId":"reject","parameters":[{"name":"requesterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/friends/requests/{requesterId}/accept":{"post":{"tags":["친구 (Friend)"],"summary":"친구 요청 수락","description":"받은 요청을 수락해 친구 관계를 성립시킨다. 요청의 수신자 본인만 가능하다.","operationId":"accept","parameters":[{"name":"requesterId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/event-videos/{videoId}/comments":{"get":{"tags":["행사 (Events)"],"summary":"행사 영상 댓글 목록 조회","description":"영상에 달린 댓글을 오래된 순으로 한 페이지 돌려준다 — 새 댓글이 아래에 쌓이는 배열이다.\n\n영상 상세가 첫 페이지(20건)를 이미 품고 있으므로 이 API 는 둘째 페이지부터를 위한 것이다. cursor 는 직전 응답의 nextCursor 를 그대로 넣는다(첫 페이지는 생략). 형식이 깨졌거나 다른 영상 목록에서 받은 커서면 400 + developCode 13402 다. size 는 1~50 범위 밖이면 잘라서 적용하고 생략하면 20 이다.\n\n아카이브된 행사에서도 조회할 수 있고 댓글이 없으면 실패가 아니라 빈 페이지다. 비로그인으로도 조회할 수 있다.","operationId":"getComments","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042},{"name":"cursor","in":"query","description":"직전 응답의 nextCursor. 첫 페이지는 생략","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기 (1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoCommentPageResponseDto"}}}}}},"post":{"tags":["행사 (Events)"],"summary":"행사 영상 댓글 작성","description":"행사 영상에 댓글을 단다. 내용은 1~500자다.\n\n이벤트가 아카이브로 넘어가면 댓글을 더 달 수 없다 — 종료 30일 후부터 409 + developCode 13422 다(기존 댓글은 계속 보인다). 그 전까지는 예정·진행 중은 물론 유예 기간(종료 후 30일)에도 쓸 수 있고, 유예 기간에 새로 올라온 영상에도 댓글을 남길 수 있다.\n\n상세에 보이는 영상에만 쓸 수 있다 — 삭제·블라인드·비공개·처리 미완료 영상과 행사 영상이 아닌 영상 id 는 올린 본인에게도 404 + 13406 이다.","operationId":"createComment","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventVideoCommentRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoCommentResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}/locations/{locationId}/videos":{"get":{"tags":["행사 (Events)"],"summary":"위치별 영상 피드 조회","description":"행사 위치에 올라온 영상을 최신 업로드순으로 한 페이지 돌려준다. 영역 안 어느 격자를 눌러 들어와도 같은 위치의 같은 피드다.\n\n여기 담기는 영상은 위치 목록의 영상 수와 정확히 같은 집합이다 — 삭제·비공개·처리 미완료 영상은 숫자에서도 목록에서도 함께 빠진다. 인코딩이 끝나기 전 영상은 아직 담기지 않는다.\n\ncursor 는 직전 응답의 nextCursor 를 그대로 넣는다(첫 페이지는 생략). 형식이 깨졌거나 다른 위치 피드에서 받은 커서면 400 + developCode 13402 다. size 는 1~50 범위 밖이면 잘라서 적용하고 생략하면 20 이다.\n\n아카이브된 행사에서도 조회할 수 있고 영상이 없으면 실패가 아니라 빈 페이지다. 존재하지 않거나 노출 기간 전인 회차는 404 + 13404, 위치가 없거나 그 회차의 위치가 아니면 404 + 13405 다. 비로그인으로도 조회할 수 있다.","operationId":"getLocationVideos","parameters":[{"name":"occurrenceId","in":"path","description":"행사 회차 id","required":true,"schema":{"type":"integer","format":"int64"},"example":12},{"name":"locationId","in":"path","description":"행사 위치 id","required":true,"schema":{"type":"integer","format":"int64"},"example":34},{"name":"cursor","in":"query","description":"직전 응답의 nextCursor. 첫 페이지는 생략","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기 (1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventLocationVideoPageResponseDto"}}}}}},"post":{"tags":["행사 (Events)"],"summary":"행사 영상 업로드 확정","description":"행사 위치에 영상을 올린다. 파일은 기존 presigned 발급(POST /api/videos/presigned-url)으로 S3 에 먼저 올리고 이 API 가 확정한다 — 촬영이든 갤러리 선택이든 서버 계약은 하나다.\n\n좌표를 받지 않는다. 격자는 서버가 그 위치의 대표 격자로 정하므로 현장에 없어도 올릴 수 있고, 공개 범위는 PUBLIC 으로 고정된다. 업로드는 일반 업로드와 똑같이 그 격자의 점령을 만들고 뱃지·스트릭도 그대로 반영된다(미션만 연계되지 않는다).\n\n같은 s3Key 로 다시 보내면 영상이 하나 더 생기지 않고 저장된 행 기준의 성공이 돌아온다. 이때 occupied 는 false, newBadges 는 빈 배열이다(첫 응답 전용 필드).\n\n올릴 수 있는 기간은 행사 시작부터 종료 30일 후 직전까지다. 시작 전이면 409 + developCode 13410, 마감 이후면 409 + 13409 다. 존재하지 않거나 아직 노출 기간 전인 회차는 404 + 13404, 위치가 없거나 그 회차의 위치가 아니면 404 + 13405 다.\n\n인코딩이 끝나기 전에는 피드에 잡히지 않는다 — 업로드 직후 화면에 카드를 보여주려면 이 응답으로 낙관적으로 그린다(기존 업로드와 같은 성질).","operationId":"upload_1","parameters":[{"name":"occurrenceId","in":"path","description":"행사 회차 id","required":true,"schema":{"type":"integer","format":"int64"},"example":12},{"name":"locationId","in":"path","description":"행사 위치 id","required":true,"schema":{"type":"integer","format":"int64"},"example":34}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventVideoUploadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoUploadResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}/heartbeat":{"post":{"tags":["이벤트 (Event)"],"summary":"열람 heartbeat","description":"이벤트를 보는 동안 30초 주기로 보낸다. 마지막 신호가 90초 이내인 세션만 열람 인원에 센다. 비로그인은 X-Viewer-Session 헤더(공백 아님·최대 64자) 필수 — 없으면 400. 캐시 장애는 삼켜져 200 이다.","operationId":"heartbeat","parameters":[{"name":"occurrenceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Viewer-Session","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/auth/signup":{"post":{"tags":["인증 (Auth)"],"summary":"이메일 회원가입","description":"이메일/비밀번호/닉네임으로 신규 회원을 생성한다.","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoSignupResponseDto"}}}}}}},"/api/auth/reissue":{"post":{"tags":["인증 (Auth)"],"summary":"토큰 재발급","description":"리프레시 토큰(웹=쿠키, 앱=body)으로 새 액세스 토큰과 회전된 새 리프레시 토큰을 발급받는다. 직전 리프레시 토큰은 즉시 무효화되며, 회전된 옛 토큰 재사용 시 세션 체인이 폐기된다. 쿠키로 리프레시를 보내는 웹은 CSRF 방어를 위해 X-Client-Type 헤더가 필수다(없으면 400). body 로 보내는 앱은 생략할 수 있다.","operationId":"reissue","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app). 리프레시를 쿠키로 보내면 필수, body 로 보내면 생략 가능(생략 시 web 취급).","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReissueRequestDto"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoReissueResponseDto"}}}}}}},"/api/auth/password/reset":{"post":{"tags":["비밀번호 (Password)"],"summary":"비밀번호 재설정 확정","description":"메일 링크의 토큰으로 새 비밀번호를 설정한다. 토큰은 한 번만 쓸 수 있다.\n\n성공하면 그 계정의 모든 기기 로그인이 끊기고, 이미 발급돼 있던 액세스 토큰도 즉시 무효가 된다 — 비밀번호를 잊은 복구 흐름이라 기존 세션을 남기지 않는다.","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/password/reset-request":{"post":{"tags":["비밀번호 (Password)"],"summary":"비밀번호 재설정 링크 요청","description":"공식 이메일로 30분 동안 유효한 재설정 링크를 보낸다. 재요청하면 이전 링크는 즉시 무효가 된다.\n\n계정이 있든 없든 항상 같은 성공 응답이다 — 이 API 로 가입 여부를 알아낼 수 없게 하기 위해서다.","operationId":"requestReset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/password/change":{"post":{"tags":["비밀번호 (Password)"],"summary":"비밀번호 변경","description":"현재 비밀번호를 확인하고 새 비밀번호로 바꾼다. 성공하면 강제 변경 상태가 풀려 콘솔이 열리고, 남아 있던 재설정 링크는 폐기된다. 로그인 중인 다른 기기의 세션은 그대로 유지된다.\n\n이메일·비밀번호로 만든 계정만 쓸 수 있다 — 소셜 로그인 계정은 2445 로 거절된다.","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChangeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/auth/oauth/{provider}":{"post":{"tags":["인증 (Auth)"],"summary":"소셜 로그인 (OIDC)","description":"소셜 제공자의 ID Token으로 로그인/가입하고 JWT 액세스 토큰과 리프레시 토큰을 발급받는다. 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키(Set-Cookie)로 내려가 body 의 refreshToken 이 null 이고, 앱(app)은 body 로 내려간다.","operationId":"oauthLogin","parameters":[{"name":"provider","in":"path","description":"소셜 제공자","required":true,"schema":{"type":"string"},"example":"KAKAO"},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OidcLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/oauth/kakao/code":{"post":{"tags":["인증 (Auth)"],"summary":"소셜 로그인 (카카오 인가 코드)","description":"웹에서 카카오 콜백으로 받은 인가 코드로 로그인/가입한다. 서버가 REST API 키로 카카오 토큰 엔드포인트를 호출해 ID Token 을 받은 뒤, 소셜 로그인(OIDC)과 완전히 같은 검증·발급 경로를 태운다. 인가 진입점이 심은 OAUTH_NONCE 쿠키가 함께 와야 한다(없으면 401). 응답 형태는 기존 소셜 로그인과 동일하다 — 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키(Set-Cookie)로 내려가 body 의 refreshToken 이 null 이고, 앱(app)은 body 로 내려간다. 네이티브 SDK 가 교환까지 해주는 앱은 이 API 가 아니라 POST /api/auth/oauth/{provider} 를 쓴다.","operationId":"oauthCodeLogin","parameters":[{"name":"OAUTH_NONCE","in":"cookie","required":false,"schema":{"type":"string"}},{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KakaoCodeLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/logout":{"post":{"tags":["인증 (Auth)"],"summary":"로그아웃","description":"Authorization 헤더의 액세스 토큰을 무효화하고 해당 디바이스(X-Device-Id)의 리프레시 세션을 삭제한다. X-Device-Id 가 없으면 해당 유저의 모든 디바이스 세션을 삭제한다. 선택 body 의 fcmToken 이 있으면 해당 FCM 푸시 토큰도 함께 정리된다 (MSG-178 logout 통합).","operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 모든 디바이스 세션 삭제(로그아웃-올).","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequestDto"}}}},"responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["인증 (Auth)"],"summary":"이메일 로그인","description":"이메일/비밀번호로 로그인하고 JWT 액세스 토큰과 리프레시 토큰을 발급받는다. 웹(X-Client-Type: web, 기본)은 리프레시가 HttpOnly 쿠키로, 앱(app)은 body 로 내려간다.","operationId":"login","parameters":[{"name":"X-Client-Type","in":"header","description":"클라이언트 유형 (web|app, 기본 web)","required":false,"schema":{"type":"string","default":"web"}},{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환한다.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/auth/dev/social-login":{"post":{"tags":["인증-개발용 (Auth Dev)"],"summary":"[개발용] 소셜 로그인 모의","description":"실제 OIDC ID Token 검증 없이 (provider, oid)로 사용자를 find-or-create 하고 액세스+리프레시 토큰을 발급한다. 리프레시는 body 로 내려간다(앱 모드). 로컬/dev 프로파일에서만 노출.","operationId":"socialLogin","parameters":[{"name":"X-Device-Id","in":"header","description":"디바이스 식별자. 없으면 서버가 UUID 를 생성해 응답 헤더 X-Device-Id 로 반환.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevSocialLoginRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLoginResponseDto"}}}}}}},"/api/admin/videos/{videoId}/unblind":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"블라인드 해제","description":"BLINDED 영상을 ACTIVE 로 복구한다. 오판 복구용이며 그 신고의 RESOLVED 는 되돌리지 않는다. 없는 영상과 삭제된 영상은 404(3404), 이미 ACTIVE 면 409(3409) 다.","operationId":"unblindVideo","parameters":[{"name":"videoId","in":"path","description":"해제할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminVideoUnblindResponseDto"}}}}}}},"/api/admin/reports/{reportId}/reject":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 기각","description":"신고를 REJECTED 로 종결한다. 영상에는 아무 영향이 없고 응답의 videoStatus 는 현재 상태 그대로다. 없는 신고는 404(11404), 이미 처리된 신고는 409(11410) 다.","operationId":"reject_1","parameters":[{"name":"reportId","in":"path","description":"기각할 신고 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportProcessResponseDto"}}}}}}},"/api/admin/reports/{reportId}/approve":{"post":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 승인","description":"신고를 RESOLVED 로 종결하고 대상 영상을 블라인드한다 — 한 트랜잭션이다. 영상이 이미 BLINDED 거나 DELETED 면 영상 전이 없이 신고만 종결하며, 응답의 videoStatus 로 구분할 수 있다. 없는 신고는 404(11404), 이미 처리된 신고와 동시 처리의 늦은 쪽은 409(11410) 다.","operationId":"approve","parameters":[{"name":"reportId","in":"path","description":"승인할 신고 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportProcessResponseDto"}}}}}}},"/api/admin/organizations":{"get":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"발급된 행사 운영자 계정 목록","description":"발급 최신순으로 계정을 조회한다. 목록은 이 발급 경로가 만드는 형태(역할 ORG · 제공자 LOCAL) 만 담는다 — 재발송 대상 식별과 직접 발급 복구 확인이 목적이라서다.\n\n각 항목의 mustChange 가 화면의 사용 중 / 초기 로그인 전 라벨이다(false 가 사용 중). email 을 주면 완전 일치 검색이고, page 음수나 size 범위(1~100) 밖은 400(1425) 이다.","operationId":"getAccounts","parameters":[{"name":"page","in":"query","description":"페이지 번호 (0부터)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"페이지 크기 (1~100)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"email","in":"query","description":"공식 이메일 완전 일치 필터 (선택)","required":false,"schema":{"type":"string"},"example":"event@busanjin.go.kr"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminOrgAccountListResponseDto"}}}}}},"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"행사 운영자 계정 직접 발급","description":"공문으로 먼저 확인된 기관에 발급 요청 없이 계정을 만들고 초기 비밀번호를 발송한다. 결과는 승인과 같다.\n\n응답을 받지 못했으면 같은 요청을 재시도한다. 1409(이미 존재)가 오면 그 이메일로 계정이 있다는 뜻일 뿐 발급 성공의 증거가 아니므로, 계정 목록의 email 검색으로 가른다 — 결과가 있으면 발급된 것이고, 없으면 다른 계정과의 이메일 충돌이라 기관에 다른 공식 이메일을 요청한다.\n\n이미 계정이 있는 이메일은 409(1409) 다.","operationId":"issueDirect","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAccountCreateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgAccountIssueResponseDto"}}}}}}},"/api/admin/organizations/{userId}/resend-password":{"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"초기 비밀번호 재발송","description":"새 초기 비밀번호를 만들어 공식 이메일로 다시 보낸다 — <b>재발송은 재발급이다.</b> 평문을 저장하지 않아 보냈던 비밀번호를 다시 보낼 수 없고, 이전 초기 비밀번호는 즉시 무효가 된다.\n\n대상은 아직 초기 로그인을 마치지 않은 행사 운영자 계정뿐이다. 이미 본인이 비밀번호를 바꾼 계정은 409(1423) 이며, 그 경우의 분실 복구는 비밀번호 재설정 흐름을 안내한다.\n\n없는 사용자는 404(1404) 다.","operationId":"resendPassword","parameters":[{"name":"userId","in":"path","description":"재발송 대상 계정 id","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgAccountResendResponseDto"}}}}}}},"/api/admin/org-account-requests/{requestId}/reject":{"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"계정 발급 요청 반려","description":"요청을 반려하고 사유를 저장한다. 사유는 필수이며 <b>메일은 발송되지 않는다</b> — 반려 통보는 당분간 수기이고 저장된 사유가 그 재료다.\n\n없는 요청은 404(1421), 이미 처리된 요청은 409(1422), 검토 이후 요청 내용이 바뀌었으면 409(1426) 다.","operationId":"reject_2","parameters":[{"name":"requestId","in":"path","description":"반려할 요청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAccountRequestRejectRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/org-account-requests/{requestId}/approve":{"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"계정 발급 요청 승인","description":"행사 운영자 계정을 만들고 초기 비밀번호를 공식 이메일로 발송한다. 응답에는 발송 성공 여부만 실리고 초기 비밀번호 평문은 어디에도 실리지 않는다.\n\n메일 발송이 실패해도 계정과 발급됨 상태는 유지되며 emailSent 가 false 로 온다 — 복구는 재발송 API 다. 응답 자체를 받지 못했으면 상세를 재조회해 ISSUED 인지 확인하고, 발송 확신이 없으면 재발송을 쓴다.\n\n없는 요청은 404(1421), 이미 처리된 요청과 동시 승인의 늦은 쪽은 409(1422), 검토 이후 요청 내용이 바뀌었으면 409(1426), 이미 계정이 있는 이메일은 409(1409) 다.","operationId":"approve_1","parameters":[{"name":"requestId","in":"path","description":"승인할 요청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAccountRequestApproveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgAccountIssueResponseDto"}}}}}}},"/api/admin/events/{submissionId}/unpublish":{"post":{"tags":["관리자 승인 행사 (Admin Approved Event)"],"summary":"행사 노출 중지","description":"승인된 행사의 지도 노출을 사유와 함께 중지한다. 중지하면 그 승인 미션이 지도 칩 목록·격자 선택·미션 상세·영상 목록·스탬프 판정·미션 경유 업로드에서 <b>즉시</b> 빠진다(재기동 불요). 알고 있는 missionId 로 여는 상세와 영상 목록도 없는 미션과 같은 404 가 된다.\n\n이미 완료한 사용자의 스탬프와 진행 기록은 그대로 남는다 — 중지는 노출을 끊는 것이지 기록을 회수하는 것이 아니다.\n\n사유는 신청 계정의 공식 이메일로 발송된다. 발송이 실패해도 중지는 유지되며 emailSent 가 false 로 온다 — 저장된 사유가 수기 재통지의 재료이고 재발송 API 는 없다. 중지 해제(재노출)도 이 티켓 범위 밖이다.\n\n없거나 승인되지 않은 신청은 404(13430), 이미 중지된 행사는 409(13453) 다.","operationId":"unpublish","parameters":[{"name":"submissionId","in":"path","description":"중지할 승인 행사 식별자 (= 신청 id)","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminEventUnpublishRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminEventUnpublishResponseDto"}}}}}}},"/api/admin/event-submissions/{submissionId}/reject":{"post":{"tags":["관리자 행사 등재 심사 (Admin Event Submission)"],"summary":"신청 반려","description":"신청을 반려하고 항목 코드와 사유를 이력에 남긴다. 항목 코드는 1개 이상이어야 하고 PERIOD·AREA·IMAGE·INFO 만 쓸 수 있으며 중복은 허용하지 않는다. 사유 본문도 필수다.\n\n<b>메일은 발송되지 않는다</b> — 행사 운영자가 콘솔 상세에서 항목과 사유를 보고 고쳐서 다시 낸다. 승인 시 격자 겹침(13452)을 만난 경우의 다음 조작도 이 반려이고, 항목 코드는 AREA 다.\n\n없는 신청은 404(13430), 심사 중이 아니면 409(13450), 항목 코드가 비었거나 허용 밖이거나 중복이면 400(13454) 이다.","operationId":"reject_3","parameters":[{"name":"submissionId","in":"path","description":"반려할 신청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSubmissionRejectRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/event-submissions/{submissionId}/approve":{"post":{"tags":["관리자 행사 등재 심사 (Admin Event Submission)"],"summary":"신청 승인","description":"신청을 승인하고 승인 번호(APR-2026-XXXX 꼴)를 부여한다. 요청 본문이 없다 — 승인 입력은 전부 저장된 신청에서 나온다.\n\n지역축제는 지도 홈 <b>축제 칩</b> 미션으로, 팝업스토어는 <b>팝업 칩</b> 미션으로 등재되어 재기동이나 재시드 없이 기존 미션 조회 API 에 즉시 나타난다. 판정 격자는 신청한 전 위치의 셀 합집합이고 대표 격자는 서버가 그 합집합에서 다시 계산한다.\n\n전이·이력·미션 등재가 한 트랜잭션이라 절반만 반영되는 결과가 없다. 응답을 받지 못했으면 상세를 재조회해 APPROVED 인지 확인한다 — 같은 신청을 다시 승인하면 409(13450) 다.\n\n없는 신청은 404(13430), 심사 중이 아니거나 동시 승인의 늦은 쪽은 409(13450), 종료일이 이미 지난 신청은 409(13451) 다.","operationId":"approve_2","parameters":[{"name":"submissionId","in":"path","description":"승인할 신청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionApproveResponseDto"}}}}}}},"/api/admin/email-change-requests/{requestId}/reject":{"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"아이디 변경 요청 반려","description":"요청을 반려하고 사유를 저장한다. 아이디는 바뀌지 않고 <b>메일도 발송되지 않는다</b> — 반려 통보는 수기이고 저장된 사유가 그 재료다. 처리 후에는 같은 계정이 다시 접수할 수 있다.\n\n검토 기준 시각을 승인과 똑같이 요구하는 것은, 검토한 내용과 다른 요청을 그 사유로 반려하는 어긋남을 막기 위해서다.\n\n없는 요청은 404(1427), 이미 처리된 요청은 409(1428), 검토 이후 내용이 바뀌었으면 409(1429) 다.","operationId":"rejectEmailChange","parameters":[{"name":"requestId","in":"path","description":"반려할 요청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":3}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailChangeRejectRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/admin/email-change-requests/{requestId}/approve":{"post":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"아이디 변경 요청 승인","description":"요청한 이메일로 로그인 아이디를 교체하고 <b>새 이메일로 변경 완료를 통지</b>한다. 요청 전이와 이메일 교체는 한 트랜잭션이라 함께 성공하거나 함께 실패한다. 비밀번호와 세션은 그대로이며 다음 로그인부터 새 아이디를 쓴다.\n\n발급·반려 통보와 달리 메일을 보내는 이유는 로그인 수단 자체가 바뀌는 사건이라서다 — 알리지 않으면 행사 운영자가 계정 접근을 잃는다. 발송이 실패해도 교체는 유지되며 emailSent 가 false 로 온다.\n\n없는 요청은 404(1427), 이미 처리된 요청은 409(1428), 검토 이후 재요청으로 내용이 바뀌었으면 409(1429), 요청한 이메일이 이미 다른 계정에 있으면 409(1409) 다.","operationId":"approveEmailChange","parameters":[{"name":"requestId","in":"path","description":"승인할 요청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":3}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailChangeApproveRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEmailChangeApproveResponseDto"}}}}}}},"/api/videos/{videoId}/visibility":{"patch":{"tags":["영상 (Video)"],"summary":"영상 공개 범위 전환","description":"본인 영상의 공개 범위를 PUBLIC·PRIVATE·FRIENDS 간 전환한다. 전환된 상태를 반환하며, 같은 값 재전환은 멱등하게 성공한다.","operationId":"setVisibility","parameters":[{"name":"videoId","in":"path","description":"공개 범위를 전환할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoVisibilityRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVideoVisibilityResponseDto"}}}}}}},"/api/org/profile":{"get":{"tags":["행사 운영자 계정 (Org Account)"],"summary":"계정 설정 조회","description":"계정 설정 화면의 초기값이다. 아이디(이메일)는 읽기 전용으로 함께 내려간다.","operationId":"getProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgProfileResponseDto"}}}}}},"patch":{"tags":["행사 운영자 계정 (Org Account)"],"summary":"담당자 정보 수정","description":"담당자 이름과 연락처를 바꾸고 변경 후 값을 반환한다. 아이디(이메일)는 이 API 로 바꿀 수 없다.","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgProfileUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgProfileResponseDto"}}}}}}},"/api/org/event-submissions/{submissionId}":{"get":{"tags":["행사 등재 신청 (Org Submission)"],"summary":"신청 상세","description":"기본 정보와 위치 목록(순번·대표 격자·표시명 재료·제출 원본 사각형), 상태 이력, 반려 항목과 사유를 돌려준다. 반려 항목은 현재 상태가 반려일 때만 값이 있고, 과거 반려는 재제출 뒤에도 이력에 남는다.\n\n없는 신청과 남의 신청은 완전히 같은 실패 응답이다 — 응답 차이로 남의 신청 존재를 추측할 수 없다.","operationId":"getSubmission","parameters":[{"name":"submissionId","in":"path","description":"신청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionDetailResponseDto"}}}}}},"patch":{"tags":["행사 등재 신청 (Org Submission)"],"summary":"반려본 수정 재제출","description":"반려된 신청만 수정할 수 있고, 재제출하면 상태가 심사 중으로 돌아간다(신청 번호는 그대로다). 부분 수정이 아니라 전체 교체이고 등록 유형은 바꿀 수 없다 — 유형을 바꾸려면 새로 제출한다.\n\nimageS3Key 를 생략하거나 null 로 보내면 기존 대표 이미지가 유지되고, 새 pending 키를 보내면 교체된다.","operationId":"resubmit","parameters":[{"name":"submissionId","in":"path","description":"신청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSubmissionUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionSubmitResponseDto"}}}}}}},"/api/notifications/{notificationId}/read":{"patch":{"tags":["알림 (Notification)"],"summary":"알림 하나 읽음 처리","description":"행을 탭했을 때 그 알림을 읽음으로 바꾼다 — 이미 읽은 알림을 다시 요청해도 성공이고 최초로 읽은 시각이 그대로 남는다. 없는 알림이나 남의 알림이면 10404 로, 둘을 구분하지 않는다.","operationId":"markRead","parameters":[{"name":"notificationId","in":"path","description":"읽음 처리할 알림 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":123}],"responses":{"200":{"description":"OK"}}}},"/api/notifications/read-all":{"patch":{"tags":["알림 (Notification)"],"summary":"알림 모두 읽음 처리","description":"안읽은 알림을 전부 읽음으로 바꾼다 — 안읽은 알림이 하나도 없어도 성공한다.","operationId":"markAllRead","responses":{"200":{"description":"OK"}}}},"/api/notifications/preferences/{category}":{"patch":{"tags":["알림 (Notification)"],"summary":"카테고리 수신 토글","description":"카테고리 하나의 수신 여부를 바꾸고 변경 후 전체 상태를 반환한다 — 같은 값 재전환은 멱등. category 가 8종(BADGE·HOTZONE·REMIND·VIDEO·WEEKLY·FRIEND·MISSION_NEARBY·EVENT, 대소문자 무시) 외면 10420 이다. off 는 발송만 막고 off 중 쌓인 알림이 on 복귀 후 재발송되는 일은 없다. MISSION_NEARBY 는 서버 발송이 없어 기기가 발화 전 이 설정을 조회해 로컬로 억제한다.","operationId":"update","parameters":[{"name":"category","in":"path","description":"알림 카테고리 — BADGE·HOTZONE·REMIND·VIDEO·WEEKLY·FRIEND·MISSION_NEARBY (대소문자 무시)","required":true,"schema":{"type":"string"},"example":"HOTZONE"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreferenceUpdateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationPreferenceResponseDto"}}}}}}},"/api/event-videos/{videoId}/comments/{commentId}":{"delete":{"tags":["행사 (Events)"],"summary":"행사 영상 댓글 삭제","description":"댓글을 실제로 지운다(복구 없음). 본인 댓글만 지울 수 있고 남의 댓글이면 403 + developCode 13403 이다.\n\n이미 지운 댓글을 다시 지우면 404 + 13407 이다 — 없는 댓글의 삭제를 성공으로 돌려주면 화면 상태 불일치가 감춰지기 때문이다(도움돼요 취소는 토글이라 멱등인 것과 다르다).\n\n아카이브된 행사(종료 30일 후)에서는 409 + 13422 다.","operationId":"deleteComment","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042},{"name":"commentId","in":"path","description":"댓글 id","required":true,"schema":{"type":"integer","format":"int64"},"example":3021}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["행사 (Events)"],"summary":"행사 영상 댓글 수정","description":"댓글 내용을 통째로 바꾼다. 본인 댓글만 고칠 수 있고 남의 댓글이면 403 + developCode 13403, 없거나 다른 영상의 댓글이면 404 + 13407 이다.\n\n작성 시각은 그대로다(수정 이력을 남기지 않는다). 아카이브된 행사에서는 자기 댓글이든 남의 댓글이든 409 + 13422 로 같다 — 잠금이 권한 판정보다 앞이다.","operationId":"updateComment","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042},{"name":"commentId","in":"path","description":"댓글 id","required":true,"schema":{"type":"integer","format":"int64"},"example":3021}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventVideoCommentRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoCommentResponseDto"}}}}}}},"/api/zones":{"get":{"tags":["구역 (Zone)"],"summary":"구역 목록 조회","description":"전체 구역(zone) 목록을 반환한다. 검색바에서 구역을 골라 지도를 옮기거나 구역 범위를 오버레이로 그릴 때 쓴다 — 표시명은 격자 응답의 zoneName·zoneCell 을 그대로 조립하면 되므로 이 목록으로 이름을 계산할 필요가 없다. 시딩 전이면 빈 배열(전 시스템이 행정동 폴백으로 동작).","operationId":"getZones","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListZoneResponseDto"}}}}}}},"/api/users/me":{"get":{"tags":["사용자 (User)"],"summary":"내 프로필 조회","description":"소셜 로그인이 자동 저장한 이메일·닉네임을 반환한다. 항상 본인 계정만 — 경로에 대상 식별자가 없다.","operationId":"getMe","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserProfileResponseDto"}}}}}},"delete":{"tags":["사용자 (User)"],"summary":"계정 삭제","description":"내 계정을 즉시·비가역 삭제한다. 연쇄 개인 데이터·영상 S3 객체가 제거되고 전 디바이스 세션이 무효화된다. 같은 이메일·카카오 계정으로 다시 로그인하면 신규 가입이다.","operationId":"deleteMe","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/search/trending":{"get":{"tags":["인기 검색어 (Trending)"],"summary":"인기 검색어 TOP 10","description":"오늘+어제(KST) 검색어 집계를 합산해 상위 10개를 순위·검색어로 반환한다. 동률은 검색어 사전순. 검색 횟수와 장소 정보는 포함하지 않으며(클릭 후 장소 검색 API 재호출), 집계가 없으면 200 + 빈 배열이다.","operationId":"getTrendingKeywords","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTrendingKeywordResponseDto"}}}}}}},"/api/search/places":{"get":{"tags":["장소 검색 (Search)"],"summary":"장소 검색 (장소명 → 좌표·격자)","description":"카카오 로컬 키워드 검색 결과(정확도순 ≤15건)에 각 좌표의 격자 ID 를 얹어 반환한다. 선택 즉시 lat/lng 지도 이동 + gridId 격자 하이라이트. q 누락 400 / trim 후 빈 q·무매치 200 [] / 카카오 장애·타임아웃 502(developCode 5502). 비로그인도 호출할 수 있고 결과는 로그인 때와 같다 — 비로그인 호출은 X-Viewer-Session 헤더(공백 아님·최대 64자·콜론 불가)를 실으면 인기 검색어 집계에 잡히고, 안 실어도 검색은 정상 200 이다.\n\nlat·lng 에 지금 보고 있는 지도의 중심 좌표를 실으면 그 중심 반경 20km 안의 장소를 먼저 찾는다. 근처에 결과가 하나도 없으면 위치 없이 다시 찾아 전국 결과를 주므로 좌표를 붙였다는 이유로 결과가 사라지지는 않는다. 두 값은 반드시 한 쌍으로 보내야 하고, 한쪽만 오거나 숫자가 아니거나 대한민국 범위(위도 33~39·경도 124~132) 밖이면 400 + developCode 5400 이다. 좌표를 아예 안 보내면 종전과 똑같이 동작한다.","operationId":"searchPlaces","parameters":[{"name":"q","in":"query","description":"검색어 (자유 텍스트 장소명)","required":true,"schema":{"type":"string"},"example":"부산대"},{"name":"lat","in":"query","description":"지도 중심 위도 (33.0~39.0). lng 과 한 쌍으로만 유효하다","required":false,"schema":{"type":"number","format":"double"},"example":35.1578},{"name":"lng","in":"query","description":"지도 중심 경도 (124.0~132.0). lat 과 한 쌍으로만 유효하다","required":false,"schema":{"type":"number","format":"double"},"example":129.0594},{"name":"X-Viewer-Session","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListPlaceSearchResponseDto"}}}}}}},"/api/regions/{regionCode}/grids":{"get":{"tags":["전역 탐색 (Region Explore)"],"summary":"행정동 격자 카드 리스트 + 헤더 카운트 조회","description":"그 행정동 격자들 중 전역 공개 콘텐츠(공개·인코딩 완료·타인 영상 포함)가 있는 격자를 카드로 반환한다. 카운트(gridCount·videoCount)는 limit 무관 전체 기준이라 지도 홈 패널(sort=LATEST&limit=20, SRS FR-MAP-10)과 전체 보기(limit 생략)가 같은 값을 받지만, **전역 공개 콘텐츠를 센 값이라 패널 헤더(\"이 지역 격자 N개 · 영상 M개\")에 쓰면 안 된다** — 헤더는 내 도감 집계 응답의 currentRegion(중심 동 전체의 내 것, MSG-374)이 채운다. 카드 커버는 격자 대표(cover)와 같은 영상이고 썸네일은 presigned GET URL 이다. 미존재·무콘텐츠 regionCode 는 404 가 아니라 200 + 카운트 0·빈 배열이다.","operationId":"getRegionGrids","parameters":[{"name":"regionCode","in":"path","description":"행정동 코드 — reverse-geocode·전체 지역 리스트의 regionCode 를 그대로 전달","required":true,"schema":{"type":"string"},"example":2644056000},{"name":"sort","in":"query","description":"정렬 — POPULAR(조회수 합)·LATEST(최신 공개 영상). 대문자 전용이며 소문자 포함 무효 값은 400 이다. 지도 홈 패널은 LATEST (SRS FR-MAP-10, 생략 기본값은 POPULAR 유지)","required":false,"schema":{"type":"string","default":"POPULAR","enum":["POPULAR","LATEST"]},"example":"LATEST"},{"name":"limit","in":"query","description":"카드 수 상한 — 지도 홈 패널은 20 (SRS FR-MAP-10). 생략하면 전부, 1 미만은 1 로 보정한다","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionExploreResponseDto"}}}}}}},"/api/regions/stats":{"get":{"tags":["행정동 (Region)"],"summary":"내 행정동별 수집률 조회","description":"로그인 사용자가 점령(수집)한 격자를 행정동별로 집계한 수집률 리스트를 반환한다. parentCode 로 시군구를 좁힐 수 있고(실존하지 않는 코드면 404/6404), collectedOnly=false 면 롤백으로 0이 된 행정동도 포함한다. 수집이 없으면 404 가 아니라 200 + 빈 배열.","operationId":"getStats","parameters":[{"name":"parentCode","in":"query","description":"상위 시군구 코드. 생략하면 전국. 실존하지 않으면 6404","required":false,"schema":{"type":"string"},"example":11680},{"name":"collectedOnly","in":"query","description":"true=수집한 행정동만, false=손댄 행정동 전부(롤백 0-row 포함)","required":false,"schema":{"type":"boolean","default":true},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionStatResponseDto"}}}}}}},"/api/regions/stats/national":{"get":{"tags":["행정동 (Region)"],"summary":"내 전국 탐험률 재료 (분자·분모)","description":"도감·프로필 헤더의 \"전체 지도 N% 탐험\" 재료. 내가 점령한 격자 수(전국 합)와 전국 격자 총수를 반올림 없는 원값 정수 2개로 반환한다. 비율·표시 자릿수·100 상한은 화면이 min(100, 분자/분모 × 100) 으로 계산한다. 수집이 없어도 오류가 아니라 분자 0. 분모가 0 이면 기준 데이터 미적재 상태라 화면은 비율을 그리지 않는다.","operationId":"getNationalStat","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionNationalStatResponseDto"}}}}}}},"/api/regions/stats/by-point":{"get":{"tags":["행정동 (Region)"],"summary":"현재 위치 행정동 탐험률 (좌표 → 수집률)","description":"도감 갤러리 진입 초기값. 현재 위치 좌표가 속한 행정동 1건의 내 수집률을 반환한다. 그 행정동에 수집이 없어도 0% 로 합성해 반환하고, 어떤 행정동에도 안 속하면(바다·국외) 404 가 아니라 200 + data null. 서비스 범위 밖 좌표는 400(6400).","operationId":"getStatByPoint","parameters":[{"name":"lat","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"},"example":37.4979},{"name":"lng","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0276}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionStatResponseDto"}}}}}}},"/api/regions/stats/by-grid":{"get":{"tags":["행정동 (Region)"],"summary":"격자 중심 행정동 탐험률 (격자 클릭 → 수집률)","description":"클릭한 격자의 중심점이 속한 행정동 1건의 내 수집률을 반환한다. 귀속 축이 수집률 집계(MSG-155)와 같아 탐험률·라벨이 일치한다. 중심점이 어떤 행정동에도 안 속하거나 gridId 형식이 이상하면 200 + data null(별도 에러 코드 없음).","operationId":"getStatByGrid","parameters":[{"name":"gridId","in":"query","description":"격자 ID \"{grid_y}_{grid_x}\"","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionStatResponseDto"}}}}}}},"/api/regions/reverse-geocode":{"get":{"tags":["행정동 (Region)"],"summary":"역지오코딩 (좌표 → 행정동)","description":"좌표를 포함하는 행정동 1건을 반환한다. 포함 행정동이 없으면(바다·국외) 404가 아니라 200 + data null. 서비스 좌표 범위(한국) 밖이면 400(6400).","operationId":"reverseGeocode","parameters":[{"name":"lat","in":"query","description":"위도","required":true,"schema":{"type":"number","format":"double"},"example":37.4979},{"name":"lng","in":"query","description":"경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0276}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionResponseDto"}}}}}}},"/api/regions/explore":{"get":{"tags":["전역 탐색 (Region Explore)"],"summary":"전체 지역 리스트 조회","description":"전역 공개 콘텐츠가 있는 행정동을 20개씩 반환한다. 로그인 사용자가 직접 최근 업로드한 지역이 먼저 나오고 나머지는 격자 수 내림차순이다. hasNext가 true면 nextCursor를 다음 요청의 cursor에 그대로 전달한다.","operationId":"getExploreRegions","parameters":[{"name":"cursor","in":"query","description":"직전 응답의 nextCursor. 첫 페이지는 생략","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoRegionExplorePageResponseDto"}}}}}}},"/api/regions/districts":{"get":{"tags":["행정동 (Region)"],"summary":"시군구 목록 (검색 지역 필터)","description":"검색 화면 \"전체 지역\" 목록용 시군구 전량. 이름·식별자와 그 구의 전체 격자 수를 준다. 격자 수는 사용자 무관 값이고 0 인 시군구는 빠진다. 정렬은 이름순, 같은 이름은 식별자순. 응답의 parentCode 는 /api/regions/stats 의 parentCode 로 그대로 이어 쓸 수 있다.","operationId":"getDistricts","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionDistrictResponseDto"}}}}}}},"/api/org/events":{"get":{"tags":["행사 운영자 콘솔 (Org)"],"summary":"승인 이벤트 목록 조회","description":"참여 신청 모달의 재료 — 시·도 칩, 시·도별 건수, 이벤트 목록이다. 담기는 것은 아직 끝나지 않은 회차(예정·진행 중)뿐이고, 종료된 행사(업로드 유예·아카이브)는 참여를 신청해도 열 자리가 없으므로 빠진다. 일반 사용자 조회와 달리 노출 시작 전인 예정 회차도 담긴다 — 심사에 시간이 걸려 행사 운영자는 미리 부모 이벤트를 골라야 한다.\n\ntotalCount 와 cityCounts 는 city·name 을 적용하지 않은 전체 기준이라 검색 중에도 칩 건수가 고정이고, events 에만 두 파라미터가 적용된다. cityCounts 는 건수 내림차순·동수는 이름 오름차순, events 는 시작일 오름차순·동시각은 회차 id 오름차순이다.\n\nplaceLabel 은 그 회차의 위치 중 표시 순서가 가장 앞선 것의 이름이고, 위치가 없으면 null 이다. 존재하지 않는 시·도 값은 실패가 아니라 빈 목록이다.","operationId":"getApprovedEvents","parameters":[{"name":"city","in":"query","description":"시·도 필터 — cityCounts 의 cityName 저장값과 정확 일치","required":false,"schema":{"type":"string"},"example":"부산"},{"name":"name","in":"query","description":"이벤트 이름 검색 — 부분 일치, 대소문자 무시","required":false,"schema":{"type":"string"},"example":"영화제"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOrgEventListResponseDto"}}}}}}},"/api/org/event-submissions/my":{"get":{"tags":["행사 등재 신청 (Org Submission)"],"summary":"내 신청 목록","description":"콘솔 홈 현황 카드와 최근 신청 목록의 재료다. 상태별 건수는 내 신청 전체 기준이고 목록은 최신 제출 순이다. 페이지네이션은 없다.","operationId":"getMySubmissions","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventSubmissionMyListResponseDto"}}}}}}},"/api/notifications":{"get":{"tags":["알림 (Notification)"],"summary":"알림 목록 조회","description":"받은 알림을 최신순으로 한 페이지 반환한다. 최근 30일 이내 생성분만 보이고, 알림 설정을 꺼서 발송되지 않은 알림은 빠진다 — 전송률 상한이나 푸시 토큰 없음으로 발송되지 않은 알림은 보인다. 다음 페이지는 응답의 nextCursor 를 cursor 로 다시 넘긴다. 목록 조회는 읽음 상태를 바꾸지 않는다.","operationId":"getInbox","parameters":[{"name":"cursor","in":"query","description":"직전 응답의 nextCursor — 생략하면 첫 페이지","required":false,"schema":{"type":"integer","format":"int64"},"example":123},{"name":"size","in":"query","description":"페이지 크기 — 0 이하면 20, 50 초과면 50 으로 자른다","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationPageResponseDto"}}}}}}},"/api/notifications/unread-count":{"get":{"tags":["알림 (Notification)"],"summary":"안읽은 알림 개수 조회","description":"목록과 같은 노출 조건으로 안읽은 알림 수를 센다 — 없으면 0 이다.","operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationUnreadCountResponseDto"}}}}}}},"/api/notifications/preferences":{"get":{"tags":["알림 (Notification)"],"summary":"알림 설정 조회","description":"카테고리 8종(BADGE·HOTZONE·REMIND·VIDEO·WEEKLY·FRIEND·MISSION_NEARBY·EVENT) 전부의 수신 상태를 반환한다. 설정을 만진 적 없는 사용자는 전부 true 다 — opt-out 기본 전부 on. MODERATION 은 설정 대상이 아니라 목록에 없다 (수신 거부 불가).","operationId":"getPreferences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationPreferenceResponseDto"}}}}}}},"/api/missions/{missionId}":{"get":{"tags":["미션 (Missions)"],"summary":"미션 상세 조회","description":"미션 ID 하나의 상세 — 미션 정보와 렌더 shape(목록과 같은 필드), 내 진행도와 스탬프 보유 여부, 이 미션에 올라온 전체 영상 개수, 코스라면 포토스팟별 방문 여부·영상 개수를 한 번에 반환한다. spotStats 는 shape.spots 와 같은 순서로 오고, 코스가 아니면 null 대신 빈 배열이다.\n\n기간 판정은 하지 않는다 — 기간이 끝난 미션도 행이 남아 있으면 조회되고, 영상 개수는 그 미션이 활성일 때 촬영된 것만 센다(미션 영상 목록 GET /api/missions/{missionId}/videos 의 실제 후보 수와 항상 같다). 존재하지 않는 미션 ID 는 404 + developCode 12404(MISSION_NOT_FOUND)다.\n\n비로그인으로도 조회된다(MSG-454). 이때 사용자별 값은 빠진다 — progress 는 키는 있고 값이 null 이며 spotStats[].visited 는 전부 false 다. 미션 정보·전체 영상 수·스팟별 영상 수는 로그인과 같다.","operationId":"getMissionDetail","parameters":[{"name":"missionId","in":"path","description":"미션 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":412}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMissionDetailResponseDto"}}}}}}},"/api/missions/progress":{"get":{"tags":["미션 (Missions)"],"summary":"미션별 내 진행도 조회","description":"미션 id 여러 개의 내 진행도(채운 칸/목표 칸)와 스탬프 보유 여부를 한 번에 반환한다. 채운 칸은 스탬프 판정과 같은 술어로 센다 — 미션 기간 안에 촬영한 내 영상(삭제 제외)이 있는 격자 수다. 영상을 전부 지우면 진행도는 0으로 돌아가지만 스탬프는 비회수라 completed 는 남는다 — \"0/1 인데 완료\"가 정상 응답이다.\n\nmissionIds 가 없거나 비면 빈 배열이고(오류 아님), 존재하지 않는 id 는 응답에서 빠진다. 기간이 끝난 미션도 조회된다. 배열 순서는 missionId 오름차순으로 고정된다(요청 순서 미보존). 300개 초과는 400 + developCode 12403 으로 거절한다.","operationId":"getMyProgress","parameters":[{"name":"missionIds","in":"query","description":"미션 id 목록 — 콤마 구분 또는 반복 파라미터. 없거나 비면 빈 배열 응답, 300개 초과는 거절","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"412,413"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMissionProgressResponseDto"}}}}}}},"/api/missions/aggregation":{"get":{"tags":["미션 (Missions)"],"summary":"넓은 축척용 미션 행정 단위 집계 조회 (줌아웃)","description":"지도를 축소해 개별 핀을 그릴 수 없는 축척에서, bbox 안의 축제·팝업 미션을 행정 단위(동·구·시)로 묶어 지역 이름과 개수로 반환한다. 단위 전환 시점은 서버가 정하지 않으며 클라이언트가 화면 축척에 맞춰 unit 만 바꿔 부른다.\n\n항목마다 마커 식별 키(regionCode), 표시 이름, 대표 좌표, 미션 수, 그 묶음의 미션 id 목록이 온다. 대표 좌표는 묶음에 속한 미션 귀속점의 평균이라 마커가 실제 데이터 위에 선다. missionIds 는 묶음 마커를 눌러 줌인한 뒤 개별 조회(GET /api/missions/active) 결과와 교집합을 내 목록을 좁히는 재료다 — 카드 재료는 개별 조회 응답에 있다.\n\n미션이 속한 격자 사각형이 아니라 그 사각형 중앙의 귀속점이 bbox 안인지로 센다. 사각형이 화면에 걸쳤지만 중심이 밖인 미션은 빠지며, 이 때문에 개별 조회와 집계를 갈아타는 순간 마커 수가 미세하게 달라질 수 있다. 행정동이 판정되지 않은 미션은 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 마지막에 온다. 범위 안에 미션이 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용, 정확히 상한값은 허용). 초과 시 400 + developCode 12401, 좌표가 WGS84 범위를 벗어나거나 bbox 가 뒤집히면 12400, type 이 없거나 EVENT·POPUP 이 아니면 12402, unit 이 없거나 미지원 값이면 12405 다. 응답에 사용자별 값은 없다.","operationId":"getMissionAggregates","parameters":[{"name":"type","in":"query","description":"미션 종류 — EVENT(지역축제), POPUP(팝업스토어). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"POPUP"},{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"SIGUNGU"},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMissionRegionAggregateResponseDto"}}}}}}},"/api/missions/active":{"get":{"tags":["미션 (Missions)"],"summary":"뷰포트 내 활성 미션 목록 조회","description":"지도 화면 bbox(남서~북동 좌표) 안의, 고른 종류(type)의 활성 미션을 유형별 렌더 shape(코스=PATH·축제/팝업=BOX)로 반환한다. bbox span 상한은 0.5도로 위도·경도 각 변에 따로 적용된다(정확히 0.5도는 허용). 초과 시 잘라서 응답하지 않고 400 + developCode 12401(VIEWPORT_TOO_LARGE)로 거절한다. 클라이언트는 격자 개별 조회(GET /api/grids)를 멈추는 것과 같은 0.5도 지점에서 이 조회도 멈추고 확대 안내를 그린다.\n\n보이는 범위에 그 종류 미션이 없으면 실패가 아니라 빈 배열이다(뷰포트가 너무 넓은 12401 과 다른 상태). 한국 밖이지만 WGS84 정의역 안인 bbox 도 오류가 아니라 빈 배열이다. 응답에 사용자별 값은 없다 — 진행도는 GET /api/missions/progress 로 따로 받는다.","operationId":"getActiveMissionsInViewport","parameters":[{"name":"type","in":"query","description":"미션 종류 — EVENT(지역축제), POPUP(팝업스토어), COURSE(경로추천). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"POPUP"},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMissionResponseDto"}}}}}}},"/api/hotzones":{"get":{"tags":["핫구역 (HotZone)"],"summary":"뷰포트 내 핫구역 조회","description":"지도 화면 bbox(남서~북동 좌표) 안의 핫구역을 핫스코어 내림차순으로 반환한다. 전국 상위 K(50)·최소 임계(3) 판정 후 뷰포트 필터 — 없으면 빈 목록이다.\n\n항목마다 표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). 이름 때문에 마커마다 단건 조회를 돌릴 필요가 없다.","operationId":"getHotZones","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoHotZoneListResponseDto"}}}}}}},"/api/hotzones/aggregation":{"get":{"tags":["핫구역 (HotZone)"],"summary":"뷰포트 내 핫구역 행정 단위 집계 조회","description":"축소 화면용 — 뷰포트 안 핫구역을 행정 단위(동·구·시)로 묶어 지역 이름과 핫 격자 수로 반환한다. 묶음 대상은 개별 조회(GET /api/hotzones)와 완전히 같은 판정 집합이라 두 화면을 갈아타도 세는 대상이 달라지지 않는다.\n\n항목마다 gridIds 가 함께 온다 — 묶음 마커를 눌러 줌인한 뒤 개별 조회 결과와 교집합으로 목록을 좁히는 재료다. count 는 핫 격자 수이고 핫스코어 합산이 아니다. 행정동이 판정되지 않은 격자는 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 마지막에 온다. 범위 안에 핫 격자가 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용, 정확히 상한값은 허용). 초과 시 400 + developCode 8401, 좌표가 WGS84 범위를 벗어나거나 bbox 가 누락·뒤집히면 8400, unit 이 없거나 미지원 값이면 8405 다. 응답에 사용자별 값은 없다.","operationId":"getHotZoneAggregates","parameters":[{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"SIGUNGU"},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListHotZoneRegionAggregateResponseDto"}}}}}}},"/api/grids":{"get":{"tags":["격자 (Grid)"],"summary":"뷰포트 내 색칠 격자 조회 (커서 페이지네이션)","description":"지도 화면 bbox(남서~북동 좌표) 안에서 내가 점령한 격자를 (grid_y, grid_x) 오름차순으로 반환한다. 응답의 nextCursor를 다음 요청 cursor에 넣어 이어서 조회한다. bbox span 상한은 0.5도로 위도·경도 각 변에 따로 적용된다(정확히 0.5도는 허용). 초과 시 잘라서 응답하지 않고 400 + developCode 4402(VIEWPORT_TOO_LARGE)로 거절한다.\n\n항목마다 표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). 이름 때문에 다른 API를 더 호출할 필요가 없다.","operationId":"getOccupiedInViewport","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05},{"name":"cursor","in":"query","description":"다음 페이지 커서 (직전 응답의 nextCursor). 첫 페이지는 생략","required":false,"schema":{"type":"string"},"example":"MTk0MjJfOTU4Mg=="},{"name":"size","in":"query","description":"페이지 크기 (기본 1000, 최대 5000)","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":1000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOccupiedGridPageResponseDto"}}}}}}},"/api/grids/{gridId}":{"get":{"tags":["격자 (Grid)"],"summary":"단일 격자 색칠 상태 조회","description":"특정 격자를 내가 점령(색칠)했는지와 내 영상 수를 반환한다. 미점령 격자도 404가 아니라 occupied=false로 응답한다.\n\n표시 이름 재료가 함께 온다: zoneName이 null이면 regionName(행정동)이 표시 이름이다(폴백에는 칸 번호를 붙이지 않는다). regionName은 아직 아무도 영상을 올리지 않은 격자에도 실리고, 어느 행정동에도 속하지 않거나 서비스 범위(한국) 밖인 격자면 null이다(에러가 아니다).","operationId":"getCell","parameters":[{"name":"gridId","in":"path","description":"격자 ID (\"{grid_y}_{grid_x}\" 포맷)","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridCellResponseDto"}}}}}}},"/api/grids/{gridId}/videos":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 영상 목록 조회","description":"그 격자에 쌓인 공개(PUBLIC)·READY 영상을 전역(본인·타인 포함)에서 조회수(viewCount) → 최신(createdAt) 순으로 페이지 조회한다. 비공개·삭제·인코딩 미완 영상은 본인 것이라도 제외한다. 첫 요청은 cursor 없이 부르고, hasNext 가 true 면 응답의 nextCursor 를 다음 요청 cursor 로 넘기면 이어진다. 무효 커서는 400(INVALID_CURSOR)이고, size 는 1~50 밖이면 클램프된다. 후보가 없거나 존재하지 않는 gridId 는 빈 페이지다. 썸네일은 presigned GET URL 로 내려준다.","operationId":"getGridGlobalVideos","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"},{"name":"cursor","in":"query","description":"직전 응답의 nextCursor (opaque). 생략하면 첫 페이지","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"페이지 크기 (1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridVideoPageResponseDto"}}}}}}},"/api/grids/{gridId}/my-videos":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자별 내 영상 리스트 조회","description":"로그인 사용자가 해당 격자에 올린 본인 영상을 최근 업로드 순(createdAt DESC)으로 반환한다. 미점령·타인만 점령한 격자·존재하지 않는 gridId 는 빈 배열이다. 썸네일은 presigned GET URL 로 내려주며 READY 이전이면 null 이다.","operationId":"getGridVideos","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListGridVideoResponseDto"}}}}}}},"/api/grids/{gridId}/missions":{"get":{"tags":["미션 (Missions)"],"summary":"격자가 대표 격자인 미션 조회","description":"지도에서 누른 격자가 어느 축제·팝업 미션의 자리인지 되짚는다. 미션 경유로 올린 영상은 그 미션의 대표 격자 한 칸에만 저장되므로, 영상이 모인 칸을 눌러 무슨 미션이었는지 확인하는 경로다.\n\n기간 필터가 없다 — 끝난 축제도 담긴다. 진행 중인지 시작 전인지 끝났는지는 startAt·endAt 을 서버 시각과 견주어 화면이 판정한다. 배열 첫 항목이 화면 진입 기본값이 되도록 진행 중 → 시작 전(임박한 순) → 종료(최근 종료 순)로 정렬한다.\n\n판정 범위(축제 9×9)에만 걸친 격자는 나오지 않는다 — 나오는 것은 영상이 모인 자리로 지목된 미션뿐이다. 어떤 미션의 대표 격자도 아닌 격자와 격자 형식이 아닌 문자열은 오류가 아니라 빈 배열이다. videoCount 는 미션 상세의 videoCount 와 같은 술어라 두 화면의 숫자가 어긋나지 않는다. 비로그인으로도 조회할 수 있다.","operationId":"getMissionsByGrid","parameters":[{"name":"gridId","in":"path","description":"격자 id — \"{gridY}_{gridX}\" 포맷","required":true,"schema":{"type":"string"},"example":"19443_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListGridMissionResponseDto"}}}}}}},"/api/grids/{gridId}/hourly-uploads":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 시간대 분포 조회","description":"그 격자의 공개(PUBLIC)·READY 영상이 업로드된 시간대 분포를 KST 0시부터 23시까지 24구간 개수로 반환한다. 세는 대상은 전역 영상 목록(/videos)과 같아 카드에 보이는 영상만 세어진다 — 비공개·삭제·인코딩 미완 영상은 본인 것이라도 빠진다. 집계 구간은 전체 누적이며, 응답의 hours 는 항상 24개·hour 오름차순이라 빈 시간대도 count 0 으로 실린다. 공개 영상이 없는 격자·존재하지 않는 gridId 도 전 구간 0 인 정상 응답이다.","operationId":"getGridHourlyUploads","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridHourlyUploadResponseDto"}}}}}}},"/api/grids/{gridId}/event-locations":{"get":{"tags":["행사 (Events)"],"summary":"격자가 속한 행사 위치 조회","description":"지도에서 누른 격자가 어느 행사 위치에 속하는지 해석한다. 영상은 위치의 대표 격자 하나에만 저장되므로, 영역 안 아무 격자나 눌러도 같은 위치가 나오는 이 역조회가 위치별 영상 피드로 들어가는 유일한 경로다.\n\n같은 장소에서 행사가 여러 번 열렸으면 회차마다 한 항목씩 배열로 온다. 배열 첫 항목이 화면 진입 기본값이 되도록 진행 중 → 예정 → 업로드 유예 → 아카이브 순으로 정렬하며, 예정끼리는 임박한 순, 나머지는 최근 순이다. 아직 노출 기간 전인 예정 회차는 배열에 담기지 않는다.\n\n어떤 행사 위치에도 속하지 않는 격자와 격자 형식이 아닌 문자열은 오류가 아니라 빈 배열이다. 비로그인으로도 조회할 수 있다.","operationId":"getEventLocationsByGrid","parameters":[{"name":"gridId","in":"path","description":"격자 id — \"{gridY}_{gridX}\" 포맷","required":true,"schema":{"type":"string"},"example":"19443_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListGridEventLocationResponseDto"}}}}}}},"/api/grids/{gridId}/cover":{"get":{"tags":["격자 상세 (Grid Videos)"],"summary":"격자 전역 대표 영상 조회","description":"그 격자를 전역에서 대표하는 영상 1건을 반환한다. 공개(PUBLIC)·READY 영상 중 조회수(view_count) → 최신(createdAt) 순으로 뽑으며, 본인·타인 영상 모두 후보다. 비공개·삭제·인코딩 미완 영상은 제외한다. 후보가 없으면(미점령·비공개만·존재하지 않는 gridId) data 는 null 이다. 썸네일은 presigned GET URL 로 내려준다.","operationId":"getGridCover","parameters":[{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridCoverVideoResponseDto"}}}}}}},"/api/grids/aggregation":{"get":{"tags":["격자 (Grid)"],"summary":"뷰포트 내 색칠 격자 행정 단위 집계 조회 (줌아웃)","description":"응답 data는 {currentRegion, items} 객체다. currentRegion은 뷰포트 중심이 속한 행정동의 이름과 그 동 전체에서 내가 점령한 격자 수·영상 수를 담는다. 화면 범위나 unit과 무관하며, 중심이 해상 또는 서비스 범위 밖일 때만 null이다.\n\nitems는 bbox 안에서 내가 점령한 격자를 행정 단위로 묶어 센 목록이다. 단위 전환 시점은 서버가 정하지 않으며 클라이언트가 화면 축척에 맞춰 unit만 바꿔 부른다. items가 비어 있어도 한국 내 중심점의 currentRegion은 이름과 0 집계를 독립적으로 담는다.\n\n항목마다 마커 식별 키(regionCode), 표시 이름, 대표 좌표, 격자 수가 온다. 대표 좌표는 그 묶음에 속한 점령 격자 중심의 평균이라 마커가 실제 데이터 위에 선다. 어느 단위로 묶어도, 항목을 더 묶어 합산해도 같은 bbox 개별 격자 조회의 총 개수와 일치한다.\n\n행정동이 판정되지 않은 격자(해상 등)는 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 온다. 점령 격자가 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용). 초과 시 400 + developCode 4402, 좌표가 WGS84 범위를 벗어나거나 bbox 가 뒤집히면 4401, unit 이 없거나 미지원 값이면 4405 다.","operationId":"getOccupiedAggregatesInViewport","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2},{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"DONG"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoGridAggregationResponseDto"}}}}}}},"/api/friends":{"get":{"tags":["친구 (Friend)"],"summary":"친구 목록 조회","description":"수락된 친구 전체를 반환한다 — 누가 먼저 요청했는지와 무관하다. 기본 정렬은 친구가 된 시각 내림차순이고 sort=nickname 이면 닉네임순이다. 친구가 없으면 빈 배열.","operationId":"getFriends","parameters":[{"name":"sort","in":"query","description":"정렬 기준 — recent(기본, 친구가 된 시각 내림차순) 또는 nickname","required":false,"schema":{"type":"string"},"example":"nickname"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFriendListItemResponseDto"}}}}}}},"/api/friends/{userId}/profile":{"get":{"tags":["친구 (Friend)"],"summary":"친구 프로필·도감 요약 조회","description":"친구의 프로필(닉네임·프로필 이미지·도감 색상)과 도감 요약(수집 격자 수·영상 총합·방문 동 수), 최근 수집 격자 최대 30개를 한 번에 반환한다. 도감 요약 수치는 그 친구가 자기 도감에서 보는 값과 같다. 썸네일은 그 격자에 재생 가능한 공개 영상이 있을 때만 붙는다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendProfileResponseDto"}}}}}}},"/api/friends/{userId}/grids":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 뷰포트 조회","description":"지도 화면 bbox(남서~북동 좌표) 안에서 그 친구가 점령한 격자를 (grid_y, grid_x) 오름차순으로 반환한다. 응답 형상·검증 규칙·에러는 내 격자 조회(GET /api/grids)와 같다 — 응답의 nextCursor 를 다음 요청 cursor 에 넣어 이어 조회하고, bbox span 상한 0.5도는 위도·경도 각 변에 따로 적용되며 초과 시 400 + 4402(VIEWPORT_TOO_LARGE)로 거절된다. 격자 색상은 내려주지 않는다(FE 단일색 렌더). 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGrids","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.5},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.0},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":37.55},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":127.05},{"name":"cursor","in":"query","description":"다음 페이지 커서 (직전 응답의 nextCursor). 첫 페이지는 생략","required":false,"schema":{"type":"string"},"example":"MTk0MjJfOTU4Mg=="},{"name":"size","in":"query","description":"페이지 크기 (기본 1000, 최대 5000)","required":false,"schema":{"type":"integer","format":"int32","default":1000},"example":1000}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoOccupiedGridPageResponseDto"}}}}}}},"/api/friends/{userId}/grids/{gridId}/videos":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 영상 목록 조회","description":"그 친구가 해당 격자에 올린 영상을 최근 업로드 순으로 반환한다. 친구에게 공개된 영상(전체 공개·친구만 보기)만 담기고 비공개 영상은 포함되지 않으며, 삭제·인코딩 미완 영상도 제외된다 — 목록의 영상은 모두 재생 조회로 바로 진입할 수 있다. 친구가 점령하지 않은 격자·존재하지 않는 gridId 는 빈 배열이다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGridVideos","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"gridId","in":"path","description":"격자 ID","required":true,"schema":{"type":"string"},"example":"19422_9582"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFriendGridVideoResponseDto"}}}}}}},"/api/friends/{userId}/grids/aggregation":{"get":{"tags":["친구 (Friend)"],"summary":"친구 격자 행정 단위 집계 조회 (줌아웃)","description":"지도를 축소한 시야에서 그 친구가 점령한 격자를 행정 단위로 묶어 센 목록을 페이지 없이 한 번에 반환한다. 파라미터·에러는 내 집계 조회(GET /api/grids/aggregation)와 같고, 묶음 항목의 공통 필드는 내 집계 조회와 같다. 다만 친구 응답은 currentRegion/items 겉면 없이 기존 배열로 반환한다. 단위 전환 시점은 서버가 정하지 않고 클라이언트가 화면 축척에 맞춰 unit 만 바꿔 부른다.\n\n항목마다 마커 식별 키(regionCode), 표시 이름, 대표 좌표, 격자 수가 온다. 행정동이 판정되지 않은 격자(해상 등)는 제외가 아니라 regionCode·name 이 null 인 항목 하나로 묶여 오고, 그 친구가 점령한 격자가 없으면 빈 배열이다.\n\nbbox span 상한은 단위별로 다르다(DONG 1도, SIGUNGU 4도, SIDO 10도 — 위도·경도 각 변에 따로 적용). 초과 시 400 + developCode 4402, bbox 가 뒤집히거나 파라미터가 빠지면 4401, unit 이 없거나 미지원 값이면 4405 다. 친구가 아닌 사용자·본인·존재하지 않는 사용자 조회는 모두 같은 404 다.","operationId":"getFriendGridAggregates","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.3},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.2},{"name":"unit","in":"query","description":"집계 단위 — DONG(동), SIGUNGU(시군구), SIDO(시도). 대소문자 무관","required":true,"schema":{"type":"string"},"example":"DONG"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionAggregateResponseDto"}}}}}}},"/api/friends/requests/received":{"get":{"tags":["친구 (Friend)"],"summary":"받은 친구 요청 목록","description":"내가 수신자인 대기 중 요청을 최신순으로 반환한다. 항목의 requesterId 를 수락/거절 경로 변수로 그대로 쓴다.","operationId":"getReceivedRequests","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListReceivedFriendRequestResponseDto"}}}}}}},"/api/friends/preview":{"get":{"tags":["친구 (Friend)"],"summary":"친구 코드 미리보기","description":"요청을 보내기 전 확인 화면용 — 코드 소유자의 닉네임과 나와의 관계 상태(relation)를 반환한다. relation 은 SELF(내 코드)·NONE(관계 없음)·OUTGOING_PENDING(내가 보낸 요청 대기)·INCOMING_PENDING(상대가 보낸 요청 대기)·FRIENDS(이미 친구) 다섯 값이고 조회 시점 실시간 판정이다. 미리보기는 힌트일 뿐이며 최종 검증(자기 자신·중복 등)은 요청 API 가 다시 수행한다.","operationId":"preview","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendPreviewResponseDto"}}}}}}},"/api/friends/code":{"get":{"tags":["친구 (Friend)"],"summary":"내 친구 코드 조회","description":"가입 시 자동 부여된 고정 8자 코드를 반환한다. 상대에게 임의 채널(카톡 등)로 공유하면 상대가 이 코드로 친구 요청을 보낼 수 있다. 재발급 없음.","operationId":"getMyFriendCode","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendCodeResponseDto"}}}}}}},"/api/event-videos/{videoId}":{"get":{"tags":["행사 (Events)"],"summary":"행사 영상 상세 조회","description":"영상 하나의 재생본 presigned GET URL 과 표시 재료를 돌려준다. 소속 행사 회차·위치·대표 격자와 그 표시명 재료가 함께 담겨, 상세 화면이 추가 호출 없이 위치줄을 그린다.\n\n피드에 보이는 영상만 열린다 — 삭제·블라인드·비공개·처리 미완료 영상은 올린 본인에게도 404 + developCode 13406 이다(본인 영상 확인은 GET /api/videos/{videoId}). 행사 영상이 아닌 영상 id 도 같은 404 다.\n\ninteractionLocked 는 아카이브 전환(행사 종료 + 30일)부터 true 이며 댓글·도움돼요 입력 UI 를 비활성화하는 재료다(기존 수는 계속 표시. 유예 기간에는 반응을 계속 남길 수 있다). 재생 URL 을 발급받은 타인 조회는 조회수를 올린다 — 비로그인 조회도 포함이고 올린 본인은 제외다.","operationId":"getVideoDetail","parameters":[{"name":"videoId","in":"path","description":"영상 id","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventVideoDetailResponseDto"}}}}}}},"/api/event-occurrences":{"get":{"tags":["행사 (Events)"],"summary":"뷰포트 내 행사 회차 목록 조회","description":"지도 화면 bbox(남서~북동 좌표) 안에 노출 영역이 걸친 행사 회차를 반환한다. 담기는 것은 진행 중이거나, 시작 2주 전부터의 노출 기간에 든 예정 회차뿐이다 — 종료된 행사(업로드 유예·아카이브)는 칩에 담기지 않고 상세·격자 역조회로만 접근한다. 아직 노출 기간 전인 예정 회차는 존재 자체를 숨긴다.\n\n정렬은 시 이름 → 시작일 → 회차 id 오름차순이라, 시 칩 아래에 그 시의 행사 칩을 나열하는 화면이 매 요청 같은 순서를 받는다. 보이는 범위에 행사가 없으면 실패가 아니라 빈 배열이다.\n\nbbox span 상한은 0.5도로 위도·경도 각 변에 따로 적용된다(정확히 0.5도는 허용). 초과 시 400 + developCode 13401, 좌표가 WGS84 범위를 벗어나거나 bbox 가 뒤집히거나 파라미터가 빠지면 13400 이다. D-day 는 startsAt 을 KST 로 읽어 클라이언트가 계산한다.","operationId":"getOccurrencesInViewport","parameters":[{"name":"swLat","in":"query","description":"남서 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.1},{"name":"swLng","in":"query","description":"남서 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":128.9},{"name":"neLat","in":"query","description":"북동 모서리 위도","required":true,"schema":{"type":"number","format":"double"},"example":35.2},{"name":"neLng","in":"query","description":"북동 모서리 경도","required":true,"schema":{"type":"number","format":"double"},"example":129.1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListEventOccurrenceChipResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}":{"get":{"tags":["행사 (Events)"],"summary":"행사 회차 상세 조회","description":"이벤트 헤더 재료 — 행사명, 기간, 업로드 마감(종료 30일 후), 서버 시각 기준 상태, 알림 구독 여부, 같은 시리즈의 지난 회차 목록이다. 상태는 저장값이 아니라 요청 시점 계산이며 경계 정각은 다음 상태에 속한다(종료 정각부터 UPLOAD_GRACE).\n\n지난 회차는 최신순이고 예정 회차는 담기지 않는다. 그 회차의 위치·영상은 회차 id 로 위치 목록을 다시 부르면 되므로 회차 간 데이터가 섞이지 않는다. 알림 구독 여부는 구독을 켰으면서 회차가 예정이거나 진행 중일 때만 true 다 — 비로그인 열람과 종료된 회차는 false 다.\n\n존재하지 않는 회차와 아직 노출 기간 전인 예정 회차는 똑같이 404 + developCode 13404 다 — 노출 전 행사의 존재를 id 대입으로 알아낼 수 없다.","operationId":"getOccurrenceDetail","parameters":[{"name":"occurrenceId","in":"path","description":"행사 회차 id","required":true,"schema":{"type":"integer","format":"int64"},"example":12}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventOccurrenceDetailResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}/viewer-count":{"get":{"tags":["이벤트 (Event)"],"summary":"현재 열람 인원 조회","description":"viewerCount 0 은 아무도 없음(표시), null 은 캐시 장애(숨김)다. 응답이 사용자 무관이라 인증 없이 호출할 수 있다.","operationId":"getViewerCount","parameters":[{"name":"occurrenceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoEventViewerCountResponseDto"}}}}}}},"/api/event-occurrences/{occurrenceId}/locations":{"get":{"tags":["행사 (Events)"],"summary":"행사 회차의 위치 목록 조회","description":"회차에 속한 행사 위치(팝업·체험존·퍼레이드 등)와 각 위치의 격자 영역, 대표 격자, 표시명 재료, 영상 수를 반환한다. 영상 수는 집계 테이블 없이 조회 시점에 세며, 위치별 영상 피드에 실제로 보이는 영상만 센다(삭제·비공개·처리 미완료 제외).\n\ngridIds 는 화면에서 영역을 채색하는 재료이고 영상은 그중 representativeGridId 하나에만 붙는다. 표시명은 대표 격자 기준으로 `zoneName + \" \" + zoneCell`, 구역 밖이면 regionName 을 쓴다. 정렬은 표시 순서 → 위치 id 오름차순이다. 위치가 없으면 빈 배열이고, 존재하지 않는 회차와 노출 기간 전인 예정 회차는 404 + developCode 13404 다.","operationId":"getLocations","parameters":[{"name":"occurrenceId","in":"path","description":"행사 회차 id","required":true,"schema":{"type":"integer","format":"int64"},"example":12}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListEventLocationResponseDto"}}}}}}},"/api/collections/videos":{"get":{"tags":["도감 (Collection)"],"summary":"동 단위 내 영상 조회","description":"행정동(regionCode) 격자들에 올린 로그인 사용자의 영상을 created_at 내림차순으로 반환한다(무커서). regionCode 는 by-grid 응답의 regionCode 를 그대로 넘긴다. 귀속은 격자 축이라 영상 좌표가 옆 동이어도 격자 소속 행정동 기준으로 포함된다. 내 도감이라 PRIVATE·인코딩 중 영상도 포함하며(status ACTIVE 만), 그 행정동에 내 영상이 없거나 미존재 regionCode 면 에러 없이 빈 배열을 받는다.","operationId":"getRegionVideos","parameters":[{"name":"regionCode","in":"query","description":"행정동 코드 — by-grid 응답의 regionCode 를 그대로 전달","required":true,"schema":{"type":"string"},"example":1168051500}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListRegionVideoResponseDto"}}}}}}},"/api/collections/upload-history":{"get":{"tags":["도감 (Collection)"],"summary":"날짜별 업로드 기록 조회","description":"로그인 사용자 본인의 업로드를 KST 날짜로 접어, 업로드가 있었던 날과 그날의 건수를 날짜 오름차순으로 반환한다(잔디 재료 — 빈 날은 항목 없음, 빈 칸 채우기는 FE 몫). 삭제·블라인드된 영상의 업로드도 센다. 업로드 0건 사용자는 에러 없이 빈 배열을 받는다.","operationId":"getUploadHistory","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListUploadHistoryResponseDto"}}}}}}},"/api/collections/summary":{"get":{"tags":["도감 (Collection)"],"summary":"개인 도감 요약 조회","description":"로그인 사용자의 점령한 격자 수·올린 영상 총합·방문한 행정동 수에 더해 현재 스트릭·최장 스트릭·획득 뱃지 수를 한 번에 반환한다. 현재 스트릭은 마지막 기록이 KST 그제 이전이면 0이다. 업로드 경험 0 사용자도 에러 없이 여섯 값이 모두 0으로 응답한다.","operationId":"getSummary","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoCollectionSummaryResponseDto"}}}}}}},"/api/collections/grids":{"get":{"tags":["도감 (Collection)"],"summary":"갤러리 격자 목록 조회","description":"로그인 사용자가 수집한 격자를 카드로 반환한다(무커서). 파라미터를 모두 생략하면 전국을 first_collected_at 내림차순 최대 30개로 준다(기존 계약). regionCode 를 주면 그 행정동에 속한 내 격자만 나가며, 귀속은 격자 축이라 영상 좌표가 옆 동이어도 격자 소속 행정동 기준으로 잡힌다. 각 항목은 gridId·gridY/gridX·수집/방문 시각·영상 수·cover 영상 ID·cover 썸네일 URL·cover 길이(초)를 담는다. 내 격자가 없거나 미존재 regionCode 면 에러 없이 빈 배열을 받는다.","operationId":"getCollectionGrids","parameters":[{"name":"regionCode","in":"query","description":"행정동 코드 — 생략하면 전국. by-grid 응답의 regionCode 를 그대로 전달","required":false,"schema":{"type":"string"},"example":1168051500},{"name":"sort","in":"query","description":"정렬 축 — COLLECTED(수집 시각순, 기본) 또는 UPLOADED(최신 업로드순)","required":false,"schema":{"type":"string","default":"COLLECTED","enum":["COLLECTED","UPLOADED"]}},{"name":"limit","in":"query","description":"카드 수 상한 — 지도 홈 패널은 20 (SRS FR-MAP-10). 생략하면 regionCode 없을 때 30, regionCode 있을 때 그 동네 전부. 1 미만은 1 로 보정한다","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListCollectionGridResponseDto"}}}}}}},"/api/badges":{"get":{"tags":["뱃지 (Badge)"],"summary":"내 뱃지 전체 목록","description":"시딩된 뱃지를 내 획득 상태와 함께 시딩 순(badges.id 오름차순)으로 반환한다. 은퇴 뱃지(retired_at 있음)는 획득자에게만 보이고 미획득자 목록에서는 빠진다 — 그래서 사용자마다 행 수가 다를 수 있다. 미획득 행은 earned false·earnedAt null·isNew false·featuredRank null. 이번 응답에 노출된 미확인(새 뱃지) 행은 자동으로 확인 처리되어 다음 조회부터 isNew false 가 된다.","operationId":"findMyBadges","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListMyBadgeResponseDto"}}}}}}},"/api/auth/password/status":{"get":{"tags":["비밀번호 (Password)"],"summary":"비밀번호 강제 변경 상태 조회","description":"true 면 초기 비밀번호 상태라 행사 등재 콘솔(/api/org/**)이 전부 막힌다. 비밀번호가 없는 소셜 계정은 항상 false 다.","operationId":"getStatus","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPasswordStatusResponseDto"}}}}}}},"/api/auth/oauth/kakao/authorize":{"get":{"tags":["인증 (Auth)"],"summary":"카카오 로그인 시작 (인가 진입점)","description":"웹 로그인의 시작점이다. 클라이언트는 이 URL 로 이동하기만 하면 된다(location.href). 서버가 카카오 인가 URL(client_id·response_type=code·scope=openid·nonce 포함)을 조립해 302 로 보내면서 같은 응답에 OAUTH_NONCE 쿠키(HttpOnly, 10분)를 심는다. 그래서 scope=openid 누락이나 nonce 누락이 구조적으로 불가능하고, REST API 키가 클라이언트 코드로 나갈 일도 없다. 응답은 리다이렉트라 공통 응답 포맷을 쓰지 않는다.","operationId":"redirectToKakaoAuthorize","parameters":[{"name":"redirectUri","in":"query","description":"카카오 콜백 URI. 콘솔 등록값과 정확히 일치해야 한다(검증 주체는 카카오).","required":true,"schema":{"type":"string"},"example":"http://localhost:5173/oauth/kakao/callback"},{"name":"state","in":"query","description":"콜백 위조 검증용 난수. 서버는 손대지 않고 인가 URL 에 그대로 전달한다.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/admin/videos/{videoId}":{"get":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"관리자 단건 영상 확인","description":"신고 판단용으로 영상 하나를 확인한다 — 공개범위와 상태(BLINDED 포함)를 무시하고 요청 시점에 재생·썸네일 presigned URL 을 발급하며, 조회수를 올리지 않는다. 처리 상태가 READY 가 아니면 playbackUrl 과 expiresInSec 은 null 이다. 없는 영상과 삭제된 영상은 404(3404) 다.","operationId":"getVideoForReview","parameters":[{"name":"videoId","in":"path","description":"확인할 영상 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1042}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminVideoReviewResponseDto"}}}}}}},"/api/admin/reports":{"get":{"tags":["관리자 신고 처리 (Admin Report)"],"summary":"신고 목록 조회","description":"상태 필터 기준으로 신고를 접수 최신순 페이지 단위로 조회한다. 기본은 미처리(PENDING) 신고다. 항목에 신고자·영상 소유자 닉네임과 영상 현재 상태가 함께 담겨 목록만으로 판단할 수 있다. 지원하지 않는 status 는 400(11420), page 음수나 size 범위(1~100) 밖은 400(11421) 이다. REVIEWING 은 유효한 값이지만 만드는 경로가 없어 항상 빈 목록이다.","operationId":"getReports","parameters":[{"name":"status","in":"query","description":"신고 상태 필터 (PENDING, REVIEWING, RESOLVED, REJECTED — 대소문자 무관)","required":false,"schema":{"type":"string","default":"PENDING"},"example":"PENDING"},{"name":"page","in":"query","description":"페이지 번호 (0부터)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"페이지 크기 (1~100)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminReportListResponseDto"}}}}}}},"/api/admin/org-account-requests":{"get":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"계정 발급 요청 목록 조회","description":"상태 필터 기준으로 발급 요청을 마지막 접수 최신순 페이지 단위로 조회한다. 기본은 대기(PENDING) 요청이다. 상태별 건수 3종이 필터와 무관하게 함께 실려 탭 뱃지를 그릴 수 있다.\n\n지원하지 않는 status 는 400(1424), page 음수나 size 범위(1~100) 밖은 400(1425) 이다.","operationId":"getRequests","parameters":[{"name":"status","in":"query","description":"처리 상태 필터 (PENDING, ISSUED, REJECTED — 대소문자 무관)","required":false,"schema":{"type":"string","default":"PENDING"},"example":"PENDING"},{"name":"page","in":"query","description":"페이지 번호 (0부터)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"페이지 크기 (1~100)","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminOrgAccountRequestListResponseDto"}}}}}}},"/api/admin/org-account-requests/{requestId}":{"get":{"tags":["관리자 행사 운영자 계정 (Admin Org Account)"],"summary":"계정 발급 요청 상세 조회","description":"접수 필드 전체와 처리 결과를 조회한다. 응답의 updatedAt 은 승인·반려 요청에 그대로 되돌려 보내야 하는 검토 기준 시각이다 — 검토와 처리 사이에 신청 내용이 바뀌면 그 값으로 걸러진다.\n\n없는 요청은 404(1421) 다.","operationId":"getRequest","parameters":[{"name":"requestId","in":"path","description":"조회할 요청 id","required":true,"schema":{"type":"integer","format":"int64"},"example":7}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAdminOrgAccountRequestDetailResponseDto"}}}}}}},"/api/admin/events":{"get":{"tags":["관리자 승인 행사 (Admin Approved Event)"],"summary":"승인 행사 목록 조회","description":"승인된 행사를 노출 중(EXPOSED)·예정(UPCOMING)·종료(ENDED) 탭으로 조회한다. 기본은 노출 중이다. 상태는 저장값이 아니라 <b>조회 시점 KST 오늘과 행사 기간으로 파생</b>하므로 시작일 당일은 노출 중, 종료일 당일도 노출 중이고 그 다음 날부터 종료다.\n\n탭 건수 3종은 탭과 무관한 전체 집계라 화면 뱃지에 그대로 쓴다. <b>노출이 중지된 행사도 탭에 그대로 남고</b> unpublished·unpublishedAt·unpublishReason 으로 구분된다 — 무엇을 왜 내렸는지 관리자가 계속 확인할 수 있어야 하기 때문이다.\n\n지원하지 않는 status 는 400(13455), page 음수나 size 범위(1~100) 밖은 400(13456) 이다.","o
[...]
